<% include ../partials/header %>
<% include ../partials/innerheader %>
<div class="container">
    <form class="center" action="/account/change_card" method="POST">
        <div class="row margin-bottom-5">
            <h3 class="align-center margin-top-5 margin-bottom-5 h3-gray-title font-size-14">Credit card
                information</h3>

            <div class="col-xs-12">


                <input type="text" title="Please select credit card holder firstname" name="credit_card[first_name]"
                       id="first_name" placeholder="First Name"
                       class="user-icon margin-bottom-5" pattern="^[a-zA-Z]+$" required><br>

                <input type="text" name="credit_card[last_name]" id="last_name" placeholder="Last Name"
                       class="user-icon margin-bottom-5" pattern="^[a-zA-Z0-9]+$"
                       title="Please select credit card holders lastname" required><br>
                <label for="credit-card-type" class="custom-select">
                    <select title="Please select credit card type" name="credit_card[type]" id="type" required=""
                            class="custom-input margin-bottom-5 card-icon select-card-type">
                        <option value="none">Select card type</option>
                        <option value="visa">Visa Card</option>
                        <option value="mastercard">Master card</option>
                        <option value="discover">Discover</option>
                        <option value="maestro">Maestro</option>
                    </select>
                </label>


                <input type="tel" name="credit_card[number]" id="number" title="Please select credit card number"
                       required="" placeholder="Card number"
                       class="card-icon custom-input margin-bottom-5" pattern="^[0-9]+$"><br>
                <input type="tel" name="credit_card[cvv2]" required="" id="cvv2" title="Please enter security code"
                       placeholder="Enter card security code"
                       class="card-cvv-icon custom-input" pattern="^[0-9]+$"><br>

            </div>

        </div>
        <div class="row">
            <div class="center">
                <div class="col-xs-6">
                    <label for="credit-card-type" class="custom-select">
                        <select name="credit_card[expire_month]"
                                class="custom-input margin-bottom-5 calendar-icon select-card-type"
                                title="Please select credit card expiry month">
                            <option value="none">Select Month</option>
                            <% for(j = 1;j <= 12;j++){ %>
                            <option value="<%= j %>"><%= j %></option>
                            <% } %>
                        </select>
                    </label>
                </div>
                <div class="col-xs-6">
                    <label for="credit-card-type" class="custom-select" title="Please select credit card expiry year">
                        <select name="credit_card[expire_year]"
                                class="custom-input margin-bottom-5 calendar-icon select-card-type">
                            <option value="none">Select Year</option>
                            <% date = new Date();j = 0; for(j = 0;j <= 15;j++){ %>
                            <option value="<%= date.getFullYear() + j %>"><%= date.getFullYear() + j %></option>
                            <% } %>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input type="button" value="Cancel"
                       class="submit-button margin-bottom-5 margin-top-5 custom-input light-gray-bg custom-submit-button"
                       onclick="window.location.href='/dashboard'">
            </div>
            <div class="col-xs-6">
                <input type="submit" value="Change card"
                       class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 text-center">
                <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
                   onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                            src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_secured_by_pp_2line.png" border="0"
                            class="img-responsive" alt="Secured by PayPal"></a>
            </div>




        </div>
    </form>
</div>

<% include ../partials/footer %>