<% include ../partials/header %>
<% include ../partials/innerheader %>
<div class="container">
   <form action="/account/change_card" method="get">
       <div class="row margin-bottom-5">
           <h3 class="align-center margin-top-5 margin-bottom-5 h3-gray-title font-size-14">Credit card
               information</h3>
        <div class="row">
            <div class="col-xs-6">
                <b class="padding-card-info">First name</b>
            </div>
            <div class="col-xs-6">
                <%= user.card.first %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <b class="padding-card-info">Last name</b>
            </div>
            <div class="col-xs-6">
                <%= user.card.last %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <b class="padding-card-info">Card number</b>
            </div>
            <div class="col-xs-6">
                <%= user.card.digits %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Change card" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button" />
            </div>
        </div>
       </div>
   </form>
</div>
<% include ../partials/footer %>