 <% include ../partials/header %>
<div class="container">

    <div class="col-sm-12">
        <form action='/account/payment' method="POST" >
            <div class="form-group">
                <label for='number'>CC Number</label>
                <input type="number" title="Please enter credit card number"  required="" class="form-control" name="number" id="number">
            </div>
            <div class="form-group">
                <label for='type'>Type</label>
                <select required="required" title="Please select card type" name="type" id="type" class="form-control">
                    <option value="">Select Credit Card Type</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">MasterCard</option>
                </select>
            </div>
            <div class="form-group">
                <label for='expire_month'>Month</label>
                <input type="number" min="1" max="12"  required="" title="Please select credit card expiry month" class="form-control" name="expire_month" id="expire_month">
            </div>
            <div class="form-group">
                <label for='expire_year'>Year</label>
                <input type="number" min="2015" max="2030"  required="" title="Please select credit card expiry year" class="form-control" name="expire_year" id="expire_year">
            </div>
            <div class="form-group">
                <label for='payer_id'>Payer ID</label>
                <input type="text"  required="" class="form-control" value="<%= user.email %>" name="external_customer_id" id="external_customer_id" readonly="" value='111'>
            </div>
            <div class="form-group">
                <label for='first_name'>First name</label>
                <input type="text" title="Please select credit card holders first name"  required="" value="<%= user.first %>" class="form-control" name="first_name" id="first_name">
            </div>
            <div class="form-group">
                <label for='last_name'>Last Name</label>
                <input type="text"  required="" value="<%= user.last %>"  title="Please select credit card holders last name" class="form-control" name="last_name" id="last_name">
            </div>
            <div class="form-group">
                <label for='cvv2'>CVV2</label>
                <input type="text"  required="" title="Please select credit card cvv" class="form-control" name="cvv2" id="cvv2">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Pay and Login</button>
        </form>

    </div>

</div>
<% include ../partials/footer %>
