<% include ../partials/header %>
<div class="container">

    <div class="col-sm-12">
        <!--<% if (typeof message!='undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
        <!--<% } %>-->
        <div class="table-responsive">
            <h3>Subscription Details</h3>
            <table class="table-striped table">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td><%= plan.id %></td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td><%= plan.state %></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><%= plan.description %></td>
                    </tr>
                    <tr>
                        <th>Payment Type</th>
                        <td><%= plan.plan.payment_definitions[0].type %></td>
                    </tr>
                    <tr>
                        <th>Amount/Frequency</th>
                        <td><%= plan.plan.payment_definitions[0].amount.value %> <%= plan.plan.payment_definitions[0].amount.currency %> /<%= plan.plan.payment_definitions[0].frequency %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href='/account/subscription/deactivate'>Deactivate Subscription</a>
    </div>


</div>
<% include ../partials/footer %>
