@media screen and (min-width: 1366px) {
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 850px;
    padding-bottom: 30px;
  }
  .goback-icon,
  .gonext-icon,
  .check-icon {
    margin-top: 5%;
  }
  .map-size {
    height: 700px;
  }
  .res-position {
    margin-top: 65px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.4%;
  }
}
@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 750px;
    padding-bottom: 30px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 15%;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 8%;
  }
  .profile-image.img-width-100 {
    width: 150px;
    height: 150px;
    max-width: 150px;
  }
  .map-size {
    height: 700px;
  }
  .res-position {
    margin-top: 65px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.4%;
  }
}
@media screen and (max-width: 1280px) {
  .set-ab-pos-1 .logo-2x {
    margin-top: 4%;
    margin-bottom: 10% ;
    max-width: 180px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-top: -2%;
    margin-bottom: 7%;
    max-width: 150px;
  }
  .profile-image.img-width-100 {
    width: 130px;
    height: 130px;
    max-width: 130px;
  }
  .map-size {
    height: 700px;
  }
  .res-position {
    margin-top: 65px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.4%;
  }
}
@media screen and (max-width: 1024px) {
  .img-circle{
    height: 70px !important;
    width: 70px !important;
    margin-top: 5px;
  }
  .dashboard-img-circle{
    margin-top: -100px;
  }
  .wrap {
    max-width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .set-ab-pos-2 .box {
    margin-top: 300px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 15% ;
    max-width: 200px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 13%;
    max-width: 200px;
  }
  .profile-image.img-width-100 {
    width: 150px;
    height: 150px;
    max-width: 150px;
  }
  .res-position {
    margin-top: 65px;
  }
}
@media screen and (max-width: 960px) {
  .wrap {
    max-width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .set-ab-pos-2 .box {
    margin-top: 200px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 5%;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 825px) {
  .dashboard-img-circle{
    margin-top: 0px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 12%;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 768px) {
  .margin-top-30{
    margin-top: 25px;
  }


  .clipper{
    width: 15px !important;
  }
  .clipper-gray{
    width: 15px !important;
  }
  .dark-bg-title {
    margin-top: 5%;
  }
  .set-ab-pos-2 .box {
    margin-top: 150px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 5%;
    margin-bottom: 15% ;
    max-width: 140px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 140px;
    margin-top: 0;
    margin-bottom: 10%;
  }
  .profile-image.img-width-100 {
    width: 130px;
    height: 130px;
    max-width: 130px;
  }
}
@media screen and (max-width: 640px) {
  .center {
    width: 100%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 18% ;
    max-width: 110px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-top: -2%;
    max-width: 110px;
  }
  .profile-image.img-width-100 {
    width: 110px;
    height: 110px;
    max-width: 110px;
  }
}
@media screen and (max-width: 623px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.3%;
  }
}
@media screen and (max-width: 602px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.2%;
  }
}
@media screen and (max-width: 583px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.1%;
  }
}
@media screen and (max-width: 580px) {
  .center {
    width: 90%;
  }
  .h3-media-top {
    margin-top: 7%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 15% ;
    max-width: 100px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 100px;
  }
  .profile-image.img-width-100 {
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
  .map-size {
    height: 550px;
  }
}
@media screen and (max-width: 569px) {
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 564px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11%;
  }
}
@media screen and (max-width: 547px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.9%;
  }
}
@media screen and (max-width: 531px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.8%;
  }
}
@media screen and (max-width: 547px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.7%;
  }
}
@media screen and (max-width: 501px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.6%;
  }
}
@media screen and (max-width: 500px) {
  .res-position {
    margin-top: 55px;
  }
}
@media screen and (max-width: 487px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.5%;
  }
}
@media screen and (max-width: 480px) {
  .dashboard-img-circle{
    height: 70px !important;
    width: 70px !important;
  }
  .center {
    width: 100%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 12% ;
    max-width: 100px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 100px;
  }
  .profile-image.img-width-100 {
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
}
@media screen and (max-width: 474px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.4%;
  }
}
@media screen and (max-width: 463px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.3%;
  }
}
@media screen and (max-width: 451px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.2%;
  }
}
@media screen and (max-width: 450px) {
  .res-position {
    margin-top: 45px;
  }
}
@media screen and (max-width: 450px) {
  .res-position {
    margin-top: 25px;
  }
}
@media screen and (max-width: 440px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.1%;
  }
}
@media screen and (max-width: 429px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10%;
  }
}
@media screen and (max-width: 420px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.9%;
  }
}
@media screen and (max-width: 474px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.8%;
  }
}
@media screen and (max-width: 400px) {
  .center {
    width: 100%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 10% ;
    max-width: 100px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 100px;
    margin-top: -3%;
    margin-bottom: 8%;
  }
  .profile-image.img-width-100 {
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
  .res-position {
    margin-top: 35px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.7%;
  }
}
@media screen and (max-width: 392px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.6%;
  }
}
@media screen and (max-width: 384px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.5%;
  }
}
@media screen and (max-width: 380px) {
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 10% ;
    max-width: 100px;
  }
  .profile-image.img-width-100 {
    width: 80px;
    height: 80px;
    max-width: 80px;
  }
}
@media screen and (max-width: 376px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.4%;
  }
}
@media screen and (max-width: 368px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.3%;
  }
}
@media screen and (max-width: 360px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.2%;
  }
}
@media screen and (max-width: 368px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.1%;
  }
}
@media screen and (max-width: 347px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9%;
  }
}
@media screen and (max-width: 340px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.9%;
  }
}
@media screen and (max-width: 334px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.8%;
  }
}
@media screen and (max-width: 327px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.7%;
  }
}
@media screen and (max-width: 322px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.6%;
  }
}
@media screen and (max-width: 320px) {
  .center {
    width: 100%;
  }
  .fa {
    font-size: 14px !important;
  }
  .font-size-16 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 316px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.5%;
  }
}
@media screen and (max-width: 310px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.4%;
  }
}
@media screen and (max-width: 305px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.2%;
  }
}
@media screen and (max-width: 300px) {
  h3.res-position {
    font-size: 18px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 80px;
    margin-bottom: 5%;
  }
  .profile-image.img-width-100 {
    width: 70px;
    height: 70px;
    max-width: 70px;
  }
}
@media screen and (max-width: 295px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.1%;
  }
}
@media screen and (max-width: 280px) {
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 10% ;
    max-width: 80px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 80px;
    margin-bottom: 5%;
  }
  .profile-image.img-width-100 {
    width: 60px;
    height: 60px;
    max-width: 60px;
  }
  .res-position {
    margin-top: 15px;
  }
}
