.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
  margin-bottom: 5%;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 22% 0 22% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
  border-radius: 50%;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #c24124;
  color: #ffffff;
  border-radius: 50%;
}
.responsive-calendar .day.active a:hover {
  background-color: #BB3B1E;
  border-radius: 50%;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  /*position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;*/
  display: none;
}
.btn-primary {
  background-color: #cb4426 !important;
  border-color: #cb4426 !important;
}
