<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the blurb about your webpage that will appear in the search results.">
    <meta name="google-site verification" content="…">
    <meta name="robots" content="index, follow">


    <title>Filnu</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/media-q.css" type="text/css" />

    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <div class="width-100">
        <img src="/images/dark-city-bg.png" class="margin-auto img-responsive city-bg" alt="City Background">
        <div class="pos-ab set-ab-pos-3">
            <div class="container">
                <div class="row">

                    <a href="/" class="goback-icon-2"><i class="fa fa-chevron-left color-white goback-icon icon-media-top"></i></a>

                    <div class="col-xs-12">
                        <h1 class="color-white dark-bg-title txt-uppercase font-size-16 align-center margin-top-5">Notification</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="tandc">

                <h1>Notification of copyright infringement</h1>
                <p>If you are a copyright owner or an agent thereof, and you believe that any content hosted on the Site
                    infringes your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act
                    (“DMCA”) by providing our Designated Copyright Agent with the information listed in the below DMCA
                    Notice in writing (see 17 U.S.C § 512(c)(3) for further detail). Upon receipt of the Notice as described
                    below, Filnu will take whatever action, in its sole discretion, it deems appropriate, including removal of the
                    challenged material from the Sites. You acknowledge that if you fail to comply with all of the requirements
                    listed below, your Notice may not be valid.</p>

                <h1>DMCA Notice of alleged infringement (“notice”)</h1>

                <ol>
                    <li>
                        <p><i>Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works
                                are covered by this Notice - you may provide a representative list of the copyrighted works that
                                you claim have been infringed.</i></p>
                    </li>
                    <li>
                        <p><i>Identify the material that you claim is infringing (or to be the subject of infringing activity) and
                                that is to be removed or access to which is to be disabled, and information reasonably sufficient to
                                permit us to locate the material, including at a minimum, if applicable, the URL of the link shown
                                on the Site(s) where such material may be found.</i></p>
                    </li>
                    <li>
                        <p><i>Provide your mailing address, telephone number, and, if available, email address.</i></p>
                    </li>
                    <li>
                        <p><i>Include both of the following statements in the body of the Notice:
                                “I hereby state that I have a good faith belief that the disputed use of the copyrighted material is
                                not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).”
                                “I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I
                                am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right
                                under the copyright that is allegedly infringed.”</i></p>
                    </li>
                    <li>
                        <p><i>Provide your full legal name and your electronic or physical signature.</i></p>
                    </li>
                </ol>
                <br>
                <p>Deliver this Notice, with all items completed, to Filnu’ Designated Copyright Agent:</p>

                <p><b>Copyright Agent</b></p>
                <p>c/o Filnu LLC.<br>
                    2090 Dunwoody Club Drive<br>
                    Atlanta, GA 30338<br>
                    <a href="info@filnu.com">info@filnu.com</a></p>
                <br>


                <p>For clarity, only DMCA notices should go to the Copyright Agent. Any other feedback, comments,
                    requests for technical support or other communications should be directed to Filnu customer service
                    through <a href="mailto:info@filnu.com">info@filnu.com.</a></p>

            </div>
        </div>
    </div>
</div>


<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
</body>
</html>