<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the blurb about your webpage that will appear in the search results.">
    <meta name="google-site verification" content="…">
    <meta name="robots" content="index, follow">


    <title>Filnu</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/media-q.css" type="text/css" />

    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <div class="width-100">
        <img src="images/dark-city-bg.png" class="margin-auto img-responsive city-bg" alt="City Background">
        <div class="pos-ab set-ab-pos-3">
            <div class="container">
                <div class="row">

                    <a href="#" class="goback-icon-2"><i class="fa fa-chevron-left color-white goback-icon icon-media-top"></i></a>

                    <div class="col-xs-12">
                        <h1 class="color-white dark-bg-title txt-uppercase font-size-16 align-center margin-top-5">Privacy Policy</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="tandc">
                <p class="margin-left-0">The Filnu website and mobile applications (the “Site”) are operated by Filnu LLC. Filnu is committed to
                    respecting and protecting your privacy. For that reason, we have prepared this privacy policy (“Privacy
                    Policy”) to describe our information gathering and dissemination practices and our data protection practices
                    for the Site. Please read this policy carefully so that you understand our privacy practices. If you do not
                    agree to this Privacy Policy, do not use the Site or give us any of your information. The terms “Filnu,”
                    “we,” “us,” and “our” refer to Filnu LLC. and its subsidiaries and affiliates. The terms “you,” “your,” and
                    “yours” refer to the user/customer utilizing the Site. This Privacy Policy is governed by our Terms of Use.</p>

                <h1>CHILDREN</h1>

                <p>The Site is not intended for or directed to persons under the age of 13, and we will not knowingly collect
                    information from such persons. Any person who provides information to us through registration or in any
                    other manner on the Site represents to Filnu that they are 13 years of age or older. If we learn that a child
                    under 13 has submitted personal information to us, we will attempt to delete the information as soon as
                    possible.</p>

                <h1>COLLECTION OF INFORMATION</h1>

                <p>“Personally Identifiable Information” means any information which can be used to identify an individual,
                    and may include, but is not limited to, name, email address, or postal or other physical address. We collect
                    Personally Identifiable Information from you when you register for the Site, including the following: name
                    and email address. To participate in certain activities and to obtain certain services or documents offered on
                    the Site, you may be asked to provide additional Personally Identifiable Information such as phone number,
                    billing address and credit card information. We endeavor to limit our requests for Personally Identifiable
                    Information to information we believe is reasonably necessary to achieve our purposes as described in the
                    “Information Use” section below. Any Personally Identifiable Information received in communication or in
                    material you transmit to the Site by electronic mail or otherwise are and will be treated in accordance with
                    this Privacy Policy. When you visit the Site we also collect non-personally identifiable information, which
                    is information that by itself cannot be used to identify or contact you, such as demographic information
                    (such as age or gender) or usage information (such as the browser you are using, the URL that referred you
                    to the Site and the areas of the Site you visit). We may also supplement the information we collect with
                    information from other sources to assist us in evaluating and improving our Site and offerings.</p>

                <h1>INFORMATION USE</h1>

                <p>Filnu uses Personally Identifiable Information for several general purposes:</p>

                <ul>
                    <li>
                        <p>to provide you with the Site, service information, and news,</p>
                    </li>
                    <li>
                        <p>to support the Site and services offered on or through the Site,</p>
                    </li>
                    <li>
                        <p>to contact you for feedback about our services,</p>
                    </li>
                    <li>
                        <p>to conduct research about Filnu’s customer base or services,</p>
                    </li>
                    <li>
                        <p>to fulfill your reservation and purchase requests,</p>
                    </li>
                    <li>
                        <p>to process your payments including credit checks and collection,</p>
                    </li>
                    <li>
                        <p>to notify you of technical updates or changes in policy, or</p>
                    </li>
                    <li>
                        <p>to contact you for our own marketing and promotional purposes, or</p>
                    </li>
                    <li>
                        <p>to process contests, sweepstakes, or other promotions and fulfill any related awards or discounts.</p>
                    </li>
                </ul>

                <p>We may use non-Personally Identifiable Information such as demographic data to analyze and develop our
                    marketing strategy and further improve the Site and our services.</p>

                <h1>INFORMATION SHARING AND DISCLOSURE</h1>

                <p>We will not sell or rent your Personally Identifiable Information to third parties except as described in this
                    Privacy Policy. We may disclose your Personally Identifiable Information to other companies or people
                    under any of the following circumstances:asdasd</p>

                <ul>
                    <li>
                        <p>to any applicable venue, barbershop, hair saloon, barber or other service provider for each service
                            that you sign up for on the Site, so it can contact you regarding the service you reserved and send
                            you other communication that may be of interest say as special offers (you may opt-out of
                            marketing communications directly with the applicable venue). </p>
                    </li>
                    <li>
                        <p>if sharing the information is reasonably necessary to provide or otherwise make available the Site
                            and any feature of the Site or a service that you have requested.</p>
                    </li>
                    <li>
                        <p>to keep you up to date on the latest product announcements, software updates, special offers, or
                            other information we think you would like to hear about either from us or from our business
                            partners (unless you have opted out of these types of communications). (Note that you will not be
                            able to opt-out of service announcements that contain important information relevant to your use
                            of the Site and are not promotional in nature.)</p>
                    </li>
                    <li>
                        <p>if we believe in good faith that we are required to do so by law, in connection with litigation, to
                            prevent a crime, or to protect personal property, the public, or the Site.</p>
                    </li>
                    <li>
                        <p>in connection with a sale or merger with another entity, consolidation, restructuring, sale of
                            company assets, financing or other corporate change, including during the course of any due
                            diligence process or if Filnu should ever file for bankruptcy or related proceeding.</p>
                    </li>
                    <li>
                        <p>to your employer (or similar entity), if you participate in any of enterprise solutions or corporate
                            programs.</p>
                    </li>
                    <li>
                        <p>when we otherwise have your consent to share the information.</p>
                    </li>
                </ul>

                <p>Filnu may also share non-Personally Identifiable Information with third parties (e.g. aggregate or
                    demographic data).</p>

                <h1>CHOICE</h1>

                <p>We will give you the opportunity to “opt out” of receiving direct marketing or market research information.
                    This means we assume you have given us your consent to collect and use your information in accordance
                    with this Privacy Policy unless you take affirmative action to indicate that you do not consent, for instance
                    by clicking or checking the appropriate option or box at the point of collection.</p>

                <h1>ACCESS</h1>

                <p>You may correct, amend, or delete your Personally Identifiable Information by editing your profile on the
                    Site or emailing us at <a href="#">info@filnu.com.</a></p>

                <h1>SECURITY</h1>

                <p>We are committed to protecting Personally Identifiable Information from loss, misuse, disclosure,
                    alteration, unauthorized access, and destruction. Filnu takes reasonable precautions to safeguard the
                    confidentiality of Personally Identifiable Information. We protect the security of your Personally
                    Identifiable Information during transmission to us by using Secure Sockets Layer (SSL) software, which
                    encrypts the information you input.</p>

                <h1>THIRD PARTY SITES</h1>

                <p>The Site may contain links to other sites. Filnu is not responsible for the privacy practices of such other
                    sites. We encourage our users to be aware when leaving the Site to read the privacy statements of each site
                    that collects Personally Identifiable Information.</p>

                <h1>COOKIES</h1>

                <p>We use cookies and other similar technologies (such as actions tags, also known as beacons, or pixels tags)
                    for a number of purposes including to remember preferences, track conversions, conduct marketing and
                    promotional efforts, analyze site traffic and trends, and generally understand the online behaviors and
                    interests of people who interact with our Site.<br>
                    We use third-party advertising companies to serve advertisements on our behalf or to provide advertisingrelated
                    services. These companies may use a cookie or an action tag, to tailor the advertisements you see on
                    this Website and other sites, to track your response to their advertisement, to determine whether advertising
                    has been served and to measure the effectiveness of their advertising or to award incentives or points to
                    their members who respond to their advertisements. The cookies, action tags or similar files do not contain
                    any Personal Information.<br>
                    You can learn more about targeted advertising, its benefits and your choices by going to the Digital
                    Advertising Alliance site at <a href="#">http://www.aboutads.info/consumers/</a>. The targeted advertising companies we
                    work with are members of the Network Advertising Initiative or the DAA. The NAI and the DAA allow
                    you to limit targeted advertising from its members by using an opt-out tool available on the NAI website at
                    <a href="#">networkadvertising.org</a> or the DAA’s site. <br>
                    We may also use third parties to provide measurement and analytic services. You can find more
                    information on Google Analytics by visiting <a href="#">https://tools.google.com/dlpage/gaoptout</a>.</p>

                <h1>SOCIAL MEDIA FEATURES AND WIDGETS</h1>

                <p>Our Site may integrate with social sharing features or other related tools which let you share actions you
                    take on our Site with other apps, sites or media, and vice versa. These features may enable the sharing of
                    information with your friends or the public, depending on the settings you establish with the social sharing
                    service. These features may also collect your IP address and which page you are visiting on our Site, and
                    may set a cookie to enable the feature to function properly. Your interaction with these features are
                    governed by the privacy policy of the relevant platform. Please refer to the privacy policies of those social
                    sharing services for more information.</p>

                <h1>PUBLIC POSTS</h1>

                <p>The Site may allow you to post or share content to a public area of the Site such as a public profile, group,
                    community or other public area. You should be aware that any content or information you choose to
                    disclose in these areas can be read, collected and used by other users, the general public and other sites
                    (including search engines). We are not responsible for, and this Privacy Policy does not apply to,
                    information you may choose to post in these areas.</p>

                <h1>YOUR CONSENT TO THIS PRIVACY POLICY</h1>

                <p>By using this Site, you agree to this Privacy Policy. We may occasionally update this Privacy Policy. The
                    date of the most recent update of this document will always be displayed at the beginning of this page. If
                    we change our Privacy Policy, we will post those changes on <a href="#">filnu.com</a>. If we decide to use Personally
                    Identifiable Information in a manner different from that stated at the time it was collected, we will notify
                    users via email (if an email address has been provided) or display a notice on <a href="#">filnu.com</a>. We encourage you
                    to periodically review this Privacy Policy to stay informed about how we are protecting the Personally
                    Identifiable Information we collect. Your continued use of this Site constitutes your agreement to this
                    Privacy Policy and any updates.</p>

                <h1>CONTACTING FILNU</h1>

                <p>If you have any questions, comments, or concerns about this Privacy Policy, please contact us at:</p>

                <p>Filnu LLC.<br>
                    2090 Dunwoody Club Drive<br>
                    Suite 106-136<br>
                    Atlanta, GA 30338<br>
                    Email: <a href="#">info@filnu.com</a></p>

            </div>
        </div>
    </div>
</div>


<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>