<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the blurb about your webpage that will appear in the search results.">
    <meta name="google-site verification" content="…">
    <meta name="robots" content="index, follow">


    <title>Filnu</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3//css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/media-q.css" type="text/css" />

    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <div class="width-100">
        <img src="images/dark-city-bg.png" class="margin-auto img-responsive city-bg" alt="City Background">
        <div class="pos-ab set-ab-pos-3">
            <div class="container">
                <div class="row">

                    <a href="/" class="goback-icon-2"><i class="fa fa-chevron-left color-white goback-icon icon-media-top"></i></a>

                    <div class="col-xs-12">
                        <h1 class="color-white dark-bg-title txt-uppercase font-size-16 align-center margin-top-5">terms and conditions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="tandc">
                <p class="margin-left-0">Welcome to Filnu! These Terms of Use (“Terms”) are a contract between you and Filnu LLC. (“Filnu” or
                    “we”) and govern your access to and use of any Filnu website, mobile application (such as for iPhone or
                    Android) or content, or products and/or services made available through Filnu (collectively, the “Site”).</p>

                <p class="margin-left-0">PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE ACCESSING AND USING
                    THE SITE. THIS IS A LEGAL AGREEMENT BETWEEN FILNU AND YOU WHICH GOVERNS
                    YOUR USE OF THE SERVICES. YOUR USE OF THE SERVICES CONSTITUTES YOUR
                    ACCEPTANCE OF AND AGREEMENT TO ALL OF THE TERMS AND CONDITIONS IN THESE
                    TERMS OF SERVICE AND YOUR REPRESENTATION THAT YOU ARE 18 YEARS OF AGE OR
                    OLDER. IF YOU OBJECT TO ANYTHING IN THESE TERMS OF SERVICE, YOU ARE NOT
                    PERMITTED TO USE THE SERVICES.</p>

                <h1>1. Terms of Use.</h1>

                <p><b>a) Acceptance of Terms.</b> By accessing and/or using the Site, you accept and agree to be bound by these
                    Terms, just as if you had agreed to these Terms in writing. If you do not agree to these Terms, do not use
                    the Site.</p>

                <p><b>b) Amendment of Terms.</b> Filnu may amend the Terms from time to time. Unless we provide a delayed
                    effective date, all amendments will be effective upon posting of such updated Terms. Your continued
                    access to or use of the Site after such posting constitutes your consent to be bound by the Terms, as
                    amended.</p>

                <p><b>c) Additional Terms.</b> In addition to these Terms, when using particular products, services or features, you
                    will also be subject to any additional posted guidelines, FAQs, or rules applicable to such product, service
                    or feature, which may be posted and modified from time to time. All such additional terms are hereby
                    incorporated by reference into the Terms.
                </p>

                <h1>2. Filnu Platform.</h1>

                <p><b>a) Filnu Platform.</b> Filnu is a platform that connects barbers and professionals ("Professionals") providing
                    hair services ("Barber Services") with clients seeking such services ("Clients" or "you") through a monthly
                    subscription membership. The Professionals and Clients are both users of the Services provided by Filnu
                    and are hereinafter referred to collectively as "Users." Through the Filnu platform you can access third
                    party products and services. Filnu itself is not a barbershop, hair saloon or service provider and does not
                    own, operate or control any of the barbershops, hair saloons, services or facilities accessible through the
                    Site (“Venues”). <br>
                    Filnu solely provides a platform for Professionals and Clients to connect and serves only as a medium to
                    facilitate the provision of Barber Services. Filnu does not provide or contract for Barber Services, and
                    Professionals and Clients contract independently for the provision of Barber Services. Each Client is solely
                    responsible for selecting the Professional, the Barber Services to be provided and the location at which
                    Barber Services will be performed, whether on the premises of a Professional or at a site designated by the
                    Client. Any decision by a Client to receive Barber Services or by a Professional to provide Barber Services
                    is a decision made in such person's sole discretion. <br>
                    Filnu does not have control over the quality, suitability, reliability, timing, durability, legality, failure to
                    provide, or any other aspect whatsoever of any Barber Services provided by Professionals nor of the
                    integrity, responsibility or any of the actions or omissions whatsoever of any Professionals or Clients. Filnu
                    makes no representations or warranties whatsoever with respect to Barber Services offered or provided by
                    Professionals or requested by Clients through use of the Services, whether in public, private, or offline
                    interactions, or about the accreditation, registration or licensing of any Professional. You understand that
                    Filnu does not routinely screen its Users, inquire into the background of its Users or attempt to verify
                    information provided by any User. Filnu does not verify of confirm that any User is who they claim to be or
                    is accurately representing themselves and does not verify or confirm any representations with respect to
                    Barber Services on the Services. Filnu does not assume any responsibility for the accuracy or reliability of
                    this information or any information provided through the Services. <br>
                    Filnu has no obligation to provide refunds or credits, but may grant them in extenuating circumstances, as a
                    result of specific refund guarantee promotions, or to correct any errors made by Filnu, in each case in
                    Filnu's sole discretion. <br>
                    Although the Services are intended to provide a Professional's availability in real-time, it is possible that a
                    scheduling conflict may occur that requires the Professional to reschedule your reservation. Creation of a
                    reservation using the Services is not a guarantee that the Professional will honor the reservation as
                    scheduled. Filnu cannot guarantee availability of the Services to any User.</p>

                <p><b>b) Membership Cycles.</b> Your Filnu membership starts on the date that you sign up for a subscription and
                    submit payment via a valid Payment Method. Unless we otherwise communicate a different time period to
                    you at the time of sign up (such as a multi-month commitment plan), each Filnu cycle is one month in
                    length (a “Membership Cycle”), and will automatically renew each month until your membership is
                    cancelled or terminated. For example, if you purchase your Filnu membership on August 5, your
                    membership will automatically renew on September 5. You must provide us with a current, valid, accepted
                    method of payment (“Payment Method”) to use Filnu. We will automatically bill the monthly membership
                    fee to your Payment Method each month until your subscription is cancelled or terminated.</p>

                <p><b>c) Eligible Services.</b> Each member receives a limited number of Barber Services per Membership Cycle
                    (“Eligible Services”) to be redeemed at any active barber of the Filnu network. Filnu reserves the right to
                    change from time to time the number and/or description of Eligible Services a member can redeem in a
                    given cycle. Currently, you receive 4 Eligible Services per monthly Membership Cycle, and they currently
                    are a choice of 1) Haircut, 2) Line-up and 3) Shave. Once your new Membership Cycle starts, you will
                    receive your full number of Eligible Services for such new cycle. Please note that any Eligible Services not
                    used during a Membership Cycle are forfeited, and will not be exercisable in the next Membership Cycle.</p>


                <p><b>d) Professional Availability and Location.</b> Filnu makes no guarantee on the availability of particular
                    professionals or barbershop locations, and professional availability may change over time, including during
                    the course of any given Membership Cycle. </p>

                <p><b>e) Use of Filnu.</b> Your Filnu membership is personal to you and members cannot transfer or gift services to
                    third parties, including other Filnu members. Filnu may not be used for commercial purposes. To use your
                    Filnu membership you must have access to the Internet.</p>

                <h1>3. Billing.</h1>

                <p><b>a) Recurring Billing.</b> By starting your Filnu membership, you authorize us to charge you for your initial
                    membership period and a recurring monthly membership fee at the then current rate, which may change
                    from time to time. You also authorize us to charge you any other fees you may incur in connection with
                    your use of the Site, such as any applicable sign-up fee, taxes or cancellation or late fees, as further
                    explained below.</p>

                <p><b>b) Billing Cycle.</b> When you sign up and purchase your Filnu subscription, your first subscription cycle will
                    be billed immediately. Your subscription will automatically renew each month and you will be billed on the
                    same date each month. We reserve the right to change the timing of our billing (and if we do, we’ll make
                    adjustments to the amounts we charge, as appropriate). In the event your paying membership began on a
                    day not contained in a given month, we may bill your Payment Method on a day in the applicable month or
                    such other day as we deem appropriate. For example, if you started your Filnu membership or became a
                    paying member on January 31st, your next payment date is likely to be February 28th, and your Payment
                    Method would be billed on that date. Your renewal date may change due to changes in your membership.</p>

                <p><b>c) Refunds.</b> Generally, our fees (including the monthly fee for your membership and any other fees) are
                    nonrefundable, except that we will provide a refund to members for their current prepaid period in the
                    following circumstances: (1) if your subscription is cancelled prior to the end of a period for which you
                    have incurred a charge, due to your death; provided, however, in each case we reserve the right to charge a
                    fee to cover the cost of any service (currently $15) you may have used prior to your cancellation, to the
                    extent permitted by law (such service fee charges not to exceed the cost of the subscription itself). Any
                    additional discounts or refunds that we may choose to provide are in our sole discretion and do not entitle
                    you to any future discounts or refunds in the future for similar instances.</p>

                <p><b>d) Price Changes.</b> We reserve the right to adjust pricing at any time. Unless we expressly communicate
                    otherwise, any price changes to your membership will take effect on your next billing cycle upon notice
                    communicated through a posting on the Filnu website or mobile applicable or such other means as we may
                    deem appropriate from time to time, such as email.</p>

                <p><b>e) Payment Methods.</b> You may edit your Payment Method information by logging online and editing it
                    under "Profile" and then "Payments". If a payment is not successfully settled, due to expiration, insufficient
                    funds or otherwise, and you do not edit your Payment Method information or deactivate your account (see,
                    “Deactivation” below), you nonetheless will remain responsible for any uncollected amounts and authorize
                    us to continue billing the Payment Method, as it may be updated, including in the event you attempt to
                    create a new account. This may result in a change to your payment billing dates. If we cannot charge your
                    account, we reserve the right, but are not obligated, to terminate your access to our Site or any portion
                    thereof.</p>

                <p><b>f) Deactivation of Membership.</b> You may terminate your monthly subscription at any time with 3 days’
                    notice by going into your accounts settings on the Filnu website and deactivating. Following any
                    deactivation you will continue to have access to your subscription through the end of your current prepaid
                    billing period, unless you cancel and receive a refund, in which case your access will be terminated
                    immediately.</p>

                <p><b>g) Booking and Cancellation of Appointments.</b> As a Filnu member you must reserve and cancel your
                    Filnu classes only through the Filnu website or mobile application. It is a breach of your Filnu subscription
                    terms if you cancel an appointment directly with a client or barber. If you cancel directly outside of the
                    Filnu platform, we reserve the right to charge you the full amount that the service charges for such
                    appointment and/or any applicable cancellation fees, and/or to terminate your subscription.</p>


                <h1>4. Other Fees.</h1>

                <p><b>a) Fees We Charge.</b> Your Filnu membership fee covers your redemption of Eligible Services as explained
                    above. While clients currently do not have the option to cancel an appointment, any appointment cancelled
                    by a barber will not count towards the client’s service credit for that monthly cycle. If a client misses and
                    appointment or is late for a booked appointment, such appointment will be considered redeemed by the
                    client and deducted from the client’s service credits for that monthly cycle.</p>

                <p><b>c) Third Party Fees for Using Filnu.</b> You are also responsible for all third party charges and fees
                    associated with connecting and using the Site, including fees such as internet service provider fees,
                    telephone and computer equipment charges, sales tax and any other fees necessary to access the Site.</p>


                <h1>5. Termination or Modification by Filnu.</h1>

                <p><b>a) Termination or Modification.</b> You understand and agree that, at any time and without prior notice
                    Filnu may (1) terminate, cancel, deactivate and/or suspend your subscription, your account, any orders
                    placed, or your access to or use of the Site (or any portion thereof) and/or (2) discontinue, modify or alter
                    any aspect, feature or policy of the Site or your subscription. This includes the right to terminate or modify
                    any subscription prior to the end of any pre-paid or committed period. Upon any termination, we may
                    immediately deactivate your account and all related information and/or bar any further access to your
                    account information and the Site. Upon any such termination by us without cause, as your sole recourse, we
                    will issue you a pro rata refund of the prepaid portion of your subscription applicable to future unused
                    services (less any fees or costs for classes or services already used). If we determine that you have violated
                    these Terms or otherwise engaged in illegal or improper use of the Site, you will not be entitled to any
                    refund and you agree that we will not be responsible to pay any such refund. You agree that Filnu will not
                    be liable to you or any third party for any termination or modification to the service regardless of the reason
                    for such termination or modification. You acknowledge that your only right with respect to any
                    dissatisfaction with any modification or discontinuation of service made by us is to cancel or terminate
                    your subscription.</p>

                <p><b>b) Infringing or Fraudulent Activity.</b> Filnu does not permit copyright infringing activities and reserves
                    the right to terminate access to the Site and remove all content submitted by any persons who are found to
                    be infringers. Any suspected fraudulent, abusive, or illegal activity that may be grounds for termination of
                    your use of the Site may be referred to appropriate law enforcement authorities. These remedies are in
                    addition to any other remedies Filnu may have at law or in equity.</p>

                <h1>6. Eligibility; Registration Information and Password;
                    Site Access.</h1>

                <p><b>a) Eligibility Criteria.</b> The availability of all or part of our Site may be limited based on demographic,
                    geographic, health or other criteria as we may establish from time to time. You understand and agree we
                    may disallow you from subscribing to Filnu or may terminate your subscription at any time based on these
                    criteria. For example, you must be 18 years of age or older to use this Site or to purchase a Filnu
                    membership.</p>

                <p>THE SITE IS NOT AVAILABLE TO PERSONS OUTSIDE THE UNITED STATES. THESE TERMS
                    ARE ONLY APPLICABLE TO USERS IN THE U.S. THE SITE IS NOT AVAILABLE TO ANY USERS
                    SUSPENDED OR REMOVED FROM THE SITE BY FILNU. BY USING THE SITE, YOU
                    REPRESENT THAT YOU ARE A RESIDENT OF THE UNITED STATES, WHO HAS NOT BEEN
                    PREVIOUSLY SUSPENDED OR REMOVED FROM THE SITE. THOSE WHO CHOOSE TO ACCESS
                    THES ITE DO SO AT THEIR OWN INITIATIVE AND ARE REPSONSIBLE FOR COMPLIANCE
                    WITH ALL LOCAL RULES INCLUDING, WITHOUT LIMITATION, RULES ABOUT THE
                    INTERNET, DATA, EMAIL OR OTHER ELECTRONIC MESSAGES, OR PRIVACY.</p>

                <p><b>b) Subscribing Organizations.</b> If you are using or opening an account on behalf of a company, entity, or
                    organization (a “Subscribing Organization”), then you represent and warrant that you are an authorized
                    representative of that Subscribing Organization with the authority to bind such organization to these Terms;
                    and agree to be bound by these Terms on behalf of such Subscribing Organization.</p>

                <p><b>c) Account Information.</b> You agree that the information you provide to Filnu at registration and at all
                    other times will be true, accurate, current, and complete. You also agree that you will ensure that this
                    information is kept accurate and up-to-date at all times. When you register, you will be asked to create a
                    password. You are solely responsible for maintaining the confidentiality of your account and password and
                    for restricting access to your computer, and you agree to accept responsibility for all activities that occur
                    under your account.</p>

                <h1>7. Privacy.</h1>

                <p>Your privacy is important to Filnu. The Filnu Privacy Policy is hereby incorporated into these Terms by
                    reference. Please read the privacy policy carefully for information relating to Filnu’ collection, use, and
                    disclosure of your personal information. When you book an appointment, the applicable barber will have
                    access to certain information about you, such as your name and email address, so it can communicate with
                    you regarding the class you reserved and send you other communication that may be of interest to you such
                    as marketing offers. Please see the Privacy Policy for more information.</p>

                <h1>8. Prohibited Conduct.</h1>

                <p>You promise not to:</p>
                <ul>
                    <li>
                        <p>Harass, threaten, or defraud users, members or staff of Filnu or related barbershops;</p>
                    </li>
                    <li>
                        <p>Make unsolicited offers, advertisements, proposals, or send junk mail or “spam” to users;</p>
                    </li>
                    <li>
                        <p>Impersonate another person or access another user’s account without that person’s permission;</p>
                    </li>
                    <li>
                        <p>Share Filnu-issued passwords with any third party or encourage any other user to do so;</p>
                    </li>
                    <li>
                        <p>Permit third parties to use any services booked under your own membership, including other
                            members;</p>
                    </li>
                    <li>
                        <p>Cancel any Filnu appointment directly with a barber or a client, rather than through the Filnu Site, </p>
                    </li>
                    <li>
                        <p>Misrepresent the source, identity, or content of information transmitted via the Site, including
                            deleting the copyright or other proprietary rights;</p>
                    </li>
                    <li>
                        <p>Upload material (e.g. virus) that is damaging to computer systems or data of Filnu or users of the
                            Site;</p>
                    </li>
                    <li>
                        <p>Upload copyrighted material that is not your own or that you do not have the legal right to
                            distribute, display, and otherwise make available to others; or</p>
                    </li>
                    <li>
                        <p>Upload or send to Site users pornographic, threatening, embarrassing, hateful, racially or
                            ethnically insulting, libelous, or otherwise inappropriate content.</p>
                    </li>
                </ul>

                <h1>9. Prohibited Uses.</h1>

                <p>As a condition of your use of the Site, you will not use the Site for any purpose that is unlawful or
                    prohibited by these Terms. You may not use the Site in any manner that, in our sole discretion, could
                    damage, disable, overburden, or impair it or interfere with any other party’s use and enjoyment of the Site.
                    You may not attempt to gain unauthorized access to the Site, or any part of the Site, other accounts,
                    computer systems or networks connected to the Site, or any part of them, through hacking, password
                    mining, or any other means or interfere or attempt to interfere with the proper working of the Site or any
                    activities conducted on the Site. You may not remove, circumvent, disable, damage or otherwise interfere
                    with security-related features of the Site, any features that prevent or restrict use or copying of any content
                    accessible through the Site, or any features that enforce limitations on the use of the Site or the content
                    therein. You may not obtain or attempt to obtain any materials or information through any means not
                    intentionally made available through the Site. You agree neither to modify the Site in any manner or form,
                    nor to use modified versions of the Site, including (without limitation) for the purpose of obtaining
                    unauthorized access to the Site. The Site may contain robot exclusion headers. You agree that you will not
                    use any robot, spider, scraper, or other automated means to access the Site for any purpose without our
                    express written permission or bypass our robot exclusion headers or other measures we may use to prevent
                    or restrict access to the Site.</p>

                <p>Filnu reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in
                    their sole discretion.</p>

                <h1>10. User Submissions.</h1>

                <p><b>a) General.</b> The Site provides certain features which enable you and other users to submit, post, and share
                    content with other users, which may include without limitation text, graphic and pictorial works, or any
                    other content submitted by you and other users through the Site (“User Submissions”). User Submissions
                    are displayed for informational purposes only and are not controlled by Filnu. Filnu cannot guarantee any
                    anonymity or confidentiality with respect to any User Submissions, and strongly recommends that you
                    think carefully about what you upload to the Site. You understand that all User Submissions are the sole
                    responsibility of the person from whom such User Submission originated. This means that you, and not
                    Filnu, are entirely responsible for all User Submissions that you upload, post, e-mail, transmit, or otherwise
                    make available through the Site.</p>

                <p><b>b) Right to Remove or Edit User Submissions.</b> Filnu makes no representations that it will publish or
                    make available on the Site any User Submissions, and reserves the right, in its sole discretion, to refuse to
                    allow any User Submissions on the Site, or to edit or remove any User Submission at any time with or
                    without notice. Without limiting the generality of the preceding sentence, Filnu complies with the Digital
                    Millennium Copyright Act, and will remove User Submissions upon receipt of a compliant takedown
                    notice (see the “Digital Millennium Copyright Act” section below).</p>

                <p><b>c) License Grant by You to Filnu.</b> You retain all your ownership rights in original aspects of your User
                    Submissions. By submitting User Submissions to Filnu, you hereby grant Filnu and its affiliates,
                    sublicensees, partners, designees, and assignees of the Site (collectively, the “Filnu Licensees”) a
                    worldwide, non-exclusive, fully paid-up, royalty-free, perpetual, irrevocable, sublicensable, and
                    transferable license to use, reproduce (including by making mechanical reproductions), distribute, modify,
                    adapt, translate, prepare derivative works of, publicly display, publish, publicly perform, and otherwise
                    exploit your User Submissions and derivatives thereof in connection with the Site and Filnu’s (and its
                    successors’) business, including, without limitation, for marketing, promoting, and redistributing part or all
                    of the Site (and derivative works thereof), in any media formats and through any media channels now
                    known or hereafter discovered or developed.</p>

                <p><b>d) User Submissions Representations and Warranties.</b>  You are solely responsible for your own User
                    Submissions and the consequences of posting or publishing them. In connection with User Submissions,
                    you affirm, represent, and warrant that: (i) you own, or have the necessary licenses, rights, consents, and
                    permissions to use and authorize Filnu to use all patent, trademark, copyright, or other proprietary rights in
                    and to your User Submissions to enable inclusion and use of your User Submissions in the manner
                    contemplated by Filnu and these Terms, and to grant the rights and license set forth above, and (ii) your
                    User Submissions, Filnu’s or any Filnu Licensee’s use of such User Submissions pursuant to these Terms,
                    and Filnu’s or any of Filnu Licensee’s exercise of the license rights set forth above, do not and will not: (a)
                    infringe, violate, or misappropriate any third-party right, including any copyright, trademark, patent, trade
                    secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right;
                    (b) cause injury to any other person; (c) violate these Terms or any applicable law or regulation; or (d)
                    require obtaining a license from or paying fees or royalties to any third party for the exercise of any rights
                    granted in these Terms, including, by way of example and not limitation, the payment of any royalties to
                    any copyright owners, including any royalties to any agency, collection society, or other entity that
                    administers such rights on behalf of others. Filnu may, but is not obligated to, monitor and edit or remove
                    any activity or content, including but not limited to content that Filnu determines in its sole discretion to be
                    violative of the standards of this Site. Filnu takes no responsibility and assumes no liability for any User
                    Submissions.</p>

                <p><b>e)Inaccurate or Offensive User Submissions.</b> You understand that when using the Site, you may be
                    exposed to User Submissions from a variety of sources and that Filnu does not endorse and is not
                    responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such User
                    Submissions. You further understand and acknowledge that you may be exposed to User Submissions that
                    are inaccurate, offensive, indecent, or objectionable. YOU AGREE TO WAIVE, AND HEREBY DO
                    WAIVE, ANY LEGAL OR EQUITABLE RIGHTS OR REMEDIES YOU HAVE OR MAY HAVE
                    AGAINST FILNU WITH RESPECT THERETO.</p>

                <p><b>f) Feedback.</b> If you provide Filnu with any comments, bug reports, feedback, or modifications proposed or
                    suggested by you to the Site (“Feedback”), Filnu shall have the right to use such Feedback at its discretion,
                    including, but not limited to the incorporation of such suggested changes into the Site. You hereby grant
                    Filnu a perpetual, irrevocable, nonexclusive license under all rights necessary to incorporate and use your
                    Feedback for any purpose.</p>

                <h1>11. Ownership; Proprietary Rights.</h1>

                <p>The Filnu website and mobile applications are owned and operated by Filnu. The visual interfaces,
                    graphics, design, compilation, information, computer code, products, software (including any
                    downloadable software), services, and all other elements of the Site provided by Filnu (“Materials”) are
                    protected by the copyright, trade dress, patent, and trademark laws of Canada, the Unites States, the United
                    Kingdom and other countries, international conventions, and all other relevant intellectual property and
                    proprietary rights, and applicable laws. Except for any content uploaded by you, all Materials contained on
                    the Site are the copyrighted property of Filnu or its subsidiaries or affiliated companies and/or third-party
                    licensors. All trademarks, service marks, and trade names are proprietary to Filnu or its affiliates and/or
                    third-party licensors. Except as expressly authorized by Filnu, you agree not to sell, license, distribute,
                    copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or
                    otherwise make unauthorized use of the Materials.</p>

                <h1>12. Third-Party Sites, Products and Services; Links.</h1>

                <p>The Site may include links or access to other web sites or services (“Linked Sites”) solely as a convenience
                    to users. Filnu does not endorse any such Linked Sites or the information, material, products, or services
                    contained on other linked sites or accessible through other Linked Sites. Furthermore, Filnu makes no
                    express or implied warranties with regard to the information, material, products, or services that are
                    contained on or accessible through linked sites. ACCESS AND USE OF LINKED SITES, INCLUDING
                    THE INFORMATION, MATERIAL, PRODUCTS, AND SERVICES ON LINKED SITES OR
                    AVAILABLE THROUGH LINKED SITES, IS SOLELY AT YOUR OWN RISK.</p>

                <p>Your correspondence or business dealings with, or participation in promotions of, advertisers found on or
                    through the Site are solely between you and such advertiser. YOU AGREE THAT FILNU WILL NOT BE
                    RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS THE
                    RESULT OF ANY SUCH DEALINGS OR AS THE RESULT OF THE PRESENCE OF SUCH
                    ADVERTISERS ON THE SITE.</p>

                <h1>13. Notice.</h1>

                <p>Except as explicitly stated otherwise, legal notices will be served, with respect to Filnu, on Filnu’ national
                    registered agent, and, with respect to you, to the email address you provide to Filnu during the registration
                    process. Notice will be deemed given 24 hours after email is sent, unless the sending party is notified that
                    the email address is invalid. Alternatively, we may give you legal notice by mail to the address provided
                    during the registration process. In such case, notice will be deemed given three days after the date of
                    mailing.</p>

                <h1>14. Disclaimers; No Warranties.</h1>

                <p>SERVICES AND OTHER NON-FILNU PRODUCTS AND SERVICES OFFERED VIA THE SITE ARE
                    OFFERED AND PROVIDED BY THIRD PARTIES, NOT FILNU. YOUR ATTENDANCE AT THESE
                    BARBER APPOINTMENTS AND YOUR USE OF THESE NON-FILNU PRODUCTS AND SERVICES
                    IS SOLELY AT YOUR OWN RISK. IN NO EVENT SHALL FILNU BE LIABLE FOR ANY ACT,
                    ERROR OR OMISSION BY ANY THIRD PARTY, INCLUDING, WITHOUT LIMITATION, ANY
                    WHICH ARISES OUT OF OR IS ANY WAY CONNECTED WITH A USER’S ATTENDANCE OR
                    USE OF SERVICE, PRODUCT OR APPOINTMENT MADE THROUGH THE SITE, OR THE
                    PERFORMANCE OR NON-PERFORMANCE OF ANY THIRD PARTY PROVIDER IN
                    CONNECTION WITH THE SERVICES. FILNU IS NOT AN AGENT OF ANY THIRD PARTY
                    PROVIDER.</p>

                <p>THE SITE AND ANY DOWNLOADABLE SOFTWARE, CONTENT, SERVICES, OR APPLICATIONS
                    MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SITE ARE PROVIDED “AS IS”
                    AND “AS AVAILABLE” WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR
                    IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, FILNU,
                    ON BEHALF OF ITSELF AND ITS SUPPLIERS AND PARTNERS, DISCLAIMS AND EXCLUDES
                    ALL WARRANTIES, WHETHER STATUTORY, EXPRESS OR IMPLIED, INCLUDING, BUT NOT
                    LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                    PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.</p>

                <p>WITHOUT LIMITING THE FOREGOING, FILNU DOES NOT WARRANT OR MAKE ANY
                    REPRESENTATIONS (I) THAT THE SITE AND ANY DOWNLOADABLE SOFTWARE, CONTENT,
                    SERVICES, OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH
                    THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE
                    CORRECTED, OR THAT THE SITE AND ANY DOWNLOADABLE SOFTWARE, CONTENT,
                    SERVICES, OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH
                    THE SITE OR THE SERVER THAT MAKES THEM AVAILABLE ARE FREE OF VIRUSES OR
                    OTHER HARMFUL COMPONENTS, OR (II) REGARDING THE USE OF THE SITE AND ANY
                    DOWNLOADABLE SOFTWARE, CONTENT, SERVICES, OR APPLICATIONS MADE AVAILABLE
                    IN CONJUNCTION WITH OR THROUGH THE SITE IN TERMS OF CORRECTNESS, ACCURACY,
                    RELIABILITY, OR OTHERWISE. ANY MATERIAL OR DATA THAT YOU DOWNLOAD OR
                    OTHERWISE OBTAIN THROUGH THE SITE IS AT YOUR OWN RISK. YOU ARE SOLELY
                    RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA
                    RESULTING FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA.</p>

                <p>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE
                    EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU,
                    SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT
                    APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>

                <h1>15. Waiver and Release.</h1>

                <p>You understand that Filnu is not a barbershop or hair saloon or other service provider and the services you
                    use are operated and delivered by the applicable barber and not by Filnu. Although Filnu endeavors to offer
                    barbers and inventory that is of high quality, Filnu is not responsible for the quality of any service. By
                    signing up for a Filnu membership, you acknowledge and agree, on behalf of yourself, your heirs, personal
                    representatives and/or assigns that you are aware of these risks which include, but are not limited to,
                    property damage, illness and bodily injury or death. You acknowledge that some of these risks cannot be
                    eliminated and you specifically assume the risk of injury or harm.</p>

                <p>Therefore, to the fullest extent permitted by law, you release, indemnify, and hold harmless Filnu, its
                    parent, subsidiaries or affiliated entities, and each of their respective officers, directors, members,
                    employees, consultants, contract employees, representatives and agents, and each of their respective
                    successors and assigns, from any and all responsibility, claims, actions, suits, procedures, costs, expenses,
                    damages and liabilities arising out of or in any way related to your participation in or use of your Filnu
                    membership, including with respect to bodily injury, physical harm, illness, death or property damage.</p>


                <p>Section 1542 of the California Civil Code provides that: <br>
                    <i>"A general release does not extend to claims which the party does not know or suspect to exist in his or her
                        favor at the time of executing this release, which if known by him or her must have materially affected his
                        settlement with the other party."</i></p>

                <p>YOU HEREBY EXPRESSLY WAIVE ALL RIGHTS UNDER CALIFORNIA CIVIL CODE SECTION
                    1542 (or any statute of like effect in the jurisdiction in which you are located). This waiver extends to and
                    includes any and all claims, liabilities, injuries, damages, and causes of action that the parties do not
                    presently anticipate, know, or suspect to exist, but that may develop, accrue, or be discovered in the future.</p>

                <h1>16. Indemnification; Hold Harmless.</h1>

                <p>You agree to indemnify and hold Filnu, its affiliated companies, and its suppliers and partners harmless
                    from any claims, losses, damages, liabilities, including attorneys’ fees, arising out of your misuse of the
                    Site, violation of these Terms, violation of the rights of any other person or entity, or any breach of the
                    foregoing representations, warranties, and covenants.</p>

                <h1>17. Limitation of Liability and Damages.</h1>

                <p>UNDER NO CIRCUMSTANCES WILL FILNU OR ITS AFFILIATES, CONTRACTORS,
                    EMPLOYEES, AGENTS, OR THIRD-PARTY PARTNERS OR SUPPLIERS BE LIABLE FOR ANY
                    SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES UNDER ANY THEORY
                    OF LIABILITY, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE AND
                    PRODUCT LIABILITY), OR OTHERWISE, EVEN IF FILNU HAS BEEN ADVISED OF THE
                    POSSIBILITY OF SUCH DAMAGES. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION
                    OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE
                    ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, FILNU’S
                    LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</p>

                <p>FILNU’ LIABILITY TO YOU IS LIMITED TO $50 OR THE AMOUNTS, IF ANY, PAID BY YOU TO
                    FILNU UNDER THIS AGREEMENT IN THE THREE MONTHS IMMEDIATELY PRIOR TO THE
                    EVENT FIRST GIVING RISE TO THE CLAIM, WHICHEVER IS MORE. THE FOREGOING
                    LIMITATIONS WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
                    REGARDLESS OF WHETHER FILNU HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
                    DAMAGES AND REGARDLESS OF WHETHER ANY REMEDY FAILS OF ITS ESSENTIAL
                    PURPOSE.</p>

                <h1>18. Venue Waivers and Terms.</h1>

                <p>Members attending an appointment are deemed to agree to the liability waivers of individual barbershops.
                    Your participation in any service may be subject to addition policies, rules or conditions of the applicable
                    Venue. If you have questions about a Venue’s waiver or other terms, please see the applicable Venue’s
                    website or contact the Venue directly.</p>

                <h1>19. Infringement Policy.</h1>

                <p>Please see our <a href="/notifications">Digital Millennium Copyright Act</a> document for an explanation of our copyright and
                    trademark policies.</p>

                <h1>20. Arbitration Agreement.</h1>

                <p><b>PLEASE READ THE FOLLOWING CAREFULLY:</b></p>

                <p><b>a) Purpose.</b>  This Arbitration Agreement facilitates the prompt and efficient resolution of any disputes that
                    may arise between you and Filnu. Arbitration is a form of private dispute resolution in which parties to a
                    contract agree to submit their disputes and potential disputes to a neutral third person (called an arbitrator)
                    for a binding decision, instead of having such dispute(s) decided in a lawsuit, in court, by a judge or jury
                    trial. You have the right to opt-out of this Arbitration Agreement (as explained below), which means you
                    would retain your right to litigate your disputes in a court, either before a judge or jury.</p>

                <p>Please read this Arbitration Agreement carefully. It provides that all disputes between you and Filnu shall
                    be resolved by binding arbitration. Arbitration replaces the right to go to court. In the absence of this
                    arbitration agreement, you may otherwise have a right or opportunity to bring claims in a court, before a
                    judge or jury, and/or to participate in or be represented in a case filed in court by others (including, but not
                    limited to, class actions). Except as otherwise provided, entering into this Arbitration Agreement
                    constitutes a waiver of your right to litigate claims in court and all opportunity to be heard by a judge or
                    jury. There is no judge or jury in arbitration, and court review of an arbitration award is limited. The
                    arbitrator must follow this Arbitration Agreement and can award the same damages and relief as a court
                    (including attorney’s fees).</p>

                <p>For the purpose of this Arbitration Agreement, “Filnu” means Filnu and its parents, subsidiaries, and
                    affiliated companies, and each of their respective officers, directors, employees, and agents. The term
                    “Dispute” means any dispute, claim, or controversy between you and Filnu regarding any aspect of your
                    relationship with Filnu, whether based in contract, statute, regulation, ordinance, tort (including, but not
                    limited to, fraud, misrepresentation, fraudulent inducement, negligence, gross negligence or reckless
                    behavior), or any other legal or equitable theory, and includes the validity, enforceability or scope of this
                    Arbitration Agreement (with the exception of the enforceability of the Class Action Waiver clause below).
                    “Dispute” is to be given the broadest possible meaning that will be enforced.</p>

                <p>WE EACH AGREE THAT, EXCEPT AS PROVIDED BELOW, ANY AND ALL DISPUTES, AS
                    DEFINED ABOVE, WHETHER PRESENTLY IN EXISTENCE OR BASED ON ACTS OR
                    OMISSIONS IN THE PAST OR IN THE FUTURE, WILL BE RESOLVED EXCLUSIVELY AND
                    FINALLY BY BINDING ARBITRATION RATHER THAN IN COURT IN ACCORDANCE WITH
                    THIS ARBITRATION AGREEMENT.</p>

                <p><b>b) Pre-Arbitration Dispute Resolution.</b> For all Disputes, whether pursued in court or arbitration, you
                    must first give Filnu an opportunity to resolve the Dispute. You must commence this process by mailing
                    written notification to Filnu, Legal Department, 2090 Dunwoody Club Drive, Suite 106-136, Atlanta Ga
                    30338. That written notification must include (1) your name, (2) your address, (3) a written description of
                    the Dispute, and (4) a description of the specific relief you seek. If Filnu does not resolve the Dispute to
                    your satisfaction within 45 days after it receives your written notification, you may pursue your Dispute in
                    arbitration. You may pursue your Dispute in a court only under the circumstances described below.</p>

                <p><b>c) Exclusions From Arbitration And Your Right To Opt Out.</b> Notwithstanding the above, you may
                    choose to pursue a Dispute in court and not by arbitration if (a) the Dispute qualifies, it may be initiated in
                    small claims court in your state of residence; or (b) YOU OPT-OUT OF THESE ARBITRATION
                    PROCEDURES WITHIN 30 DAYS FROM THE DATE THAT YOU FIRST CONSENT TO THIS
                    AGREEMENT (OR IF YOU BECAME A MEMBER PRIOR TO JUNE 26, 2015, YOU OPT-OUT NO
                    LATER THAN JULY 31, 2015) (the “Opt-Out Deadline”). You may opt out of this Arbitration Agreement
                    by mailing written notification to Filnu, Legal Department, 2090 Dunwoody Club Drive, Suite 106-136,
                    Atlanta Ga 30338. Your written notification must include (1) your name, (2) your address, and (3) a clear
                    statement that you do not wish to resolve disputes with Filnu through arbitration. Your decision to opt-out
                    of this Arbitration Agreement will have no adverse effect on your relationship with Filnu. Any opt-out
                    request received after the Opt-Out Deadline will not be valid and you must pursue your Dispute in
                    arbitration or small claims court.</p>

                <p><b>d) Arbitration Procedures.</b>  If this Arbitration Agreement applies and the Dispute is not resolved as
                    provided above (“PreArbitration Claim Resolution”) either you or Filnu may initiate arbitration
                    proceedings. The American Arbitration Association (“AAA”), www.adr.org, or JAMS, www.jamsadr.com,
                    will arbitrate all Disputes, and the arbitration will be conducted before a single arbitrator. The arbitration
                    shall be commenced as an individual arbitration, and shall in no event be commenced as a class arbitration.
                    All issues shall be for the arbitrator to decide, including the scope of this Arbitration Agreement. For
                    arbitration before the AAA, for Disputes of less than $75,000, the AAA’s Supplementary Procedures for
                    Consumer-Related Disputes will apply; for Disputes involving $75,000 or more, the AAA’s Commercial
                    Arbitration Rules will apply. In either instance, the AAA’s Optional Rules For Emergency Measures Of
                    Protection shall apply. The AAA rules are available at www.adr.org or by calling 1-800-778-7879. For
                    arbitration before JAMS, the JAMS Comprehensive Arbitration Rules &amp; Procedures and the JAMS
                    Recommended Arbitration Discovery Protocols For Domestic, Commercial Cases will apply. The JAMS
                    rules are available at www.jamsadr.com or by calling 1-800-352-5267. This Arbitration Agreement governs
                    in the event it conflicts with the applicable arbitration rules. Under no circumstances will class action
                    procedures or rules apply to the arbitration. Because your contract with Filnu, the Terms of Use, and this
                    this Arbitration Agreement concern interstate commerce, the Federal Arbitration Act (“FAA”) governs the
                    arbitrability of all Disputes. However, the arbitrator will apply applicable substantive law consistent with
                    the FAA and the applicable statute of limitations or condition precedent to suit.</p>

                <p><b>e) Arbitration Award.</b> The arbitrator may award on an individual basis any relief that would be available
                    pursuant to applicable law, and will not have the power to award relief to, against or for the benefit of any
                    person who is not a party to the proceeding. The arbitrator shall make any award in writing but need not
                    provide a statement of reasons unless requested by a party. Such award by the arbitrator will be final and
                    binding on the parties, except for any right of appeal provided by the FAA, and may be entered in any court
                    having jurisdiction over the parties for purposes of enforcement.</p>

                <p><b>f) Location of Arbitration.</b> You may initiate arbitration in either Atlanta, Georgia or in the federal judicial
                    district that includes your address that you provide in your written notification of Pre-Arbitration Dispute
                    Resolution. In the event that Filnu initiates an arbitration, it may only do so in the federal judicial district
                    that includes your address that you provide in your written notification of Pre-Arbitration Dispute
                    Resolution.</p>

                <p><b>g) Payment of Arbitration Fees and Costs.</b> Filnu will pay all arbitration filing fees and arbitrator’s costs
                    and expenses upon your written request given prior to the commencement of the arbitration. You are
                    responsible for all additional fees and costs that you incur in the arbitration, including, but not limited to,
                    attorneys or expert witnesses. Fees and costs may be awarded as provided pursuant to applicable law. In
                    addition to any rights to recover fees and costs under applicable law, if you provide notice and negotiate in
                    good faith with Filnu as provided in the section above titled “Pre-Arbitration Dispute Resolution” and the
                    arbitrator concludes that you are the prevailing party in the arbitration, you will be entitled to recover from
                    Filnu your actual and reasonable attorney’s fees and costs as determined by the arbitrator.</p>

                <p><b>h) Class Action Waiver.</b> Except as otherwise provided in this Arbitration Agreement, the arbitrator may
                    not consolidate more than one person’s claims, and may not otherwise preside over any form of a class or
                    representative proceeding or claims (such as a class action, representative action, consolidated action or
                    private attorney general action) unless both you and Filnu specifically agree to do so following initiation of
                    the arbitration. If you choose to pursue your Dispute in court by opting out of this Arbitration Agreement as
                    specified above, this Class Action Waiver will not apply to you. Neither you, nor any other Member of
                    Filnu and/or user of Filnu services, can be a class representative, class member, or otherwise participate in
                    a class, representative, consolidated or private attorney general proceeding without having complied with
                    the opt-out requirements above.</p>

                <p><b>i) Limitation of Procedural Rights.</b> You understand and agree that, by entering into this Arbitration
                    Agreement, you and Filnu are each agreeing to arbitration instead of the right to a trial before a judge or
                    jury in a public court. In the absence of this Arbitration Agreement, you and Filnu might otherwise have
                    had a right or opportunity to bring Disputes in a court, before a judge or jury, and/or to participate or be
                    represented in a case filed in court by others (including class actions). Except as otherwise provided below,
                    you give up those rights. Other rights that you would have if you went to court, such as the right to appeal
                    and to certain types of discovery, may be more limited in arbitration. The right to appellate review of an
                    arbitrator’s decision is much more limited than in court, and in general an arbitrator’s decision may not be
                    appealed for errors of fact or law.</p>

                <p><b>j) Severability.</b> If any clause within this Arbitration Agreement (other than the Class Action Waiver clause
                    above) is found to be illegal or unenforceable, that clause will be severed from this Arbitration Agreement,
                    and the remainder of this Arbitration Agreement will be given full force and effect. If the Class Action
                    Waiver clause is found to be illegal or unenforceable, then this entire Arbitration Agreement will be
                    unenforceable and the Dispute will be decided by a court.</p>

                <p><b>k) Continuation.</b> This Arbitration Agreement shall survive the termination of your contract with Filnu and
                    your use of the Filnu Site and services.</p>

                <h1>21. Miscellaneous.</h1>

                <p><b>a) Choice of Law; Forum.</b> These Terms shall be governed in all respects by the laws of the State of
                    Georgia, without regard to conflict of law provisions. You agree that any claim or dispute you may have
                    against Filnu must be resolved by a court located in Atlanta, Georgia, except as otherwise agreed by the
                    parties or as described in the Arbitration Agreement paragraph above. You agree to submit to the personal
                    jurisdiction of the courts located within Atlanta, Georgia for the purpose of litigating all such claims or
                    disputes.</p>

                <p><b>b) Assignment.</b> We may assign our rights and obligations under these Terms. The Terms will inure to the
                    benefit of our successors, assigns and licensees.</p>

                <p><b>c) Severability.</b> If any provision of these Terms shall be unlawful, void, or for any reason unenforceable,
                    then that provision will be deemed severable from these Terms and will not affect the validity and
                    enforceability of any remaining provisions.</p>

                <p><b>d) Headings.</b> The heading references herein are for convenience purposes only, do not constitute a part of
                    these Terms, and will not be deemed to limit or affect any of the provisions hereof.</p>

                <p><b>e) Entire Agreement.</b> These Terms and any applicable Additional Terms, as each may be amended as set
                    forth herein, are the entire agreement between you and Filnu relating to the subject matter herein.</p>

                <p><b>f) Claims; Statute of Limitations.</b> YOU AND FILNU AGREE THAT ANY CAUSE OF ACTION
                    ARISING OUT OF OR RELATED TO THESE TERMS OR THE SITE MUST COMMENCE WITHIN
                    ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF
                    ACTION IS PERMANENTLY BARRED.</p>

                <p><b>g) Disclosures.</b> The services hereunder are offered by Filnu, LLC., located at: Filnu, 2090 Dunwoody Club
                    Drive, Suite 106-136, Atlanta Ga 30338 and email: <a href="mailto:info@filnu.com">info@filnu.com</a>. If you are a California resident, you
                    may have this same information emailed to you by sending a letter to the foregoing address with your email
                    address and a request for this information.</p>

                <p><b>h) Waiver.</b> No waiver of any of these Terms by Filnu is binding unless authorized in writing by an
                    executive officer of Filnu. In the event that Filnu waives a breach of any provision of these Terms, such
                    waiver will not be construed as a continuing waiver of other breaches of the same nature or other
                    provisions of these Terms and will in no manner affect the right of Filnu to enforce the same at a later time.</p>

                <p><b>Last updated:</b> August 1, 2015</p>






            </div>
        </div>
    </div>
</div>


<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>