<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Filnu</title>
    <meta name="author" content="Sam Norton">
    <meta name="robots" content="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="barber, barbers, barbershop, barbershops, haircut, black barber, black barbers, black barbershop, need a barber, barber app">
    <meta name="description" content="Find a barber near you.">
    <script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.css" type="text/css"/>
    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/home/normalize.css" media="all">
    <link rel="stylesheet" href="/css/home/style.css" media="all">
    <link rel="stylesheet" href="/css/home/style-landingpage.css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,700,600,800,900'
          rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/js/home/jquery-1.11.1.min.js"></script>
    <script src="/js/home/device.min.js"></script>
    <!--OPTIONAL JQUERY PLUGIN-->
    <script src="/js/home/jquery.mb.YTPlayer.js"></script>
    <script src="/js/home/custom.js"></script>


    <meta name="robots" content="noindex,follow"/>
</head>

<body>
<div class="header">
    <div class="big-background hidden-sm hidden-xs">
        <a id="bgndVideo" class="player"
           data-property="{videoURL:'https://www.youtube.com/watch?v=h5G_jZHctGk',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1, quality:'hd720'}"></a>

        <!-- <div class="pattern"></div>  -->
        <nav class="navbar navbar-default opacity1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="/">
                            <img src="/images/logo-1x.png" alt="Filnu" title="Filnu" class="lp-logo img-responsive pull-left"><span class=" white-color verti-bottom" style="
    float: left;
">Beta</span>
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <ul class="nav navbar-nav pull-right sign-in-up hidden-xs">
                            <li>
                                <a href="/login" class="sign-in-button">Login</a>
                            </li>
                            <li>
                                <a href="/signup" class="sign-in-button">Register Client</a>
                            </li>
                            <li>
                                <a href="/signup/barber" class="sign-in-button">Register Barber</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </div>
    <div class="big-background-default-image visible-xs visible-sm hidden-md hidden-lg big-background">
        <!-- <div class="pattern"></div>  -->
        <nav class="navbar navbar-default opacity1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <a href="/">
                            <span class="pull-left white-color verti-bottom">Beta</span> <img src="/images/logo-1x.png"
                                                                                              alt="Filnu" title="Filnu"
                                                                                              class="lp-logo img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 ">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="showLeft">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                    </div>
                </div>
            </div>

        </nav>
    </div>
</div>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <a href="/login">Login</a>
    <a href="/signup">Register Client</a>
    <a href="/signup/barber">Register Barber</a>
</nav>

<div class="wrapper">
    <div class="width-full bg-red red-strip">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center h1 white-color margin-padding-0">Connecting You To Trusted Barbers
                        Nearby</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-4 col-xs-3">
        </div>
        <div class="signup-main-div col-md-2 col-sm-4 col-xs-6">
          <input type="button"  value="Sign Up" class="signup-main ">
        </div>
        <div class="col-md-5 col-sm-4  col-xs-3">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="margin-top-5">
                <div class="col-md-5 col-sm-4 col-xs-3">
                    <hr>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <h2 class="text-center font-size-20 margin-top-10 line-height-15">As &nbsp;&nbsp;Easy &nbsp;&nbsp;As 1,2,3...</h2>
                </div>
                <div class="col-md-5 col-sm-4  col-xs-3">
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="margin-top-1">
                <div class="col-sm-4">
                    <img src="/images/mobile-location.png" alt="icons"
                         class="img-adjust margin-auto img-responsive margin-top-5 margin-bottom-5">

                    <p class="text-center light-gray-color font-size-20 red-color margin-bottom-10">1. Find Barbers<br>By
                        Location</p>
                </div>
                <div class="col-sm-4">
                    <img src="/images/like-you.png" alt="icons"
                         class="img-adjust margin-auto img-responsive margin-top-5 margin-bottom-5">

                    <p class="text-center light-gray-color font-size-20 red-color margin-bottom-10">2. Book The One<br>You
                        Like</p>
                </div>
                <div class="col-sm-4">
                    <img src="/images/show-up.png" alt="icons"
                         class="img-adjust margin-auto img-responsive margin-top-5 margin-bottom-5">

                    <p class="text-center light-gray-color font-size-20 red-color margin-bottom-10">3. Show Up For<br>Your
                        Cut</p>
                </div>
            </div>
        </div>
    </div>
    <div class="width-full bg-red red-strip margin-top-5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center h1 white-color margin-padding-0">A. $80 = 4 cuts/month</h1>
                    <h1 class="text-center h1 white-color margin-padding-0">B. $40 = 2 cuts/month</h1>
                    <h1 class="text-center h1 white-color margin-padding-0">C. Pay As You Go&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="margin-top-5">
                <div class="col-md-5 col-sm-4 col-xs-3">
                    <hr>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <h2 class="text-center font-size-20 margin-top-10 line-height-15">Fast &amp; Easy</h2>
                </div>
                <div class="col-md-5 col-sm-4 col-xs-3">
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="margin-top-1">
                <div class="col-sm-4">
                    <img src="/images/no-calls.png" alt="icons"
                         class="img-adjust margin-auto img-responsive margin-top-5 margin-bottom-5">

                    <p class="text-center font-size-20 red-color margin-bottom-10">No Phone Calls</p>
                </div>
                <div class="col-sm-4">
                    <img src="/images/no-cash.png" alt="icons"
                         class="img-adjust margin-auto img-responsive margin-top-5 margin-bottom-5">

                    <p class="text-center font-size-20 red-color margin-bottom-10">No Cash</p>
                </div>
                <div class="col-sm-4">
                    <img src="/images/no-waiting.png" alt="icons"
                         class="img-adjust margin-auto img-responsive margin-top-5 margin-bottom-5">

                    <p class="text-center font-size-20 red-color margin-bottom-10">No Waiting</p>
                </div>
            </div>
        </div>

    </div>
    <div class="width-full bg-red margin-top-5 red-strip">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-sm-4 col-sm-offset-3">

                    <h2 class="white-color grandma">So easy...<br>Yo grandpappy can do it!</h2>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <img src="/images/like.png" alt="icons" class="margin-auto img-responsive  icon-thumb like-icon">
                </div>
            </div>

        </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-5 col-sm-4 col-xs-3">
          </div>
          <div class="signup-main-div col-md-2 col-sm-4 col-xs-6">
            <input type="button"  value="Sign Up" class="signup-main ">
          </div>
          <div class="col-md-5 col-sm-4  col-xs-3">
          </div>
        </div>
      </div>
    </div>
    <div class="width-full bg-gray">
        <div class="container">
            <div class="row">
                <div class=" margin-top-5 ">
                    <div class="col-md-5 col-sm-4 col-xs-3">
                        <hr>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <h2 class="text-center font-size-20 margin-top-10">Client Demo</h2>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-3">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="video-placeholder margin-auto margin-bottom-10">
                        <iframe  class="margin-top-3 intro-vid " src="https://www.youtube.com/embed/MMtIZMhzj4s?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-push-sm-6">
                <ul class="pull-right">
                    <li>
                        <a href="/terms">Terms</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="col-pull-sm-6">
                <h6 class="pull-left">Filnu, LLC 2016 Copyright</h6>
            </div>

        </div>


    </footer>
</div>
<script src="/js/home/bootstrap.js"></script>
<script src="/js/home/landing-page-custom-js.js"></script>
<script src="/js/jspatch.js"></script>
<script src="/js/home/classie.js"></script>
<script type="text/javascript">
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
            body = document.body;

    showLeft.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeft');
    };
  $('.signup-main').on('click', function(e){
    window.location.href = '/signup/main'
  })

</script>
</body>
</html>
