<% include ../partials/header %>
<% include ../partials/innerheader %>
<div class="container margin-auto">

        <% for(i = 0;i < appointments.length;i++){ icon = "cut-icon.png" %><div class="row">
            <% if (appointments[i].service == "shave") {
                icon = "shave-brush.png"
            } %>
            <% if (appointments[i].service == "line-up") {
                icon = "raz-icon.png"
            } %>
            <div class="margin-top-5 margin-7">
                <div class="col-xs-3 padding-0">
                    <a
                       class="pull-left margin-top-20 font-size-14 light-gray-color datetime"><%= appointments[i].date.getDate() < 10 ? "0" + appointments[i].date.getDate() : appointments[i].date.getDate(); %>
                        - <%= appointments[i].date.getHours() < 10 ? "0" + appointments[i].date.getHours() : appointments[i].date.getHours(); %>
                        :<%= appointments[i].date.getMinutes() < 10 ? "0" + appointments[i].date.getMinutes() : appointments[i].date.getMinutes(); %> <%= appointments[i].date.getHours() + 12 > 11 ? "P" : "A"; %></a>
                </div>
                <div class="col-xs-3 padding-0">
                    <% if(appointments[i].barber_id.fbid != '' && appointments[i].barber_id.fbid != null){ %>
                    <img class="img-responsive" src="//graph.facebook.com/<%= appointments[i].barber_id.fbid %>/picture?type=large"
                         alt="profile_pic"/>

                    <% }else{ %>
                    <img class="img-responsive img-width-75 margin-auto"
                         src="<%= appointments[i].barber_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + appointments[i].barber_id.profile_pic : '/images/profile-img2.png' %>"
                         alt="profile_pic"/>
                    <% } %>
                    <!--<img src="images/profile-img2.png" alt="" class="img-responsive img-width-75 margin-auto">-->

                    <p class="align-center margin-top-5"><%= appointments[i].barber_id.username %></p>
                </div>
                <div class="col-xs-3 padding-0">
                    <img src="images/icons/<%= icon %>" alt="<%= appointments[i].service %>"
                         title="<%= appointments[i].service %>"
                         class="img-responsive img-width-75 margin-auto">

                    <p class="align-center margin-top-5"><%= appointments[i].service %></p>
                </div>
                <div class="col-xs-3 padding-0">
                <% if(appointments[i].confirmation_status == true){ %>

                        <% if(appointments[i].status==false){ %>
                        <input for="<%= appointments[i]._id %>" type="Button"
                               value='Give Review'
                               class="btnclikable submit-button custom-input light-gray-bg half-button margin-top-5 font-size-12"
                                >
                        <% }else{ %>


                            <% if(appointments[i].review_status==false){ %>
                            <input for="<%= appointments[i]._id %>" type="Button"
                                   value="Give Review"
                                   class="submit-button custom-input bg-red half-button margin-top-5 font-size-12 bg-red"
                                   onclick="window.location.href='/appointments/<%= appointments[i]._id %>/review'"

                                    >
                            <% }else{ %>
                            <input for="<%= appointments[i]._id %>" type="Button"
                                   value='Completed'
                                   class="btnclikable submit-button custom-input light-gray-bg half-button margin-top-5 font-size-12"
                                    >
                            <% } %>




                        <%}%>

                <% } else{%>
                <input for="<%= appointments[i]._id %>" type="Button"
                       value='Canceled'
                       class="btnclikable submit-button custom-input light-gray-bg half-button margin-top-5 font-size-12"
                        >
                <% } %>
            </div>
            </div>
    </div>
        <% } %>



    <hr class="margin-bottom-5">


    <div class="row" id="working_hours" style="display: none;">
        <div class="margin-top-5 margin-7">
            <div class="col-xs-9 padding-0">
                <p class="pull-left margin-top-5 font-size-14 light-gray-color"><img
                            src="images/icons/alert-icon.png" alt="" class="alert-icon">Setup working hours</p>
            </div>
            <div class="col-xs-3 padding-0">
                <input onclick="window.location.href='/barber/working-hours'" type="Button" value="Setup now"
                       class="submit-button custom-input bg-red half-button margin-top-5 font-size-12">
            </div>
        </div>
    </div>

    <hr class="margin-bottom-5">

</div>
<script>
    $(document).ready(function () {
        $.ajax("/barber/setup/working_hours", {
            dataType: 'JSON',
            success: function (response) {
                if (response.count == 0) {
                    $("#working_hours").fadeIn(1000);
                }
            }
        })
        $(".btnclikable.bg-red").click(function () {
            window.location.href = "/appointments/complete/" + $(this).attr('for');
        })
    })
</script>
<% include ../partials/footer %>
