<% include ../partials/header %>
<% include ../partials/innerheader %>
<script src="/bower/moment/moment.js"></script>
<link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
<!--<script src="/bower/moment-timezone/moment-timezone.js"></script>-->
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<div class="container">

    <div class="row">
        <div class="center">
            <div class="col-xs-12">
                <div class="center margin-auto">
                    <img src="/images/icons/<%= appointment.status==true?"confirmed_green.png":"confirmed.png" %>" alt="Appointment Confirmed"
                         class="confirmed-img img-responsive margin-top-5" title="Appointment Confirmed">
                </div>
                <h3 class="align-center margin-bottom-5 h3-gray-title">Appointment <%= appointment.status==true?"Completed":"Confirmed" %></h3>
            </div>
        </div>
    </div>
    <% if(appointment.manually !== true) { %>
        <% if(appointment.confirmation_code != 'false' ) { %>
        <div class="row">
            <div class="col-xs-12">
                <input type="text" name="appointment-code" value="Code: <%= appointment.confirmation_code %>"
                       style="font-family: 'BraveNewEra' !important;"
                       readonly="readonly" class="custom-input margin-bottom-5 txt-bold placeholder-center align-center">
            </div>
        </div>
        <% }%>
    <% }%>
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">
                <% if(appointment.barber_id.fbid != '' && appointment.barber_id.fbid != null){ %>
                <img class="img-responsive" src="//graph.facebook.com/<%= appointment.barber_id.fbid %>/picture?type=large"
                     alt="profile_pic" class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle" style="margin-top: 0px !important;"/>

                <% }else{ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle " style="margin-top: 0px !important;"
                     src="<%= appointment.barber_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' +appointment.barber_id.profile_pic : '/images/profile-img2.png' %>"
                     alt="profile_pic"/>
                <% } %>
                <!--<img src="images/profile-img2.png"-->
                     <!--class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle" alt="Profile Image">-->

                <h3 class="align-center margin-bottom-5 h3-gray-title">
                    "<%= appointment.barber_id.username %>"</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="align-center light-gray-color"><%= appointment.barber_id.address.details %>
                <br><%= appointment.barber_id.address.city %>
                , <%= appointment.barber_id.address.state %> <%= appointment.barber_id.address.zipcode %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p id="whendate"
               class="align-center red-color">
                <%= yearmonths[appointment.date.getMonth()] + " " + appointment.date.getDay() + "." + appointment.date.getFullYear() %>
                @ <%= appointment.date.getHours() < 10 ? "0" + appointment.date.getHours() : appointment.date.getHours() %>
                :<%= appointment.date.getMinutes() < 10 ? "0" + appointment.date.getMinutes() : appointment.date.getMinutes() %>
                <%= appointment.date.getHours() + 12 > 11 ? "PM" : "AM" %>
            </p>

            <script>
                var d = Number('<%- appointment.date.getTime() %>');
//                moment.tz.add([
//                    'America/Los_Angeles|PST PDT|80 70|0101|1Lzm0 1zb0 Op0',
//                    'America/New_York|EST EDT|50 40|0101|1Lz50 1zb0 Op0'
//                ])
//                console.log(d);
                var time = <%= appointment.date.getHours()%> < 10 ? "0" + <%= appointment.date.getHours() %> : <%= appointment.date.getHours() %>;
                    time += ":";
                    time += <%= appointment.date.getMinutes() %> < 10 ? "0" + <%= appointment.date.getMinutes() %> : <%= appointment.date.getMinutes() %>;
                    time += (<%= appointment.date.getHours() %> > 11) ? " pm" : " am";
        console.log(<%= appointment.date.getHours() %> )
                document.getElementById('whendate').innerHTML=(moment(d).tz('America/New_York').format('MMMM Do YYYY @ ')+time);
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <% if(appointment.status==true && user.type==0 && (appointment.review_status==false) && (appointment.confirmation_code != 'false')){ %>
                <input type="button" onclick="window.location.href='/appointments/<%= appointment._id %>/review'" value="Give Review" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
            <%}else if(appointment.status==true && user.type==0 && (appointment.review_status==true)){  %>
            <input type="button" value="Reviwed" class="submit-button margin-bottom-5 margin-top-5 custom-input light-gray-bg custom-submit-button">
            <%}%>
        </div>
    </div>

    <% if (appointment.status==false && user.type==0 && (appointment.confirmation_code != 'false') &&((appointment.confirmation_status != false)||(appointment.confirmation_status != 'false'))){ %>
        <div class="row">
            <div class="col-xs-12">
                <input type="button" onclick="window.location.href='/appointments/cancel/<%= appointment._id %>'" value="Cancel this appointment" class="submit-button margin-bottom-5 margin-top-5 custom-input light-gray-bg custom-submit-button">
            </div>
        </div>
    <% } else { %>
    <% } %>
</div>
<% include ../partials/footer %>
