<% include ../partials/header %>
<% include ../partials/innerheader %>

<section class="container">
    <% if( typeof backUrl != 'undefined') { %>
    <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12" action="<%= backUrl %>">
        <input type="submit" value="Back to <%= (backUrl.indexOf('barber')>0)?'barber':'' %> profile"
               class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
    </form>
    <% } %>
    <% if(user.type==0){ %>
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">
                <% if(user.fbid != '' && user.fbid != null){ %>
                <img class="img-responsive" src="//graph.facebook.com/<%= user.fbid %>/picture?type=large"
                     alt="profile_pic"/>

                <% }else{ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic-history additional margin-top-10 margin-bottom-5 img-circle"
                     src="<%= user.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + user.profile_pic : '/images/icons/user-placeholder.png' %>"
                     alt="profile_pic"/>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
    <% if(user.type == 1){ %>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-5 h3-gray-title font-size-14">
                <% typeof appointments != 'undefined' ? appointments.length : 0 %>
                Appointments</h3>
        </div>
    </div>
    <% } %>

    <% if(user.type == 0) { %>
        <% include ../partials/customer_appointments %>

    <% }else{ %>
    <% include ../partials/barber_appointments %>
    <% } %>
</section>
<script>
    $(document).ready(function(){
        $(".clickable-appointment").click(function(){
            window.location.href="/appointments/"+$(this).attr('for');
        })
    })
</script>
<% include ../partials/footer %>
