<% include ../partials/header %>
<% include ../partials/innerheader %>
<!-- calendar -->
<div class="container margin-top-15">
    <!-- Responsive calendar - START -->
    <div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev">
                <div class="btn btn-primary"><i class="fa fa-chevron-left"></i></div>
            </a>
            <h4 class="txt-bold color-red"><span data-head-year></span>&nbsp; <span data-head-month></span></h4>
            <a class="pull-right" data-go="next">
                <div class="btn btn-primary"><i class="fa fa-chevron-right"></i></div>
            </a>
        </div>
        <hr/>
        <div class="day-headers">
            <div class="day header">Mon</div>
            <div class="day header">Tue</div>
            <div class="day header">Wed</div>
            <div class="day header">Thu</div>
            <div class="day header">Fri</div>
            <div class="day header">Sat</div>
            <div class="day header">Sun</div>
        </div>
        <div class="days" data-group="days">

        </div>
    </div>
  <% if (typeof service!='undefined') { %>
      <input class="hidden" id="service" value="<%= service %>">
  <% } %>

    <!-- Responsive calendar - END -->
</div>
<script src="/bower/moment/moment.js"></script>
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<!--<script src="/bower/moment-timezone/moment-timezone.js"></script>-->
<script>
    <!--$('.fa-chevron-left').parent().attr('href', '/barber/'+'<%= username%>')-->
    $(document).ready(function () {
      if($('#service').val()){
//        var service = $('#service').val()?'/?service='+$('#service').val():'';
        $('.fa-chevron-left').parent().attr('href', "/services/select/"+ '<%= username %>');
      }else{
        $('.fa-chevron-left').parent().attr('href', '/barber/'+'<%= username%>')
      };
        var now = moment();

        moment.tz.add([
            'America/Los_Angeles|PST PDT|80 70|0101|1Lzm0 1zb0 Op0',
            'America/New_York|EST EDT|50 40|0101|1Lz50 1zb0 Op0'
        ])
        now.hours("0");
        now.minutes("0");
        now.seconds("0");
        currentTime = now.format("YYYY-MM").toString();
        $(".responsive-calendar").responsiveCalendar({

            time: currentTime,
            onDayClick: function (events) {
                var now = moment();
                var dtStr = $(this).attr('data-year') + ("-") + $(this).attr('data-month') + ("-") + $(this).attr('data-day');
                var selectedDate = moment.tz(dtStr+" 10:30 PM","YYYY-MM-DD hh:mm A", "America/New_York")
                var sel = new Date(selectedDate.toDate());
                now = new Date(now.tz('America/New_York').toDate());
                selTime = Math.floor(sel.getTime() / 1000).toFixed(0);
                nowTime = Math.floor(now.getTime() / 1000).toFixed(0);
                t = selTime >= nowTime;
                if (t == false) {
                    alert("Please select future dates");
                    return;
                }
              if($('#service').val()){
                var service = $('#service').val()?'/?service='+$('#service').val():'';
                window.location.href = "/order/" + dtStr + "/" + '<%= username %>'+service;
              }else{
                window.location.href = "/book/" + dtStr + "/" + '<%= username %>';
              };
            }
        });
    });
</script>
<% include ../partials/footer %>
