<% include ../partials/header %>
<% include ../partials/additionalheader %>
<div class="container">
  <script src="/js/validation.js"></script>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-15 margin-bottom-10 h3-gray-title font-size-14">Change password</h3>
        </div>
    </div>
     <!--<% if (typeof message!=='undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
        <!--<% } %>-->
        <form class="center" method="post" action="/profile/change-password">
        <div class="row">
            <div class="col-xs-12">
                <input type="hidden" name="_id" value="<%= user._id %>"/>
                <input type="password" name="password" placeholder="Current Password" class="password-icon margin-bottom-5"
                       password="true" required="true">
                <!--<span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid Password</span><br>-->

                <input type="password" name="newpassword" id="newpassword" placeholder="New Password" class="password-icon margin-bottom-5"
                       password="true" required="true" >

                <!--<span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid New Password</span><br>-->

                <input type="password" name="repeatnewpassword" id="password1" placeholder="Confirm New Password" class="password-icon margin-bottom-5"
                       password="true" required="true">
                <!--<span class="error hidden-xs hidden-md hidden-sm hidden-lg">Re-enter Valid Password</span><br>-->
            </div>
        </div>
        <div class="row">
            <div class="center">
                <div class="col-xs-6">
                    <a href="/profile<%= (user.type == 0)? '/edit':''%>" class="back-button pull-left align-center margin-top-10">Cancel</a>
                </div>
                <div class="col-xs-6">
                    <input type="button" id="submit" value="Confirm" class="pull-right back-button bg-red align-center margin-top-10">
                    <input type="submit" id="submit_hidden" value="Confirm" class="hidden">
                </div>
            </div>
        </div>
    </form>

</div>
<script>
  $(function () {
    $('form').removeAttr("novalidate");
    $('#submit').click(function (e) {
      console.log('>>>>>')
      if ($('form').valid()) {
        if ($("#newpassword").val() !== $("#password1").val()) {
          alert("Passwords don't match");
        } else {
          $('#submit_hidden').click();
        };
      };
    });
  })
</script>
<% include ../partials/footer %>
