<% include ../partials/header %>
<% include ../partials/additionalheader %>
<div class="container">
  <script src="/js/validation.js"></script>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-15 margin-bottom-10 h3-gray-title font-size-14">Change password</h3>
        </div>
    </div>
     <!--<% if (typeof message!=='undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
        <!--<% } %>-->
        <form class="center" method="post" id="reset_password" action="/users/change-password">
        <div class="row">
            <div class="col-xs-12">
                <input type="hidden" name="_id" value="<%= _id %>"/>
                <input type="hidden" name="username" value="<%= username %>"/>
                <input type="password" name="password" id="password" placeholder="New Password" class="password-icon margin-bottom-5"
                       password="true" required="true">
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid Password</span><br>

                <input type="password" name="confirm_password" id="password1" placeholder="Confirm New Password" class="password-icon margin-bottom-5"
                       password="true" required="true">
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid New Password</span><br>
            </div>
        </div>
        <div class="row">
            <div class="center">
                <div class="col-xs-6">
                    <a href="/profile" class="back-button pull-left align-center margin-top-10">Cancel</a>
                </div>
                <div class="col-xs-6">
                    <input type="button" id="submit" form="reset_password" value="Confirm" class="pull-right back-button bg-red align-center margin-top-10">
                  <input type="submit" class="hidden" id="submit_hidden" >
                </div>
            </div>
        </div>
    </form>

</div>
<script>
  $(function () {
    $('form').removeAttr("novalidate");
    $('#submit').click(function (e) {
      console.log('>>>>>')
      if ($('form').valid()) {
        if ($("#password").val() !== $("#password1").val()) {
          alert("Passwords don't match");
        } else {
          $('#submit_hidden').click();
        };
      };
    });
  })
</script>
<% include ../partials/footer %>
