<% include ../partials/header %>
<div class="width-100">
    <img src="images/city-bg.png" class="margin-auto img-responsive" alt="City Background">
    <div class="pos-ab set-ab-pos-1">
        <img src="/images/logo-1x.png" class="margin-auto img-responsive logo-2x " alt="Filnu">
        <% if(user.fbid!='' && user.fbid!=null){ %>
        <a href="/upload/profile-pic"><img class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle" src="//graph.facebook.com/<%= user.fbid %>/picture?type=large" alt="profile_pic"/></a>

        <% }else{ %>
        <a href="/upload/profile-pic"><img class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle " src="<%= user.profile_pic?'https://digicut-public.s3.amazonaws.com/'+user.profile_pic:'/images/icons/user-placeholder.png' %>" alt="profile_pic"/></a>
        <% } %>
    </div>
    <div class="pos-ab set-ab-pos-9">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"  id="showLeft">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
</div>
<% if(user.type==0){ %>
<section class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-15 h3-gray-title font-size-14">
                <%= user.username %>
            </h3>
        </div>
    </div>
    <!--<% if (typeof message!='undefined' && message.length > 0) { %>-->
    <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
    <!--<% } %>-->
    <div class="row margin-top-5">
        <div class="col-xs-6">
            <a href="/barber/search"><img src="/images/icons/find-barber-icon.png" alt="Find Barber" title="Find Barber" class="img-responsive shadow-hover"></a>
        </div>
        <div class="col-xs-6">
            <a href="/appointments"><img src="/images/icons/history3-icon.png" alt="History" title="History" class="img-responsive shadow-hover"></a>
        </div>
    </div>
    <div class="row margin-top-5">
        <div class="col-xs-6">
            <a href="/account/subscribe"><img src="/images/icons/payment3-icon.png" alt="Payment" title="Payment" class="img-responsive shadow-hover"></a>
        </div>
        <div class="col-xs-6">
            <a href="/users/alerts"><img src="images/icons/alert5-icon.png" alt="Alerts" title="Alerts" class="img-responsive shadow-hover"></a>
        </div>
    </div>
</section>
<% } else if(user.type==1){ %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-15 h3-gray-title font-size-14">
                <%= user.username %>
            </h3>
            <p class="light-gray-color align-center">Profile</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <a href="/barber/alerts"><img src="images/icons/alert2-icon.png" alt="Alerts" title="Alerts" class="img-responsive shadow-hover"></a>
        </div>
        <div class="col-xs-4">
            <a href="/profile"><img src="images/icons/barber-profile-icon.png" alt="Barber Profile" title="Barber Profile" class="img-responsive shadow-hover"></a>
        </div>
        <div class="col-xs-4">
            <a href="/barber/calendar"><img src="images/icons/calendar2-icon.png" alt="Calender" Title="Calender" class="img-responsive shadow-hover"></a>
        </div>
    </div>
    <div class="row margin-top-5">
        <div class="col-xs-4">
            <a href="/barber/working-hours"><img src="images/icons/working-hours-icon.png" alt="Working Hours" title="Working Hours" class="img-responsive shadow-hover"></a>
        </div>
        <div class="col-xs-4">
            <a href="/services"><img src="images/icons/services-icon.png" alt="Payment" title="My Service" class="img-responsive shadow-hover"></a>
        </div>
        <div class="col-xs-4">
            <a href="/appointments"><img src="images/icons/history-icon.png" alt="History" class="img-responsive shadow-hover" title="History"></a>
        </div>
    </div>
</div>
<% } %>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <a href="/profile/edit">Edit Profile</a>
    <a href="javascript:void(0)">FAQ</a>
    <a href="/deactivate">Deactivate Account</a>
    <a href="/profile/change-password">Change Password</a>
    <a href="/logout">Logout</a>
</nav>
<% include ../partials/footer %>
