<% include ../partials/header %>
<% include ../partials/innerheader %>
<!-- calendar -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">
                <% if(user.fbid != '' && user.fbid != null){ %>
                <img class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 dashboard-img-circle" src="//graph.facebook.com/<%= user.fbid %>/picture?type=large"
                     alt="profile_pic"/>

                <% }else{ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 dashboard-img-circle"
                     src="<%= user.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + user.profile_pic : '/images/icons/user-placeholder.png' %>"
                     alt="profile_pic"/>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="align-center margin-bottom-10 txt-bold font-size-16">We're sorry to see you go...Come back soon!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 align-center">
            <form action="/deactivate" method="post">
                <input type="hidden" value="<%= user.username %>" name="username"/>
                <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" type="password" name="password" placeholder="Password" class="password-icon margin-bottom-5" required>
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid Password</span><br>
                <input type="submit" value="Deactivate" class="submit-button margin-bottom-5 custom-input bg-red custom-submit-button">
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>