<% include ../partials/header %>
<% include ../partials/additionalheader %>
<script type="text/javascript" src="/bower/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<section class="container">
  <script src="/js/validation.js"></script>
    <!--<% if (typeof message!='undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
        <!--<% } %>-->
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-15 margin-bottom-5 h3-gray-title font-size-14">Edit profile</h3>
        </div>
    </div>
    <form class="center" method="post" action="/profile/edit" role="form" id="basicprofile">
        <div class="row">
            <div class="col-xs-12">
                <input type="hidden"  name="editprofile" id="editprofile" value="true"/>
                <input type="text" name="user[first]" placeholder="First Name" value="<%= user.first%>" class="user-icon margin-bottom-5" first="true" required="true">
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter First name</span><br>

                <input type="text" name="user[last]" placeholder="Last Name" value="<%= user.last%>" class="user-icon margin-bottom-5" last="true" required="true">
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Last name</span><br>

                <input type="text" name="user[username]" disabled="" placeholder="Username" value="<%= user.username%>" class="user-icon margin-bottom-5 mobile-icon margin-bottom-5 input-padding-right-0"  username="true" required="true">
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid username</span><br>

                <input type="email" name="user[email]" placeholder="Email" value="<%= user.email%>" class="email-icon margin-bottom-5" email="true" required="true">
                <% if(user.type === 1) { %>
                  <input type="email" name="user[barber][paypalemail]" placeholder="Paypal Email"
                         value="<%= (user.barber.newpaypalemail)? user.barber.newpaypalemail:user.barber.paypalemail %>" class="email-icon margin-bottom-5" paypalemail="true" required="true">
                <% } %>
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid Email</span><br>
                <script src="/js/signup.js"></script>
                <!--<input type="text" name="user[address][details]" id="nearest_location" placeholder="Address"-->
                       <!--value="<%= user.address.details %>" class="location-icon custom-input margin-bottom-5" required="true">-->


              <!--<input type="text" name="address" placeholder="Address" class="location-icon custom-input margin-bottom-5" required="" id="nearest_location"><br/>-->
              <input type="text" name="user[address][address]" placeholder="Address"
                     class="location-icon custom-input margin-bottom-5" required="true"
                     id="address" value="<%= (user.address.address)?user.address.address:user.address.details %>"><br/>
              <input type="text" name="user[address][city]" placeholder="City"
                     class="location-icon custom-input margin-bottom-5" required="true" id="city"
                     value="<%= user.address.city %>"><br/>
              <input type="text" name="user[address][state]" placeholder="State" class="location-icon custom-input margin-bottom-5"
                     required="true" id="state"
                     value="<%= user.address.state %>"><br/>
              <input type="text" name="user[address][zipcode]" placeholder="Zip" class="location-icon custom-input margin-bottom-5"
                     required="true" id="zip"
                     value="<%= user.address.zipcode %>"><br/>



              <input type="hidden"  name="user[address][geo][0]" id="lat"/>
                <input type="hidden" id='lng' name="user[address][geo][1]">
                <!--<input type="hidden" name="user[address][state]" id="state"/>-->
                <!--<input type="hidden" name="user[address][city]" id="city"/>-->
                <!--<input type="hidden" name="user[address][country]" id="country"/>-->


            </div>
        </div>
        <div class="row">
            <div class="center">
                <div class="col-xs-6">
                    <input type="tel" name="user[phone]" placeholder="Mobile" value="<%= user.phone%>"
                           class="mobile-icon margin-bottom-5 input-padding-right-0" id="phone" phone="true" required="true">
                    <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid Mobile Number</span>
                </div>
                <div class="col-xs-6">
                    <input name="user[birthday]" value="<%= user.birthday %>"  type="text" placeholder="Birthday"
                           class="calendar-icon margin-bottom-5 input-padding-right-0"  id="birthdaypicker" required="true">
                    <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid DOB</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center">
                <div class="col-xs-12">
                    <input type="submit" value="Update" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
                    <input type="Button" value="Change Password" onclick="window.location.href='/profile/change-password'" class="submit-button margin-bottom-5 custom-input custom-submit-button light-gray-bg">
                </div>
            </div>
        </div>
    </form>
</section>
<script>
    window.onload = function () {
      $('.profile-pic').parent().attr('href', 'upload/profile-pic?profile=1')
            $("[type='tel']").inputmask("(999) 999-9999");
        $("#nearest_location").blur(function () {
            console.log('nearest_location>>>>>>>>>>>>>>>>>>>>>>')
            geo.getAddress({
                callback:["changeLocation"],
                element:"#nearest_location"
            });
        })
        $("#new_password,#repeat_new_password").bind('change keyup', validatePassword);

    }
    function validatePassword() {
        var pass2 = $("#repeat_new_password").val();
        var pass1 = $("#new_password").val();
//        console.log(pass2, pass1);
        if (pass1 != pass2)
            document.getElementById("repeat_new_password").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("repeat_new_password").setCustomValidity('');
//empty string means no validation error
    }
</script>
<% include ../partials/footer %>


