<% include ../partials/header %>
<% include ../partials/innerheader %>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">
                <% if(user.fbid != '' && user.fbid != null){ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic-history additional margin-top-10 margin-bottom-5 img-circle"
                     src="//graph.facebook.com/<%= user.fbid %>/picture?type=large" alt="profile_pic"/>

                <% }else{ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic-history additional margin-top-10 margin-bottom-5 img-circle"
                     src="<%= user.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + user.profile_pic : '/images/icons/user-placeholder.png' %>"
                     alt="profile_pic"/>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="align-center  txt-bold font-size-14">There are no barbers in your area yet </h4>

            <h4 class="align-center margin-bottom-5 txt-bold font-size-14">Request Filnu in your area by entering<br>your
                zip code below</h4>
        </div>
    </div>
    <div class="row">
        <form id="invitenowform">
            <div class="col-xs-6">
                <input type="text" title="Zipcode is required field" name="zipcode" placeholder="Zip code"
                       class="zipcode-icon margin-bottom-5 input-padding-right-0 custom-input" pattern="^[0-9]+$"
                       required>
                <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Enter Valid Zip code</span>
            </div>
            <div class="col-xs-6">
                <input type="submit" value="Send" class="submit-button custom-input bg-red half-button">
            </div>
        </form>
    </div>
</section>
<script>
    $("#invitenowform").submit(function (e) {

        e.preventDefault();
//        $('form').validate()
        if($('form').valid()){
            $.ajax($(this).prop('action'), {
                type: 'post',
                dataType: 'JSON',
                data: $(this).serialize(),
                success: function (response) {
                    window.location.href = "/barber/search";
                }
            })
            return false;
        }

        return false;
    })
</script>
<% include ../partials/footer %>
