
<% include ../partials/header %>
<% include ../partials/innerheader %>
<section class="container">
    <div class="row">			
        <div class="col-xs-12">
            <div class="margin-auto">
                <% if(user.fbid!='' && user.fbid!=null){ %>
                <img class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle" src="//graph.facebook.com/<%= user.fbid %>/picture?type=large" alt="profile_pic"/>

                <% }else{ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle" src="<%= user.profile_pic?'https://digicut-public.s3.amazonaws.com/'+user.profile_pic:'/images/icons/user-placeholder.png' %>" alt="profile_pic"/>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="align-center margin-bottom-10 txt-bold font-size-14"><%= count %> barbers in your area</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 align-center">					
            <input type="Button" value="Join now &amp; get your first cut" onclick="window.location.href='/account/subscribe'" class="submit-button margin-bottom-5 custom-input bg-red custom-submit-button">
        </div>
    </div>
</section>
<% include ../partials/footer %>
