<% include ../partials/header %>
<% include ../partials/innerheader %>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <img src="/images/logo.png" alt="" class="img-responsive margin-auto logo">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <form class="center" method="post" action="/login" novalidate>

                <input type="text" name="username" placeholder="Username" class="email-icon margin-bottom-5" value="<%= (typeof username !== 'undefined')?username:'' %>" required="">
                <br>

                <input type="password" name="password" placeholder="Password" class="password-icon margin-bottom-5"
                       required>
                <br>

                <input type="submit" value="Sign in"
                       class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="center">
            <div class="col-xs-4">
                <a href="/users/reset-password" class="pull-left light-gray-color">Forgot your password</a>
            </div>
          <div class="col-xs-4">
            <a href="/signup" class="red-color register center">Sign-Up Client</a>
          </div>
            <div class="col-xs-4 pull-right" >
                <!--<div class="row">-->
                    <!--<div class="col-sm-4 light-gray-color">-->
                        <!--Sign-Up :-->
                    <!--</div>-->

                    <!--<div class="col-sm-4 col-xs-6">-->
                        <!--<a href="/signup/" class="red-color register">Client</a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-6">-->
                        <a href="/signup/barber" class="red-color register pull-right">Sign-Up Barber</a>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- 		<div class="row">
                            <div class="center margin-bottom-50">
                                    <img src="images/or-img.png" alt="" class="img-responsive ">
                            </div>
                    </div>
                    <div class="row">
                            <div class="center pos-rel">
                                    <input type="Button" value="Connect with Facebook" class="facebook-icon"><i class="fa fa-facebook icon-abs"></i>
                                    <a href="#" class="facebook-icon"><i class="fa fa-facebook"></i>  Connect with Facebook</a>
                            </div>
                    </div> -->
    <!--<div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Verify Account</h1>
    <!-- show any messages that come back with authentication -->
    <!-- LOGIN FORM

    <form method="post" action="/login">
        <div class="form-group">
            <label>Email or Username</label>
            <input type="text" class="form-control" required="" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" required="" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a> | Forgot password? <a href="/users/reset-password">Reset Password</a> | <a href="/facebook/login">Login With Facebook</a></p>
    <p>Or go <a href="/">home</a> | <a href="/users/manual-verification">Verify</a>.</p>

</div> -->
</div>
<% include ../partials/footer %>
