
<% include ../partials/header %>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <!-- show any messages that come back with authentication -->
        <!-- LOGIN FORM -->
       <!--<% if (message.length > 0) { %>-->
		<!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
	<!--<% } %>-->

        <form method="post" action="/users/verify">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" required="" name="username">
            </div>
            <div class="form-group">
                <label>Verification Code</label>
                <input type="text" class="form-control" required="" name="verification_code">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Verify</button>
        </form>
        <hr>
        <p>Need an account? <a href="/signup">Signup</a> | Forgot password? <a href="/users/reset-password">Reset Password</a> | <a href="/facebook/login">Login With Facebook</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
</div>
<% include ../partials/footer %>
