<% include ../partials/header %>
<% include ../partials/innerheader %>
<div class="container margin-auto">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-auto">
        <% if(barber.fbid != '' && barber.fbid != null){ %>
        <img class="img-responsive" src="//graph.facebook.com/<%= barber.fbid %>/picture?type=large"
             alt="profile_pic"/>

        <% }else{ %>
        <img class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle margin-top-3"
             src="<%= barber.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + barber.profile_pic : '/images/icons/user-placeholder.png' %>"
             alt="profile_pic"/>
        <% } %>
      </div>
    </div>
  </div>
  <h3 class="text-center">
    <a href="/account/subscription_option/?barber=<%= barber.username %>" class="monthly-plan align-center margin-top-5 remaining-message">
      You can save money by subscribing to our monthly plan
    </a>
  </h3>
  <div class="margin-top-30">
    <hr/>
    <% for(i in barber.services){ %>
    <div class=" margin-10 row">
      <div class="col-xs-4 padding-0">
        <a class="pull-left  font-size-14 light-gray-color text"><%= barber.services[i].service %></a>
      </div>
      <div class="col-xs-4 padding-0">
        <a class="pull-left  font-size-14 light-gray-color text">$<%= barber.services[i].price %></a>
      </div>
      <div class="col-xs-4 padding-0">
        <input type="Button" value='Book now' onclick="window.location.href='/select-date/<%= barber.username %>/?service=<%= barber.services[i].service %>'"
               class="btnclikable submit-button custom-input bg-red half-button font-size-12">
      </div>
    </div>
    <hr/>
    <% } %>
  </div>

</div>
<script>
  $('.fa-chevron-left').parent().attr('href', '/barber/'+'<%= barber.username %>')
//  $("input[type='Button'], .add-service").click(function () {
//    $("#popup_message").html("Will coming soon");
//    $("#popup_wrapper,#okay-btn-wrapper").show();
//  });
//  $("#okay-btn").click(function () {
//    $("#popup_wrapper,#okay-btn-wrapper").hide();
//  })
</script>
<% include ../partials/footer %>
