<% include ../partials/header %>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span>Resend Verification Mail</h1>
        <!-- show any messages that come back with authentication -->
        <!--<% if (typeof message!='undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error==true?'danger':'success' %>"><%= message %></div>-->
        <!--<% } %>-->
        <!-- LOGIN FORM -->
        <form action="/users/resend-verification-email" method="post">
            <div class="form-group">
                <label>Email or Username</label>
                <input type="text" class="form-control" required="" name="username">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Resend Email</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a> | Forgot password? <a href="/users/reset-password">Reset Password</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
</div>
<% include ../partials/footer %>
