<% include ../partials/header %>
<% include ../partials/additionalheader %>

<div class="container">


    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-10 margin-bottom-5 h3-gray-title">Forgot password</h3>
        </div>
    </div>
    <!-- show any messages that come back with authentication -->
    <!-- LOGIN FORM -->


    <div class="row">
        <p class="align-center center margin-bottom-15 paragraph">
            You forgot your password already?<br>
            Don't worry though, we got you!<br>
            Enter your email address and we'll send you a link to change your password.
        </p>
    </div>
    <!--<% if (typeof message!=='undefined' && message.length > 0) { %>-->
    <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
    <!--<% } %>-->
    <div class="row">
        <div class="col-xs-12">

            <form class="center" action="/users/reset-password" method="post">

                <input type="email" name="email" required="" placeholder="Email" class="email-icon margin-bottom-5">
                <br>

                <input type="submit" value="Send" class="submit-button margin-bottom-5 custom-input bg-red custom-submit-button">
            </form>

        </div>
    </div>
</div>
<% include ../partials/footer %>
