<% include ../partials/header %>
<% include ../partials/innerheader %>

<div class="container">
    <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12" action="<%= backUrl %>">
        <input type="submit" value=" Back to barber profile"
               class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
    </form>
    <% if(reviews.length>0){%>
        <% for(i in reviews){ %>
    <div class="row">
        <div class="margin-top-5">
            <div class="col-xs-4 padding-0">
                <% if(reviews[i].user_id.fbid != '' && reviews[i].user_id.fbid != null){ %>
                <img class="img-responsive" src="//graph.facebook.com/<%= reviews[i].user_id.fbid %>/picture?type=large"
                     alt="profile_pic"/>

                <% }else{ %>
                <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                     src="<%= reviews[i].user_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + reviews[i].user_id.profile_pic : '/images/profile-img2.png' %>"
                     alt="profile_pic"/>
                <% } %>
                <!--<img class="img-width-100 img-responsive margin-auto profile-pic img-circle"-->
                     <!--src="<%= reviews[i].barber_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + reviews[i].user_id.profile_pic : '/images/icons/user-placeholder.png' %>"-->
                     <!--alt="profile_pic"/>-->


                <h3 class="align-center margin-top-15 margin-bottom-10 h3-gray-title font-size-14 uppercase"><%= reviews[i].user_id.username %></h3>
            </div>
            <div class="col-xs-4 padding-0 text-center">
                <% for(j=0;j<reviews[i].rating;j++){%>
                <span class="clipper"></span>
                <% } %>
                <% for(j=reviews[i].rating;j<5;j++){%>
                <span class="clipper-gray"></span>
                <% } %>

            </div>
            <div class="col-xs-4 padding-0 text-center">
                <p>"<%= reviews[i].comment %>"</p>
            </div>
        </div>
    </div>

    <hr class="margin-bottom-5">
        <%}%>
    <%}%>
</div>
<% include ../partials/footer %>
