<% include ../partials/header %>
<% include ../partials/innerheader %>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">
                <img src="<%= typeof appointment.barber_id.profile_pic != 'undefined' ? 'https://digicut-public.s3.amazonaws.com/' + appointment.barber_id.profile_pic : "images/profile-img2.png" %>"
                     class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                     alt="Profile Image">

                <h3 class="align-center margin-top-5 margin-bottom-5 h3-gray-title font-size-14 uppercase"><%= appointment.barber_id.username %></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="align-center margin-bottom-5 txt-bold font-size-16 line-height-20">Please rate your
                recent<br>barber experience</h4>
        </div>
    </div>
    <form>
    <div class="row">
        <div class="col-xs-12 align-center ">
            <div class="rating">
                <input type="radio" name="rating" required value="0" checked/><span id="hide"></span>
                <input type="radio" name="rating" required value="1"/><span></span>
                <input type="radio" name="rating" required value="2"/><span></span>
                <input type="radio" name="rating" required value="3"/><span></span>
                <input type="radio" name="rating" required value="4"/><span></span>
                <input type="radio" name="rating" required value="5"/><span></span>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12 align-center">
                <input type="hidden" name="appointment_id" value="<%= _id %>"/>
                <input type="hidden" name="barber_id" value="<%= appointment.barber_id._id %>"/>
                <textarea name="comment" id="barber-review" cols="30" rows="5" maxlength="150"
                          class="margin-top-5 review-txt-area" placeholder="Review Barber"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 align-center">
                <input type="Button" value="Submit" id="submit"
                       class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
            </div>
        </div>
    </form>
    </div>
</section>
<script>
    $(document).ready(function () {
        $( "#submit").click(function(){
            if($("input:checked").val()!=='0'){
                var formData = new FormData();
                var appointment_id = $("input[name='appointment_id']").val(),
                    barber_id = $("input[name='barber_id']").val(),
                    comment = $("textarea[name='comment']").val(),
                    rating = $("input:checked").val()
                formData.append('appointment_id',appointment_id)
                formData.append('barber_id', barber_id)
                formData.append('comment', comment)
                formData.append('rating', rating)
                $.ajax('/appointments/'+appointment_id+'/review', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false
                    ,
                    success: function (data) {
                        window.location.href = data
                        console.log('Upload success',data);
                    },
                    error: function (err_data) {
                        window.location.href = err_data
                    }
                });
            } else {
                $("#popup_message").html("Please select rating from 1 to 5");
                $("#popup_wrapper,#okay-btn-wrapper").show();
            }
        });
    })
</script>
<% include ../partials/footer %>
