<% include ../partials/header %>
<% include ../partials/innerheader %>
<script src="/js/core.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<div class="container margin-auto">
    <div class="row">
        <ul class="nav nav-pills nav-justified ">
            <li>
                <a href="javascript:void(0)" for="searchwrapper" class="map-button bg-white-opac light-gray-color-2x">Location</a>
            </li>
            <li >
                <a href="javascript:void(0)" for="listview" class="map-button bg-red color-white">Username</a>
            </li>
        </ul>
    </div>
</div>
<section class="container views" id='searchwrapper'>
    <div class="row">
        <div class="col-xs-12">
            <input type="Button" id="useCurrent" value="Use current location" class="submit-button margin-bottom-5 margin-top-20 custom-input bg-red custom-submit-button">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img src="images/or-img.png" alt="OR" class="img-responsive  margin-bottom-10 margin-top-5">
        </div>
    </div>
    <form method="get" action="/barber/search" id="locationForm" novalidate>

        <div class="row">
            <div class="col-xs-12">
                <input name="location" id="location" required="" placeholder="Enter address or Zip code" class="custom-input margin-bottom-5  placeholder-center align-center"/>
                <input type="submit" id="search" value="Send" form="locationForm" class="submit-button margin-bottom-5 custom-input bg-red custom-submit-button">
            </div>
        </div>
    </form>
</section>
<section class="container views" id="listview" style="display:none">
    <!--<% if (typeof message!='undefined' && message.length > 0) { %>-->
    <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
    <!--<% } %>-->
    <form id="usernameForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <input name="username" id="username" required="" placeholder="Enter Barber's username" class=" margin-bottom-5 margin-top-20 custom-input  placeholder-center align-center"/>
                <input type="button" id="search_username" value="Search" form="usernameForm" class="submit-button margin-bottom-5 custom-input bg-red custom-submit-button">
            </div>
        </div>
    </form>
</section>
<% include ../partials/footer %>
<script>
    //google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
    $('#usernameForm').removeAttr("novalidate");
    $(document).ready(function () {
        $("#useCurrent").click(function () {
            geo.getAddress({
                callback: ['searchAddress']
            });
        })
    });
    $(".nav-pills a").click(function(){
        $(".views").slideUp(1000);
        id= "#"+ $(this).attr("for");
        $(id).slideDown(1000);
    })

    $('#search_username').on('click', function(){
        if($('#usernameForm').valid()){
            $('#usernameForm').attr('method', 'GET');
            $('#usernameForm').attr('action', '/barber/search');
            $('#usernameForm').submit();
        }
    })

    function doSubmittion(){
       if($("#location").val()==""){
           alert("Please enter address/zipcode");
           return false;
       }
       $("form").submit();
   }
    function searchAddress(result) {
        try {
            $("#location").val(result.formatted_address);
            $("#latlong").val(result.geometry.location.lat + "," + result.geometry.location.lng)
        } catch (e) {
        }
    }
    function json2map(result) {
        if (typeof result.count !== 'undefined') {
            if (result.count == 0) {
                //window.location.href = "/users/invitenow/"
            } else {
                //window.location.href = "/users/joinnow/"
            }

        } else {
            if (result.error == null && result.maps.length > 0) {
                coords = new Array();
                for (i in result.maps) {
                    lat1 = Number($("#latlong").val().split(",")[0]);
                    lng1 = Number($("#latlong").val().split(",")[1]);

                    lat2 = result.maps[i].barber.address.geo[0];
                    lng2 = result.maps[i].barber.address.geo[1];
//                    console.log(lat1, lng1, lat2, lng2);
                    result.maps[i].distance = getDistanceFromLatLonInKm(lat1, lng1, lat2, lng2);
                    coords.push(result.maps[i]);
                }
                initialize(coords);
            }
        }

    }
</script>
<% include ../partials/footer %>
