<% include ../partials/header %>
<% include ../partials/innerheader %>
<script src="/js/core.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<div class="container margin-auto">
    <div class="row">
        <ul class="nav nav-pills nav-justified ">
            <% if(stats) { %>
              <li>
                  <a href="javascript:void(0)" for="mapwrapper" class="map-button bg-white-opac light-gray-color-2x">Map View</a>
              </li>
            <% } %>
            <li >
                <a href="javascript:void(0)" for="listview" class="map-button bg-red color-white">List</a>
            </li>
        </ul>
    </div>
</div>
<% if(stats) { %>
  <div id="mapwrapper" class="views">

      <div class="container margin-auto padding-0">
          <div class="padding-0">

              <div id='map' class="full-width" style="height: 550px;border:0"></div>

          </div>
      </div>
  </div>
<% } %>
<script src="http://maps.googleapis.com/maps/api/js">
</script>
<% if(stats){ %>
<script>
    var allBarbers = <%- JSON.stringify(allBarbers) %> ;
            var lat = <%- lat %>
            var lng = <%- lng %>
                    var grouped = $.map(_.groupBy(allBarbers, function(item){return item.address.geo}), function(value, index) {
                        return [value];
                    });
            json2map(grouped);
</script>
<% } %>
<section class="container views" id="listview" <%= (stats)? "style=display:none":'' %>>

    <% for(i=0;i<maps.length;i++) {%>
        <div class="row background-hover padding-bottom-3">
            <a href="/barber/<%= maps[i].username %>" >
                <div class="margin-top-5 opacity-hover">
                    <div class="col-xs-4 padding-0">

                        <% if(maps[i].fbid != '' && maps[i].fbid != null){ %>
                        <img class="img-responsive" src="//graph.facebook.com/<%= maps[i].fbid %>/picture?type=large"
                             alt="profile_pic"/>

                        <% }else{ %>
                        <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                             src="<%= maps[i].profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + maps[i].profile_pic : '/images/profile-img2.png' %>"
                             alt="profile_pic"/>
                        <% } %>
                        <h3 class="align-center margin-top-5 margin-bottom-5 h3-gray-title font-size-14 uppercase"><%= maps[i].username %></h3>
                    </div>
                    <div class="col-xs-4 padding-0">

                        <img src="<%= maps[i].barberCutPic ?'https://digicut-public.s3.amazonaws.com/' + maps[i].barberCutPic.pic :'/img/no_image.png'%>" alt="Work Sample" class="img-responsive img-width-100 margin-auto search-list-pic">
                        <!--<p class="black"><%- maps[i].address.details %></p>-->
                    </div>
                    <div class="col-xs-4 padding-0">
                    <% if (maps[i].countReviews) { %>
                        <% sum=0; for(j in maps[i].reviews){ sum+=maps[i].reviews[j].rating } %>
                        <% rating = Math.round(sum/maps[i].countReviews); %>
                        <div class="float-right margin-right-5">
                            <% for(c=0;c<rating;c++){%>
                                <span class="clipper"></span>
                            <% } %>
                            <% for(c=rating;c<5;c++){%>
                                <span class="clipper-gray"></span>
                            <% } %>
                        </div>
                    <% } else { %>
                    <% } %>
                    </div>
                </div>
            </a>
        </div>

        <hr class="margin-0">
        <% } %>


</section>
<script>
    $(".nav-pills a").click(function(){
        $(".views").slideUp(1000);
      id= "#"+ $(this).attr("for");
      $(id).slideDown(1000);
    })
</script>
<% include ../partials/footer %>
