<% include ../partials/header %>
<% include ../partials/additionalheader %>
<script type="text/javascript" src="/bower/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link  href="/bower/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/bower/cropper/dist/cropper.js"></script>

<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<div class="container">
    <script src="/js/signup.js"></script>
    <script src="/js/validation.js"></script>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="align-center margin-top-15 margin-bottom-10 h3-gray-title font-size-14">Sign Up</h3>
        </div>
    </div>
    <div class="row">
        <ul class="margin-auto signup-progress-steps margin-bottom-5">
            <li>
                <p class="bg-red white-color">1</p>
            </li>
            <li>
                <img src="images/signup-right-border.png" alt="">
            </li>
            <li>
                <p>2</p>
            </li>
        </ul>
    </div>
    <!-- LOGIN FORM -->
    <div id='global'></div>

    <form class="center">
        <div class="row">
            <div id="step-1">
                <div class="col-xs-12">

                    <input type="hidden"  value='1' name="type">

                    <input type="text" id="username" name="username" placeholder="Username"
                           class="user-icon margin-bottom-5" username="true" required="true">
                    <input type="email" name="email" placeholder="Email" class="email-icon margin-bottom-5" id="email"
                           email="true" required="true"><br>
                    <input type="email" name="paypalemail"  placeholder="PayPal Email" class="email-icon margin-bottom-5"
                           id="paypal_email"  paypalemail="true" required="true"><br>
                    <input type="password" name="password" placeholder="Password" class="password-icon margin-bottom-5"
                           id="password"  password="true" required="true"><br>
                    <input type="password" name="password1" placeholder="Retype Password" class="password-icon margin-bottom-5"
                           id="password1"  password="true" required="true"><br>

                </div>
                <div class="row">
                    <div class="center">
                        <div class="col-xs-6">
                            <a href="#" class="back-button pull-left align-center margin-top-10">
                                <i class="fa fa-angle-left white-color"></i>  &nbsp;
                                Back
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a id="next" href="#" class="pull-right back-button bg-red align-center margin-top-10">
                                Next &nbsp;
                                <i class="fa fa-angle-right white-color"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-2" style="display:none">
                <div class="col-xs-12">
                    <input type="text" name="first" placeholder="First Name" class="user-icon margin-bottom-5"  first="true" required="true" ><br>

                    <input type="text" name="last" placeholder="Last Name" class="user-icon margin-bottom-5"  last="true" required="true"><br>

                    <!--<input type="text" name="address" placeholder="Address" class="location-icon custom-input margin-bottom-5" required="" id="nearest_location"><br/>-->
                    <input type="text" name="address" placeholder="Address" class="location-icon custom-input margin-bottom-5" required="true" id="address"><br/>
                    <input type="text" name="city" placeholder="City" class="location-icon custom-input margin-bottom-5" required="true" id="city"><br/>
                    <input type="text" name="state" placeholder="State" class="location-icon custom-input margin-bottom-5" required="true" id="state"><br/>
                    <input type="text" name="zip" placeholder="Zip" class="location-icon custom-input margin-bottom-5" required="true" id="zip"><br/>




                  <div class="row cropped hidden margin-bottom-5">
                    <div class="col-xs-12">
                      <img
                        class="margin-auto img-responsive edit-profile-pic margin-top-10 margin-bottom-10"
                        src="/images/icons/user-placeholder.png"
                        alt="profile_pic" id="uploadprofilepic"/>
                    </div>
                  </div>
                  <div class="row cropped hidden margin-bottom-5">
                    <div class="rotateble margin-bottom-5 margin-top-4 ">
                      <span class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button " ></spn><i class="fa fa-undo"></i></span>
                      <span class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button " ></spn><i class="fa fa-repeat"></i></span>
                      <input type="file" class="hidden" name="cropped" id="cropped" value="" >
                      <canvas class="hidden"></canvas>
                      <!--<label class="error-file-pic error hidden">File size should not exceed 5 Mb</label><br class="error-file-pic">-->
                    </div>

                  </div>




                  <input type="file" name="profile_pic" class="user-icon margin-bottom-5">
                    <label class="error-file-pic error hidden">File size should not exceed 5 Mb</label><br>
                    <div class="row">
                        <div class="center">
                            <div class="col-xs-6">
                                <input type="text" name="phone" placeholder="Mobile" class="mobile-icon margin-bottom-5 input-padding-right-0"
                                       phone="true" required="true" id="phone">
                            </div>
                            <div class="col-xs-6">

                                <input  type="text" placeholder="Birthday" class="calendar-icon margin-bottom-5 input-padding-right-0"
                                        name="birthday" id="birthdaypicker" required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center">
                            <div class="col-xs-12">
                                <div class="align-center margin-top-5">
                                    <input type="checkbox" name="checkboxG5" id="checkboxG5" class="css-checkbox" required/>
                                    <label for="checkboxG5" class="css-label radGroup1">I accept the <a href="/terms" target="_blank" class="red-color">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center">
                            <div class="col-xs-12">
                                <input type="submit" value="Sign Up" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button" id="submit">
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>


    </form>
</div>

<script>
  !function(a){"use strict";var b=a.HTMLCanvasElement&&a.HTMLCanvasElement.prototype,c=a.Blob&&function(){try{return Boolean(new Blob)}catch(a){return!1}}(),d=c&&a.Uint8Array&&function(){try{return 100===new Blob([new Uint8Array(100)]).size}catch(a){return!1}}(),e=a.BlobBuilder||a.WebKitBlobBuilder||a.MozBlobBuilder||a.MSBlobBuilder,f=(c||e)&&a.atob&&a.ArrayBuffer&&a.Uint8Array&&function(a){var b,f,g,h,i,j;for(b=a.split(",")[0].indexOf("base64")>=0?atob(a.split(",")[1]):decodeURIComponent(a.split(",")[1]),f=new ArrayBuffer(b.length),g=new Uint8Array(f),h=0;h<b.length;h+=1)g[h]=b.charCodeAt(h);return i=a.split(",")[0].split(":")[1].split(";")[0],c?new Blob([d?g:f],{type:i}):(j=new e,j.append(f),j.getBlob(i))};a.HTMLCanvasElement&&!b.toBlob&&(b.mozGetAsFile?b.toBlob=function(a,c,d){a(d&&b.toDataURL&&f?f(this.toDataURL(c,d)):this.mozGetAsFile("blob",c))}:b.toDataURL&&f&&(b.toBlob=function(a,b,c){a(f(this.toDataURL(b,c)))})),"function"==typeof define&&define.amd?define(function(){return f}):a.dataURLtoBlob=f}(window);
</script>

<script>

    $(function () {
      $('form').removeAttr("novalidate");
      var disable = false,
        file = false;
      $.fn.cropper;

      var a = $('img.edit-profile-pic')
      $('.fa-undo').parent().click(function(){
        a.cropper('rotate', -90);
      });
      $('.fa-repeat').parent().click(function(){
        a.cropper('rotate', 90);
      })



      $("[name='default']").click(function (e) {
        if ($(this).prop('checked') == true) {
          this.value = true;
        } else {
          this.value = false;
        }
      })
        $("[name='phone']").inputmask("(999) 999-9999");
        $("#next").click(function (e) {
            $('form').valid();
            e.preventDefault();
            flag = true;
            $("#step-1").find("input").each(function (e) {

                if (!this.checkValidity()) {
                    flag = false;
                    return false;
                }
            })
            if (flag == false) {
                $("#submit").click();
                return false;
            }
            if ($("#password").val() !== $("#password1").val()) {
                alert("Passwords don't match");
                return false;
            }
//          if($('#username').val()==='')$('#username-error').text('This field is required');
//          if($('#password').val()==='')$('#password-error').text('This field is required');
//          if($('#password1').val()==='')$('#password1-error').text('This field is required');


          $("#step-1,#step-2").toggle(1000);
            $(".signup-progress-steps li p").toggleClass("bg-red white-color");
        })
        $("[name='profile_pic']").change(function(e){
            files = e.target.files;
            if (files.length > 0) {
                for (var i = 0, file; file = files[i]; i++) {
                    if (!file.type.match('image.*')) {
                        continue;
                    }
                  var reader = new FileReader();
                  if(file.size>5242880)
                    {
                        $(".error-file-pic").removeClass('hidden')
                        $("#submit").prop('disabled', true);
                      $("#popup_message").html("File size shouldn't exceed 5 Mb");
                        $("#popup_wrapper,#okay-btn-wrapper").show();
                      $('.cropped').addClass('hidden');
                      disable = true;
                      file = false

                    }else{
                    disable = false;
                    file = true;
                        $(".error-file-pic").addClass('hidden')
                        $("#submit").prop('disabled', false);
                    $('.cropped').removeClass('hidden');
                    }
                  reader.onload = (function (theFile) {
                    return function (ex) {
                      a.cropper('destroy')
                      $("#uploadprofilepic").attr('src', ex.target.result);
                      a.cropper({
                        aspectRatio: 9 / 9,
                        crop: function(e) {
                          // Output the result data for cropping image.
                          console.log(e.x);
                          console.log(e.y);
                        }
                      });

                    }
                  })(file);
                  reader.readAsDataURL(file);
                }
            }else{
              file = false;
              $('.cropped').addClass('hidden');
              $("img").attr('src', '/img/no_image.png')
                $(".error-file-pic").addClass('hidden')
                $("#submit").prop('disabled', false);
            }
        });
//        $(".center").on("submit", function (e) {
//          e.preventDefault();
//          e.stopPropagation();
//          console.log("submit")
//        });

      $("#submit").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            if($("#step-2").css('display')!="none"){
                if($("#checkboxG5").prop('checked')==false){
                    alert("Please accept terms and conditions");
                    return false;
                }else {
                  if ($('form').valid() && (!disable)) {
//                    alert('!@#!@#$!@#$@#',$('form').valid(), disable);
                    var blob = a.cropper('getCroppedCanvas', {width: 800, height: 800}).toBlob(function (blob) {
                      var formData = new FormData();
                      var username = $('input[name="username"]').val();
                      var type = $('input[name="type"]').val();
                      var email = $('input[name="email"]').val();
                      var paypalemail = $('input[name="paypalemail"]').val();
                      var password = $('input[name="password"]').val();
                      var password1 = $('input[name="password1"]').val();
                      var first = $('input[name="first"]').val();
                      var last = $('input[name="last"]').val();
                      var address = $('input[name="address"]').val();
                      var city = $('input[name="city"]').val();
                      var state = $('input[name="state"]').val();
                      var zip = $('input[name="zip"]').val();
//                      var profile_pic = $('input[name="profile_pic"]').val();
                      var phone = $('input[name="phone"]').val();
                      var birthday = $('input[name="birthday"]').val();
                      if(file){
                        formData.append('profile_pic', blob);
                      }

                      formData.append('username', username);
                      formData.append('type', type);
                      formData.append('email', email);
                      formData.append('paypalemail', paypalemail);
                      formData.append('password', password);
                      formData.append('password1', password1);
                      formData.append('first', first);
                      formData.append('last', last);
                      formData.append('address', address);
                      formData.append('city', city);
                      formData.append('state', state);
                      formData.append('zip', zip);
                      formData.append('phone', phone);
                      formData.append('birthday', birthday);


                      $.ajax('/signup', {
                        method: "POST",
                        data: formData,
                        processData: false,
                        contentType: false
                        ,
                        success: function (data) {
//                          console.log('Upload success',data);
                          window.location.href = '/login'

                        },
                        error: function (err) {
//                          console.log('Upload error',err);
                          window.location.href = '/signup'

                        }
                      });

                    });
                  }
                }
                }

        })
        $("input[name$='last']").keydown(function(){
            $('#last-error').text("Last name can't contain digit.")
        })

    })
</script>
<% include ../partials/footer %>
