<% include ../partials/header %>
<% include ../partials/additional_signup_header %>
<script type="text/javascript" src="/bower/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link  href="/bower/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/bower/cropper/dist/cropper.js"></script>

<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

<div class="container">
<div class="row">
  <div class="col-xs-6 padding-10">
    <div class="row">
      <a href="/signup" class="red-color register pull-right">
        <img class="img-width-100 margin-auto img-responsive"
             src="/images/icons/user-placeholder.png"
             alt="profile_pic"/>
        <p class="align-center margin-top-5">Signup Client</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6 padding-10">
    <div class="row">
      <a href="/signup/barber" class="red-color register pull-right">
        <img class="img-width-100 margin-auto img-responsive"
             src="/images/icons/barber-signup.png"
             alt="profile_pic"/>
        <p class="align-center margin-top-5">Signup Barber</p>
      </a>
    </div>
  </div>
</div>
</div>

<!--<script>-->
  <!--!function(a){"use strict";var b=a.HTMLCanvasElement&&a.HTMLCanvasElement.prototype,c=a.Blob&&function(){try{return Boolean(new Blob)}catch(a){return!1}}(),d=c&&a.Uint8Array&&function(){try{return 100===new Blob([new Uint8Array(100)]).size}catch(a){return!1}}(),e=a.BlobBuilder||a.WebKitBlobBuilder||a.MozBlobBuilder||a.MSBlobBuilder,f=(c||e)&&a.atob&&a.ArrayBuffer&&a.Uint8Array&&function(a){var b,f,g,h,i,j;for(b=a.split(",")[0].indexOf("base64")>=0?atob(a.split(",")[1]):decodeURIComponent(a.split(",")[1]),f=new ArrayBuffer(b.length),g=new Uint8Array(f),h=0;h<b.length;h+=1)g[h]=b.charCodeAt(h);return i=a.split(",")[0].split(":")[1].split(";")[0],c?new Blob([d?g:f],{type:i}):(j=new e,j.append(f),j.getBlob(i))};a.HTMLCanvasElement&&!b.toBlob&&(b.mozGetAsFile?b.toBlob=function(a,c,d){a(d&&b.toDataURL&&f?f(this.toDataURL(c,d)):this.mozGetAsFile("blob",c))}:b.toDataURL&&f&&(b.toBlob=function(a,b,c){a(f(this.toDataURL(b,c)))})),"function"==typeof define&&define.amd?define(function(){return f}):a.dataURLtoBlob=f}(window);-->
<!--</script>-->

<script>

  $(function () {

  })
</script>
<% include ../partials/footer %>
