
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <!-- show any messages that come back with authentication -->
        
                <div ng-if='error' class="alert alert{{error?'-danger':'-success'}}">{{message}}</div>
                
        <!-- LOGIN FORM -->
        <form ng-submit='tmplogin()'>
            <div class="form-group">
                <label>Email or Username</label>
                <input type="text" class="form-control" required="" ng-model="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" required="" ng-model="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a> | Forgot password? <a href="/reset-password">Reset Password</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
</div>