<% include ../partials/header %>
<% include ../partials/innerheader %>
<link  href="/bower/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/bower/cropper/dist/cropper.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">

                <% if(typeof image == "undefined"){ %>
                <% if(user.fbid != '' && user.fbid != null){ %>
                <img
                        class="margin-auto img-responsive edit-profile-pic margin-top-10 margin-bottom-10"
                        src="//graph.facebook.com/<%= user.fbid %>/picture?type=large" alt="profile_pic"
                        id="uploadprofilepic"/>

                <% }else{ %>
                <img
                        class="margin-auto img-responsive edit-profile-pic margin-top-10 margin-bottom-10"
                        src="<%= user.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + user.profile_pic : '/images/icons/user-placeholder.png' %>"
                        alt="profile_pic" id="uploadprofilepic"/>
                <% } %>
                <% } else{ %>
                <img
                        class="margin-auto img-responsive edit-profile-pic margin-top-10 margin-bottom-10"
                        src="<%= image %>"
                        alt="profile_pic" id="uploadprofilepic"/>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center">
            <div class="col-xs-12">
                <form>
                    <input type="file" class="hidden" name="cropped" id="cropped" value="" >
                    <canvas class="hidden"></canvas>
                    <% if(isProfilePic == true){ %>
                    <% }else{ %>
                    <div class="align-center margin-bottom-5">
                        <input type="checkbox" name="default" id="checkboxG19" class="css-checkbox" <%= main_pic?"checked='checked' value=true":"value=false" %> />
                        <label for="checkboxG19" class="css-label radGroup1">Make main picture</label>
                    </div>
                    <% } %>
                    <% if
                    (typeof id != 'undefined'){ %>
                    <input type="hidden" name="id" id="pic_id" value="<%= id %>"/>
                    <input type="hidden" name="name" id="image_name" value="<%= image %>"/>
                    <% } %>
                    <div class="rotateble row margin-bottom-5 margin-top-4 hidden">
                      <span class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button" ></spn><i class="fa fa-undo"></i></span>
                      <span class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button" ></spn><i class="fa fa-repeat"></i></span>
                    </div>
                    <input type="file" required title="Please select photo to upload" style="display: none;"
                           name="profile_pic" id="profile_pic"/>
                    <input type="Button" id="uploadpic" value="Upload New Photo"
                           class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
                    <!--<input type="submit" value="Save"-->
                           <!--class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">-->
                    <input type="Button" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button" id="submit" value="Save" />
                    <label class="error-file-pic error hidden">File size should not exceed 5 Mb</label><br class="error-file-pic">
                    <% if(isProfilePic == true){ %>
                    <input type="hidden" name="isProfilePic" value="true"/>
                    <% }else{ %>
                    <input id="deletephotobutton" type="Button" value="Delete This Photo"
                           class="submit-button margin-bottom-5 custom-input custom-submit-button light-gray-bg">
                    <input type="hidden" name="isProfilePic" value="false"/>
                    <% } %>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade docs-cropped" id="getCroppedCanvasModal" role="dialog" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.png">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    !function(a){"use strict";var b=a.HTMLCanvasElement&&a.HTMLCanvasElement.prototype,c=a.Blob&&function(){try{return Boolean(new Blob)}catch(a){return!1}}(),d=c&&a.Uint8Array&&function(){try{return 100===new Blob([new Uint8Array(100)]).size}catch(a){return!1}}(),e=a.BlobBuilder||a.WebKitBlobBuilder||a.MozBlobBuilder||a.MSBlobBuilder,f=(c||e)&&a.atob&&a.ArrayBuffer&&a.Uint8Array&&function(a){var b,f,g,h,i,j;for(b=a.split(",")[0].indexOf("base64")>=0?atob(a.split(",")[1]):decodeURIComponent(a.split(",")[1]),f=new ArrayBuffer(b.length),g=new Uint8Array(f),h=0;h<b.length;h+=1)g[h]=b.charCodeAt(h);return i=a.split(",")[0].split(":")[1].split(";")[0],c?new Blob([d?g:f],{type:i}):(j=new e,j.append(f),j.getBlob(i))};a.HTMLCanvasElement&&!b.toBlob&&(b.mozGetAsFile?b.toBlob=function(a,c,d){a(d&&b.toDataURL&&f?f(this.toDataURL(c,d)):this.mozGetAsFile("blob",c))}:b.toDataURL&&f&&(b.toBlob=function(a,b,c){a(f(this.toDataURL(b,c)))})),"function"==typeof define&&define.amd?define(function(){return f}):a.dataURLtoBlob=f}(window);
</script>


<script>
    $(document).ready(function () {
      var disabled = false;
        if((<%= user.type %> == 1)&&($('#checkboxG19').val())){
            $('.fa-chevron-left').parent().attr('href', '/profile')
        }
         $.fn.cropper;
//var formData = {};


        var a = $('img')
      $('.fa-undo').parent().click(function(){
        a.cropper('rotate', -90);
      });
      $('.fa-repeat').parent().click(function(){
        a.cropper('rotate', 90);
      })
        $("#deletephotobutton").click(function () {
            $("#okay-btn-wrapper").addClass('hidden')
            $("#truefalsebox").removeClass('hidden')
            $("#popup_message").html("Are you sure you want to delete this picture?");
            $("#popup_wrapper,#truefalsebox").show();
        })
        $("#nah-btn").click(function () {
            $("#popup_wrapper,#truefalsebox").hide();
        })
        $("#yeah-btn").click(function (e) {
            window.location.href = "/upload/delete/barbercutpic/" + $("#pic_id").val() + "/?name=" + $("#image_name").val();
        })
        $("#uploadpic").click(function () {
            $("#profile_pic").click();
        });
        $("[name='default']").click(function (e) {
            if ($(this).prop('checked') == true) {
                this.value = true;
            } else {
                this.value = false;
            }
        })



        $( "#submit").click(function(){
if(disabled){
  $("#truefalsebox").addClass('hidden')
                        $("#okay-btn-wrapper").removeClass('hidden')
//                        $("#submit").prop('disabled', true);
                        $("#popup_message").html("File size shouldn't exceed 5 Mb");
                        $("#popup_wrapper,#okay-btn-wrapper").show();
}else{
  $("#truefalsebox").addClass('hidden')
  $("#okay-btn-wrapper").removeClass('hidden')

  $("#submit, input[type='Button'], a").prop('disabled', true);

  var blob = a.cropper('getCroppedCanvas', { width: 800, height: 800 }).toBlob(function(blob){
    var formData = new FormData();
    var imageId = $('input[name="id"]').val();
    var defaultProperty = $('input[name="default"]').val();
    var nameProperty = $('input[name="name"]').val();
    var isProfilePic = $('input[name="isProfilePic"]').val();
    var profilePic = $('#profile_pic').val();
    formData.append('croppedImage', blob);
    formData.append('profile_pic', profilePic==''?'undefined':profilePic);
    formData.append('id', imageId);
    formData.append('isProfilePic', isProfilePic);
    formData.append('default', defaultProperty);
    formData.append('name', nameProperty);

    $.ajax('/upload/process', {
      method: "POST",
      data: formData,
      processData: false,
      contentType: false
      ,
      success: function (data) {
        window.location.href = data
        console.log('Upload success',data);
      },
      error: function (err) {
        console.log('Upload error',err);
      }
    });

  });
}



        } );
        $("#profile_pic").change(function (e) {
            files = e.target.files;
            if (files.length > 0) {
                for (var i = 0, file; file = files[i]; i++) {
                    if (!file.type.match('image.*')) {
                        continue;
                    }
                    var reader = new FileReader();
                    if(file.size>5242880) //do something if file size more than 5 x 1 mb (5 x 1048576)
                    {
                        $(".error-file-pic").removeClass('hidden')
                          disabled = true;
//                        $("#truefalsebox").addClass('hidden')
//                        $("#okay-btn-wrapper").removeClass('hidden')
//                        $("#submit").prop('disabled', true);
//                        $("#popup_message").html("File size shouldn't exceed 5 Mb");
//                        $("#popup_wrapper,#okay-btn-wrapper").show();
                        $('.rotateble').addClass('hidden');
                    }else{

//                      EXIF.getData(reader, function() {
//                        console.log('>>>>>');
//                        console.log('Exif=', EXIF.getTag(this, "Orientation"));
//                        console.log('>>>>>');
//                      })

                        disabled = false;
                        $(".error-file-pic").addClass('hidden')
                        $('.rotateble').removeClass('hidden');
//                        $("#submit").prop('disabled', false);
                    }

                    reader.onload = (function (theFile) {
                        return function (ex) {
                            a.cropper('destroy')
                            $("#uploadprofilepic").attr('src', ex.target.result);
                            a.cropper({
                                aspectRatio: 9 / 9,
                                crop: function(e) {
                                    // Output the result data for cropping image.
                                    console.log(e.x);
                                    console.log(e.y);
                                }
                            });
                          getOrientation(theFile, function(orientation) {
//                            alert('orientation: ' + orientation);
                            switch(orientation) {
                              case 2:{
                                a.cropper('scale', -1, 1);
                                break;
                              }
                              case 3:{
                                a.cropper('scale', -1);
//                                a.cropper('scaleY', -1);
                                break;
                              }
                              case 4:
                              {
                                a.cropper('scale', 1, -1);
                                break;
                              }
                              case 5:
                              {
                                a.cropper('scale', 1, -1);
                                a.cropper('rotate', 90);
                                break;
                              }
                              case 6:
                              {
                                a.cropper('rotate', 90);
                                break;
                              }
                              case 7:
                              {
                                a.cropper('rotate', -90);
                                a.cropper('scale', 1, -1);
                                break;
                              }
                              case 8:
                              {
                                a.cropper('rotate', -90);
                                break;
                              }
                            }
                          });

                        }










                    })(file);
                    reader.readAsDataURL(file);
                }
            }else{
                $('.rotateble').addClass('hidden');
                $(".error-file-pic").addClass('hidden')
                $("img").attr('src', '/img/no_image.png')
                $("#submit").prop('disabled', false);
            }
        })

      function getOrientation(file, callback) {
        var reader = new FileReader();
        reader.onload = function(e) {

          var view = new DataView(e.target.result);
          if (view.getUint16(0, false) != 0xFFD8) return callback(-2);
          var length = view.byteLength, offset = 2;
          while (offset < length) {
            var marker = view.getUint16(offset, false);
            offset += 2;
            if (marker == 0xFFE1) {
              if (view.getUint32(offset += 2, false) != 0x45786966) callback(-1);
              var little = view.getUint16(offset += 6, false) == 0x4949;
              offset += view.getUint32(offset + 4, little);
              var tags = view.getUint16(offset, little);
              offset += 2;
              for (var i = 0; i < tags; i++)
                if (view.getUint16(offset + (i * 12), little) == 0x0112)
                  return callback(view.getUint16(offset + (i * 12) + 8, little));
            }
            else if ((marker & 0xFF00) != 0xFF00) break;
            else offset += view.getUint16(offset, false);
          }
          return callback(-1);
        };
        reader.readAsArrayBuffer(file.slice(0, 64 * 1024));
      }


    })
</script>
<% include ../partials/footer %>
