<% include ../partials/header %>
<% include ../partials/innerheader %>
<div class="container">
    <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12" action="<%= backUrl %>">
        <input type="submit" value=" Back to barber profile"
               class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
    </form>

    <div class="row">
        <div class="col-xs-12">
            <div class="margin-auto">


                <img
                        class="margin-15 img-responsive edit-profile-pic margin-top-10 margin-bottom-10"
                        src="<%= imgSrc %>" title=""
                        alt="profile_pic" id="uploadprofilepic"/>

            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>