@media screen and (min-width: 1366px) {
  .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 3%;
  }
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 850px;
    padding-bottom: 30px;
  }
  .goback-icon,
  .gonext-icon,
  .check-icon {
    margin-top: 5%;
  }
  .map-size {
    height: 700px;
  }
  .res-position {
    margin-top: 65px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.4%;
  }
  img.img-circle.margin-top-10{
    margin-top: 3% !important;
  }
}
@media screen and (min-width: 1280px) {
  .img-circle.margin-top-10{
    margin-top: 0% !important;
  }
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 750px;
    padding-bottom: 30px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 15%;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 8%;
  }
  .profile-image.img-width-100 {
    width: 150px;
    height: 150px;
    max-width: 150px;
  }
  .map-size {
    height: 700px;
  }
  .res-position {
    margin-top: 65px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.4%;
  }
}
/*@media screen and (min-width: 768px) {*/
  /*.navbar-toggle {*/
    /*display: block !important;*/
  /*}*/
/*}*/
@media screen and (max-width: 1280px) {
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 750px;
    padding-bottom: 30px;
  }
  .img-circle.margin-top-10{
    margin-top: 3% !important;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 4%;
    margin-bottom: 10% ;
    max-width: 180px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-top: -2%;
    margin-bottom: 7%;
    max-width: 150px;
  }
  .profile-image.img-width-100 {
    width: 130px;
    height: 130px;
    max-width: 130px;
  }
  .map-size {
    height: 700px;
  }
  .res-position {
    margin-top: 65px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.4%;
  }
}
@media screen and (max-width: 1024px) {

  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle{
    margin-top: 3% !important;
  }
  .img-circle{
    height: 70px !important;
    width: 70px !important;
    margin-top: 5px;
  }
  .dashboard-img-circle{
    margin-top: -100px;
  }
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 750px;
    padding-bottom: 30px;
  }
  /*.set-ab-pos-2 .box {*/
    /*margin-top: 300px;*/
  /*}*/
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 15% ;
    max-width: 200px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 13%;
    max-width: 200px;
  }
  .profile-image.img-width-100 {
    width: 150px;
    height: 150px;
    max-width: 150px;
  }
  .res-position {
    margin-top: 65px;
  }
}
/*@media screen and (min-width: 768px) {*/
/*@media screen and (max-width: 992px) {*/
  /*button.navbar-toggle.collapsed {*/
    /*display: block !important;*/
  /*}*/
/*}*/
@media screen and (max-width: 960px) {
  .img-circle.margin-top-10{
    margin-top: 5% !important;
  }
  .wrap {
    max-width: 640px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    min-height: 750px;
    padding-bottom: 30px;
  }
  /*.set-ab-pos-2 .box {*/
    /*margin-top: 200px;*/
  /*}*/
  .set-ab-pos-1 .logo-2x {
    margin-top: 5%;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 825px) {
  .dashboard-img-circle{
    margin-top: 0px;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 12%;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 768px) {
  .margin-top-30{
    margin-top: 25px;
  }


  .clipper{
    width: 20px !important;
  }
  .clipper-gray{
    width: 20px !important;
  }
  /*.set-ab-pos-2 .box {*/
    /*margin-top: 150px;*/
  /*}*/
  .set-ab-pos-1 .logo-2x {
    margin-top: 5%;
    margin-bottom: 15% ;
    max-width: 140px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 140px;
    margin-top: 0;
    margin-bottom: 10%;
  }
  .profile-image.img-width-100 {
    width: 130px;
    height: 130px;
    max-width: 130px;
  }
}
@media screen and (max-width: 767px) {
  .admin-menu{
    display: block;
  }
  #okay-btn-wrapper .col-lg-offset-1,.subscribe-form .col-lg-offset-1{
    margin-left: 25% !important;
  }
  /*#truefalsebox .row{*/
  .margin-left-3{
    margin-left: 0% !important;
  }
}
@media screen and (max-width: 641px){
  /*#share-buttons {*/
    /*top: -75px;*/
  /*}*/
}
@media screen and (max-width: 640px) {
  .center {
    width: 100%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 18% ;
    max-width: 110px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    margin-top: -2%;
    max-width: 110px;
  }
  .profile-image.img-width-100 {
    width: 110px;
    height: 110px;
    max-width: 110px;
  }

}
@media screen and (max-width: 623px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.3%;
  }
}
@media screen and (max-width: 602px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.2%;
  }
}
@media screen and (max-width: 583px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11.1%;
  }
}
@media screen and (max-width: 580px) {
  .center {
    width: 90%;
  }
  .h3-media-top {
    margin-top: 7%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 15% ;
    max-width: 100px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 100px;
  }
  .profile-image.img-width-100 {
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
  .map-size {
    height: 550px;
  }
}
@media screen and (max-width: 569px) {
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 564px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 11%;
  }
}
@media screen and (max-width: 547px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.9%;
  }
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle{
    margin-top: 4% !important;
  }
}
@media screen and (max-width: 531px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.8%;
  }
}
@media screen and (max-width: 547px) {
  .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 4%;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.7%;
  }
}
@media screen and (max-width: 501px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.6%;
  }
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle{
    margin-top: 3% !important;
  }
}
@media screen and (max-width: 500px) {
  .res-position {
    margin-top: 55px;
  }
}
@media screen and (max-width: 487px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle{
    margin-top: 1% !important;
  }
  .ui-dialog{
    width: 487px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.5%;
  }
}
@media screen and (max-width: 480px) {
  .ui-dialog{
    width: 480px !important;
  }
  .dashboard-img-circle{
    height: 70px !important;
    width: 70px !important;
  }
  input:-moz-placeholder{color:red}
  input:-ms-input-placeholder{color:red}
  .align-center.margin-top-5.adm-input-padding, .custom-input.adm-input-padding, .adm-input-padding b{
    font-size: 12px !important;
  }
  p.align-center.margin-top-5, .datetime{
    font-size: 12px !important;
  }
  .center {
    width: 100%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-bottom: 12% ;
    max-width: 100px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 100px;
  }
  .profile-image.img-width-100 {
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
}
@media screen and (max-width: 474px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: -1% !important;
  }
  .ui-dialog{
    width: 474px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.4%;
  }
}
@media screen and (max-width: 463px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 3% !important;
  }
  .ui-dialog{
    width: 463px !important;
  }
  .img-circle{
  width: 65px !important;
  height: 65px !important;
}
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.3%;
  }
}
@media screen and (max-width: 451px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 1% !important;
  }
  .ui-dialog{
    width: 451px !important;
  }
  .clipper{
    width: 15px !important;
  }
  .clipper-gray{
    width: 15px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.2%;
  }
}
@media screen and (max-width: 450px) {
  .ui-dialog{
    width: 450px !important;
  }
  .res-position {
    margin-top: 45px;
  }
}
@media screen and (max-width: 450px) {
  .res-position {
    margin-top: 25px;
  }
}
@media screen and (max-width: 444px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: -1% !important;
  }
  .res-position {
    margin-top: 25px;
  }
}
@media screen and (max-width: 440px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 4% !important;
  }
  .ui-dialog{
    width: 440px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10.1%;
  }
  .img-circle{
     width: 60px !important;
     height: 60px !important;
   }

}
@media screen and (max-width: 429px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 2% !important;
  }
  .ui-dialog{
    width: 429px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 10%;
  }
}
@media screen and (max-width: 421px){
  .share-profile{
    margin-top: -4%;
  }
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 1% !important;
  }
  .ui-dialog{
    width: 420px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.9%;
  }
  .align-center.margin-top-5.remaining-message{
    font-size: 11px !important;
  }
}
@media screen and (max-width: 474px) {
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.8%;
  }
}
@media screen and (max-width: 412px) {
  .img-responsive.img-width-75.margin-auto.custom-padding{
    padding: 1px !important;
  }
}
@media screen and (max-width: 400px) {
  .ui-dialog{
    width: 400px !important;
  }
  .img-circle{
    width: 55px !important;
    height: 55px !important;
  }
  .align-center.margin-top-5, .custom-input.adm-input-padding, .adm-input-padding b{
    font-size: 10px !important;
  }
  p.align-center.margin-top-5, .datetime{
    font-size: 11px !important;
  }
  .center {
    width: 100%;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 10% ;
    max-width: 100px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 100px;
    margin-top: -3%;
    margin-bottom: 8%;
  }
  .profile-image.img-width-100 {
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
  .res-position {
    margin-top: 35px;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.7%;
  }
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 4% !important;
  }
}
@media screen and (max-width: 392px) {
  .align-center.margin-top-5.remaining-message{
    font-size: 10px !important;
  }
  .ui-dialog{
    width: 392px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.6%;
  }
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 2% !important;
  }
}
@media screen and (max-width: 384px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 1% !important;
  }
  .ui-dialog{
    width: 384px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.5%;
  }
}
@media screen and (max-width: 380px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 0% !important;
  }
  .ui-dialog{
    width: 380px !important;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 10% ;
    max-width: 100px;
  }
  .profile-image.img-width-100 {
    width: 80px;
    height: 80px;
    max-width: 80px;
  }
}
@media screen and (max-width: 376px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: -1% !important;
  }
  .ui-dialog{
    width: 376px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.4%;
  }
}
@media screen and (max-width: 368px) {
  .ui-dialog{
    width: 368px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.3%;
  }
}
@media screen and (max-width: 360px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 2% !important;
  }
  .align-center.margin-top-5.remaining-message{
    font-size: 9px !important;
  }
  .ui-dialog{
    width: 360px !important;
  }
  .img-circle.barber-profile-pic {
    margin-top: 15% !important;
  }
  .img-circle{
    width: 50px !important;
    height: 50px !important;
  }
  .align-center.margin-top-5.adm-input-padding, .custom-input.adm-input-padding, .adm-input-padding b{
    font-size: 8px !important;
  }
  p.align-center.margin-top-5, .datetime{

  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.2%;
  }
}
@media screen and (max-width: 368px) {
  input[value='Activate account']{
    font-size: 12px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9.1%;
  }
}
@media screen and (max-width: 347px) {
  .ui-dialog{
    width: 347px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 9%;
  }
}
@media screen and (max-width: 343px){
  .pull-left.margin-top-20.font-size-14{
    font-size: 13px;
  }
}
@media screen and (max-width: 340px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: -2% !important;
  }
  .ui-dialog{
    width: 340px !important;
  }
  input[value='Activate account']{
    font-size: 11px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.9%;
  }
}
@media screen and (max-width: 334px) {
  .ui-dialog{
    width: 334px !important;
  }
  .img-circle.barber-profile-pic {
    margin-top: 20% !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.8%;
  }
}
@media screen and (max-width: 329px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: -4% !important;
  }
}
@media screen and (max-width: 327px) {
  .align-center.margin-top-5.remaining-message{
    font-size: 8px !important;
  }
  .ui-dialog{
    width: 327px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.7%;
  }
}
@media screen and (max-width: 322px) {
    img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
      margin-top: 1% !important;
    }
  .ui-dialog{
    width: 322px !important;
  }
  .img-circle{
    width: 45px !important;
    height: 45px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.6%;
  }
}
@media screen and (max-width: 320px) {
  .share-profile {
    margin-top: -5%;
  }
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 2% !important;
  }
  .pull-left.margin-top-20.font-size-14{
    font-size: 12px;
  }

  .ui-dialog{
    width: 320px !important;
  }
  .center {
    width: 100%;
  }
  .fa {
    font-size: 14px !important;
  }
  .font-size-16 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 316px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 0% !important;
  }
  .ui-dialog{
    width: 316px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.5%;
  }
}
@media screen and (max-width: 310px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: -1% !important;
  }
  .ui-dialog{
    width: 310px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.4%;
  }
}
@media screen and (max-width: 305px) {
  img.img-circle.margin-top-10, .img-width-100.margin-auto.img-responsive.profile-pic-history.margin-bottom-5.img-circle {
    margin-top: 1% !important;
  }
  .ui-dialog{
    width: 305px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.2%;
  }
}
@media screen and (max-width: 300px) {
  .ui-dialog{
    width: 300px !important;
  }
  input[value='Activate account']{
    font-size: 10px !important;
  }
  h3.res-position {
    font-size: 18px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 80px;
    margin-bottom: 5%;
  }
  .profile-image.img-width-100 {
    width: 70px;
    height: 70px;
    max-width: 70px;
  }
}
@media screen and (max-width: 296px){
  .pull-left.margin-top-20.font-size-14{
    font-size: 11px;
  }
}
@media screen and (max-width: 295px) {
  .ui-dialog{
    width: 295px !important;
  }
  .col-xs-1.margin-left-15px.padding-0 {
    width: 8.1%;
  }
}
@media screen and (max-width: 280px) {
  input[value='Activate account']{
    font-size: 9px !important;
  }
  .set-ab-pos-1 .logo-2x {
    margin-top: 0%;
    margin-bottom: 10% ;
    max-width: 80px;
  }
  .set-ab-pos-1 .logo-2x.sign-up-custom {
    max-width: 80px;
    margin-bottom: 5%;
  }
  .profile-image.img-width-100 {
    width: 60px;
    height: 60px;
    max-width: 60px;
  }
  .res-position {
    margin-top: 15px;
  }
}
