body {
  width: 100%;
  height: 100%;
  background: url("../images/bg.png");
  display: block;
  margin-bottom: 30px;
  font-size: 13px;
}
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: #fff;
}
.container {
  max-width: 640px !important;
}
.align-center {
  text-align: center;
}
.margin-auto {
  margin: 0 auto;
  margin-right: auto !important;
  margin-left: auto !important;
}
.margin-0 {
  margin: 0;
}
.margin-7 {
  margin: 0px 7.5px;
}
.padding-0 {
  padding: 0 !important;
}
.padding-7 {
  padding: 0px 7.5px;
}
.padding-6 {
  padding: 0px 6px;
}
.padding-bottom-3 {
  padding-bottom: 3px;
}
.city-bg {
  width: 100%;
}
.logo {
  max-width: 170px;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.txt-bold {
  font-weight: bold;
}
.margin-top-3 {
  margin-top: 3%;
}
.margin-top-4 {
  margin-top: 4.6%;
  margin-left: -6%;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-5 {
  margin-bottom: 5%;
}
.margin-bottom-10 {
  margin-bottom: 10%;
}
.margin-bottom-15 {
  margin-bottom: 15%;
}
.book-now-button {
  padding: 9px 40px 9px 40px !important;
}
.margin-top-5 {
  margin-top: 5%;
}
.margin-top-10 {
  margin-top: 10%;
}
.margin-top-15 {
  margin-top: 15%;
}
.margin-top-20 {
  margin-top: 20%;
}
.margin-bottom-20 {
  margin-bottom: 20%;
}
.margin-top-30 {
  margin-top: 8%;
}
.margin-top-90 {
  margin-top: 90%;
}
.custom-input {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.custom-submit-button {
  padding: 14px 40px 16px 40px;
}
.light-gray-color {
  color: #747272;
}
.light-gray-color:hover {
  color: #5a5959;
}
.light-gray-color-2x {
  color: #8d8c8c;
}
.light-gray-color-2x:hover {
  color: #ffffff;
}
.light-gray-bg {
  background-color: #747272;
}
.light-gray-bg:hover {
  background: #626060;
}
.bg-red {
  background: #cb4426 !important;
}
.bg-red:hover {
  background: #b63d22 !important;
}
.bg-red-hover:hover {
  background: #b63d22 !important;
  color: #fff !important;
}
.bg-red-hover:hover h3 {
  color: #fff !important;
}
.solid-white-hover:hover,
.solid-white-hover.active {
  background: #fff !important;
}
.shadow-hover:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
  opacity: 0.6;
}
.opacity-hover:hover {
  opacity: 0.7;
}
.background-hover:hover {
  background: rgba(255, 255, 255, 0.3);
}
.red-color {
  color: #cb4426;
}
.red-color:hover {
  color: #b63d22;
}
.red-color:focus {
  color: #b63d22;
}
.calendar-icon {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background: url(../images/icons/calendar-icon.png) no-repeat 23px 12px;
  background-size: 16px;
  background-color: #fff;
}
.mobile-icon {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background: url(../images/icons/mobile-icon.png) no-repeat 23px 12px;
  background-size: 10px;
  background-color: #fff;
}
.user-icon {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background: url(../images/icons/user-icon.png) no-repeat 23px 12px;
  background-size: 14px;
  background-color: #fff;
}
.email-icon {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background: url(../images/icons/email-icon.png) no-repeat 20px 17px;
  background-size: 18px;
  background-color: #fff;
}
.enter-code {
  padding: 13px 0px;
  text-align: center;
}
.submit-btn-sub {
  text-align: center;
  padding: 13px 0px 13px 0px;
}
.password-icon {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background: url(../images/icons/password-icon.png) no-repeat 22px 13px;
  background-size: 16px;
  background-color: #fff;
}
.zipcode-icon {
  width: 100%;
  padding: 11px 40px 11px 52px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background: url(../images/icons/zipcode-icon.png) no-repeat 16px 12px;
  background-size: 16px;
  background-color: #fff;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-20 {
  font-size: 20px !important;
}
.white-color {
  color: #fff !important;
}
.submit-button {
  color: #fff !important;
}
.center {
  width: 35%;
  width: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}
.width-100 {
  width: 100%;
  position: relative;
}
.pos-ab {
  position: absolute;
}
.font-size-10 {
  font-size: 10px !important;
}
.set-ab-pos-1 {
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
}
.set-ab-pos-1 .logo-2x {
  max-width: 150px;
  width: 30%;
  margin-bottom: 10%;
}
.set-ab-pos-1 .profile-pic {
  max-width: 100px;
  width: 25%;
}
.h3-gray-title {
  font-weight: bold;
  font-size: 18px;
  color: #525252;
}
.paragraph {
  width: 85% !important;
  font-weight: 400;
}
.pos-rel {
  position: relative;
}
.set-ab-pos-2 {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}
.set-ab-pos-2 .box {
  max-width: 500px;
  width: 90%;
  padding: 20px;
  margin-top: 15%;
  background-color: #d6d6d6;
  color: #555555;
}
.set-ab-pos-2 a {
  color: #fff;
  font-size: 12px;
  padding: 1px 7px;
  margin: -10px -10px 0 0;
  border-radius: 50%;
  line-height: 18px;
}
.set-ab-pos-2 p {
  padding: 5% 2%;
  margin-top: 10px;
}
.fa {
  font-family: FontAwesome !important;
}
.display-inline {
  margin-bottom: 0;
  width: 100% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.display-inline li {
  display: inline-block;
}
.set-ab-pos-3 {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.set-ab-pos-3 a {
  font-size: 24px;
  color: #fff;
  margin-left: -150px;
}
.set-ab-pos-3 a i {
  font-size: 16px;
}
.set-ab-pos-3 h3 {
  color: #fff;
  font-size: 22px;
  line-height: 0;
}
.profile-pic-history {
  height: 100px;
  max-height: 135px;
}
.edit-profile-pic {
  width: 95%;
}
.signup-progress-steps {
  width: 112px;
}
.signup-progress-steps li {
  display: inline-block;
}
.signup-progress-steps li p {
  background-color: #fff;
  padding: 6px 12px;
  color: #525252;
  border-radius: 50%;
  border: 1px #e5e5e5 solid;
}
.signup-progress-steps li img {
  width: 30px;
  height: 2px;
}
.signup-step-active {
  color: #fff !important;
}
.back-button {
  color: #fff;
  padding: 6px 20px 6px 20px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  background-color: #747272;
}
.back-button:hover {
  background: #626060;
}
.set-ab-pos-4 {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
.set-ab-pos-4 a {
  font-size: 24px;
  color: #fff;
  margin-left: -275px;
}
.set-ab-pos-4 a i {
  margin-top: 10px;
  font-size: 16px;
}
.set-ab-pos-9 {
  color: #fff;
  top: 3%;
  right: 3%;
}
.set-ab-pos-9 button {
  background-color: rgba(255, 255, 255, 0.4);
}
.set-ab-pos-9 button span {
  background-color: #fff;
}
.set-ab-pos-1-v1 {
  top: 35%;
}
.set-ab-pos-1-v1 .logo-2x {
  max-width: 100px;
  width: 30%;
  margin-bottom: 2%;
}
.set-ab-pos-1-v1 .profile-pic {
  max-width: 100px;
  width: 25%;
}
.img-width-60 {
  max-width: 75px;
  width: 100%;
  margin-left: 18% !important;
}
.img-width-75 {
  max-width: 75px;
  width: 60%;
  max-height: 75px;
}
.img-width-100 {
  max-width: 100px;
  width: 90%;
}
.width-auto {
  width: auto !important;
}
.select-time-active {
  color: #cb4426;
}
.txt-regular {
  font-weight: normal;
}
.line-height-20 {
  line-height: 20px !important;
}
.line-height-38 {
  line-height: 38px !important;
}
.line-height-76 {
  line-height: 76px !important;
}
.hr-1 {
  margin: 10px 0;
}
.txt-uppercase {
  text-transform: uppercase;
}
.font-size-16 {
  font-size: 16px !important;
}
.goback-icon,
.gonext-icon,
.check-icon {
  position: absolute;
  margin-top: 5%;
}
.goback-icon {
  left: 5%;
}
.gonext-icon {
  right: 5%;
}
.check-icon {
  right: 5%;
}
.margin-top-1 {
  margin-top: 1.8% !important;
}
.line-height {
  line-height: 28px;
}
.white-bg {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5% 0;
}
.bg-white {
  background-color: #fff !important;
}
.bg-white-opac {
  background: rgba(255, 255, 255, 0.75);
}
.confirmed-img {
  width: 25%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.placeholder-center {
  padding: 10px 40px 12px 40px !important;
}
.placeholder-center ::-webkit-input-placeholder {
  text-align: center !important;
}
.placeholder-center :-moz-placeholder {
  /* Firefox 18- */
  text-align: center !important;
}
.placeholder-center ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center !important;
}
.placeholder-center :-ms-input-placeholder {
  text-align: center !important;
}
.font-size-14 {
  font-size: 14px;
}
.half-button {
  padding: 10px 0px;
}
.input-padding-right-0 {
  padding: 11px 11px 11px 42px;
}
.hr {
  margin: 10px 0;
}
.alert-icon {
  width: 30px;
  padding: 0 10px 0 0;
}
.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-justified > li > .map-button {
  border-radius: 0px;
  margin-bottom: 0px;
}
.map-button {
  padding: 14px 50% 14px 50%;
}
.map-button.bg-white-opac:hover,
.map-button.bg-white-opac:focus {
  background: #fff;
  color: #cb4426;
}
.map-button.bg-red:hover {
  color: #fff;
}
.color-white {
  color: #fff;
}
.card-icon {
  background: url(../images/icons/credit-card-icon.png) no-repeat 22px 16px;
  background-size: 16px;
  background-color: #fff;
}
.card-cvv-icon {
  background: url(../images/icons/credit-card-cvv-icon.png) no-repeat 22px 13px;
  background-size: 16px;
  background-color: #fff;
}
.location-icon {
  background: url(../images/icons/location-icon.png) no-repeat 22px 13px;
  background-size: 10px;
  background-color: #fff;
}
.datepicker table tr td span.active {
  background: #cb4426 !important;
}
.datepicker table tr td span.active:hover {
  background: #b63d22 !important;
}
.datepicker table tr td span {
  color: #525252;
}
.cbp-spmenu {
  background: #525252;
  position: fixed;
}
.cbp-spmenu h3 {
  color: #afdefa;
  fontt-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}
.cbp-spmenu a:hover {
  background: #fff;
  color: #cb4426;
  font-weight: bold;
}
.cbp-spmenu a:active {
  background: #fff;
  font-weight: bold;
  color: #cb4426;
}
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.cbp-spmenu-vertical a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.cbp-spmenu-left {
  left: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.full-width {
  width: 100% !important;
}
.width-33 {
  width: 33.33%;
  height: 40px;
  color: #747272;
}
.width-33:hover {
  color: #5a5959;
}
.select-service-box {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 8%;
}
.font-size-12 {
  font-size: 12px !important;
}
.not-available-time-slot {
  background-color: #e5e5e5;
  border-radius: 30px;
  padding: 10px;
  cursor: not-allowed;
}
.available-time-slot {
  background-color: #cb4426;
  color: #fff;
  border-radius: 30px;
  padding: 10px;
}
.time-confirm-button {
  width: 45%;
  padding: 10px 15px !important;
}
.working-hour-key {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  margin-right: 5px;
}
.available-sign {
  background-color: #cb4426;
}
.unavailable-sign {
  background-color: #3e3e3e;
}
.h3-available {
  line-height: 30px;
}
.working-hours {
  color: #fff;
  padding: 5px 6px;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
}
ol.working-hours-select li {
  float: left;
}
.time-available {
  color: #fff;
  padding: 5px 6px;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
  background: #cb4426 !important;
}
.time-available:hover {
  background: #b63d22 !important;
}
.time-unavailable {
  color: #fff;
  padding: 5px 6px;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #3e3e3e;
}
.time-unavailable:hover {
  background-color: #525252;
}
.on-hover-black:hover {
  background-color: #181818;
}
.margin-left-10px {
  margin-left: 10px;
}
.margin-left-15px {
  margin-left: 15px;
}
.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.col-xs-13 {
  width: 4%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
.center5 {
  width: 35%;
  width: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}
.btn-default.active,
.btn-default.bg-white-opac:hover,
.btn-default.bg-white-opac:focus {
  color: #cb4426;
  background-color: #fff !important;
  text-shadow: none;
  box-shadow: none;
  outline: 0px;
}
.btn-default.active:hover,
.btn-default.bg-white-opac:hover:hover,
.btn-default.bg-white-opac:focus:hover {
  color: #b63d22;
}
.btn-default.active:focus,
.btn-default.bg-white-opac:hover:focus,
.btn-default.bg-white-opac:focus:focus {
  color: #b63d22;
}
.review-txt-area {
  width: 95%;
  padding: 5px 10px;
  border-radius: 5px;
}
#hide {
  display: none;
}
.rating input {
  position: absolute;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
  width: 35px;
  height: 79px;
}
.rating span {
  line-height: 104px;
  padding: 39.5px 35px 24px 0 !important;
  background: url(../images/icons/result.png) no-repeat 0px -89px;
}
/* Change span immediately following the checked radio */
.rating input:checked + span {
  background-position: 0px -89px;
}
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
.rating input:checked + span ~ span {
  background-position: 0 0;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 5px solid rgba(210, 210, 210, 0.4);
}
.profile-image-display {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.navbar-toggle {
  display: block;
}
.map-size {
  height: 700px;
}
.img-circle{
  width: 70px !important;
  height: 70px !important;
}
.dashboard-img-circle{
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
}