@media screen and (max-width: 640px) {
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .center {
    width: 90%;
  }
  .icon-media-top {
    top: 33%;
  }
  .h3-media-top {
    margin-top: 7%;
  }
}
@media screen and (max-width: 569px) {
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .dashboard-img-circle{
    height: 70px !important;
    width: 70px !important;
  }
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .center {
    width: 100%;
  }
  .fa {
    font-size: 14px !important;
  }
  .font-size-16 {
    font-size: 14px !important;
  }
}
