<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Filnu Admin</title>
        <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="/bower/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <link href="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
        <link href="/bower/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
        <link href="/css/dist_css/sb-admin-2.css" rel="stylesheet">
        <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script src="/bower/jquery/dist/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower/metisMenu/dist/metisMenu.min.js"></script>
        <script src="/js/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
        <script src="/bower/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        <script src="/bower/jquery-toast-plugin/jquery.toast.js"></script>
        <script src="/js/dist_js/sb-admin-2.js"></script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/css/media-q.css" type="text/css" />
        <link rel="stylesheet" href="/bower/jquery-toast-plugin/jquery.toast.css" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" src="/bower/moment/moment.js"></script>
        <script type="text/javascript" src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle admin-menu" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin">Filnu Admin v2.0</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li><a href="/admin/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/admin" id="all"><i class="fa fa-users fa-fw"></i> Users (<%= users %>)</a>
                            </li>
                            <li>
                                <a href="/admin/clients" id="clients"><i class="fa fa-users fa-fw"></i> Clients (<%= clients %>)</a>
                            </li>
                            <li>
                                <a href="/admin/barbers" id="barbers"><i class="fa fa-users fa-fw"></i> Barbers (<%= barbers %>)</a>
                            </li>
                            <li>
                                <a href="/admin/appointments" id="appointments"><i class="fa fa-dashboard fa-fw"></i> Appointments </a>
                            </li>
                          <li>
                            <a href="/admin/campaigns" id="campaigns"><i class="fa fa-dashboard fa-fw"></i> Campaigns </a>
                          </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div class="row margin-top-1">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                APPOINTMENTS
                            </div>
                            <div class="panel-body">
                                <div class="dataTable_wrapper table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Service</th>
                                            <th>Created</th>
                                            <th>Client</th>
                                            <th>Barber</th>
                                            <th>Status</th>
                                            <th>Payment</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% for(i = 0;i < appointments.length;i++){ icon = "cut-icon.png" %>
                                        <% if (appointments[i].service == "shave") {
                                            icon = "shave-brush.png"
                                        } %>
                                        <% if (appointments[i].service == "line-up") {
                                            icon = "raz-icon.png"
                                        } %>
                                        <tr class="odd gradeX">
                                            <td>
                                                <%= moment(appointments[i].date).tz('America/New_York').format('MM / DD / YYYY')%>
                                            </td>
                                            <td>
                                                <%= moment(appointments[i].date).tz('America/New_York').format('hh:mm a')%>
                                            </td>
                                            <td>
                                                <img src="/images/icons/<%= icon %>" alt="<%= appointments[i].service %>"
                                                     title="<%= appointments[i].service %>"
                                                     class="img-responsive img-width-75 margin-auto">

                                                <p class="align-center margin-top-5"><%= appointments[i].service %></p>
                                            </td>
                                            <td>
                                                <%= (appointments[i].manually == true)?'manually':'by client' %>
                                            </td>
                                            <td>
                                                <% if(appointments[i].manually !== true){ %>
                                                    <% if(appointments[i].user_id.fbid != '' && appointments[i].user_id.fbid != null){ %>
                                                    <img class="img-responsive" src="//graph.facebook.com/<%= appointments[i].user_id.fbid %>/picture?type=large"
                                                         alt="profile_pic"/>
                                                    <% }else{ %>
                                                    <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                                                         src="<%= appointments[i].user_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + appointments[i].user_id.profile_pic : '/images/profile-img2.png' %>"
                                                         alt="profile_pic"/>
                                                    <% } %>
                                                    <p class="align-center margin-top-5 adm-input-padding"><%= appointments[i].user_id.username %></p>
                                                <% } else { %>
                                                    <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                                                         src="/images/profile-img2.png" alt="profile_pic"/>
                                                    <p class="align-center margin-top-5 adm-input-padding"><%= appointments[i].client_name %></p>
                                                <% }%>
                                            </td>
                                            <td>
                                                <% if(appointments[i].barber_id.fbid != '' && appointments[i].barber_id.fbid != null){ %>
                                                <img class="img-responsive" src="//graph.facebook.com/<%= appointments[i].barber_id.fbid %>/picture?type=large"
                                                     alt="profile_pic"/>
                                                <% }else{ %>
                                                <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                                                     src="<%= appointments[i].barber_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + appointments[i].barber_id.profile_pic : '/images/profile-img2.png' %>"
                                                     alt="profile_pic"/>
                                                <% } %>
                                                <p class="align-center margin-top-5 adm-input-padding"><%= appointments[i].barber_id.username %></p>
                                            </td>
                                            <td>
                                                <% if(appointments[i].confirmation_status && appointments[i].status) { %>
                                                Completed
                                                <% } else if(appointments[i].client_cancel && (!appointments[i].manually)) { %>
                                                Canceled by client
                                                <% } else{ %>
                                                <%= (!(appointments[i].confirmation_status || appointments[i].status))?"Canceled":"Doesn't complete" %>
                                                <% }%>
                                                <!--status-->
                                            </td>
                                            <td>
                                                <% if((appointments[i].confirmation_status ==false && appointments[i].status == false)||(appointments[i].manually)||(appointments[i].client_cancel)) { %>
                                                    should not be paid
                                                <% } else { %>
                                                    <%= (appointments[i].payed_to_barber === true )?"paid":"not paid" %>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
                $("#side-menu a").removeClass('active')
                $("#"+"<%= active %>").addClass('active')
            });
        </script>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

    </body>

</html>
