<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<script type="text/javascript" src="/bower/moment/moment.js"></script>
<script type="text/javascript" src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<script  src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<div class="container margin-auto">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 ">
            <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12 adm-dashboard">
                <input class="hidden" name="type" value="all">
                <input type="Button" class="btnclikable submit-button custom-input bg-red half-button margin-top-5 font-size-12"
                       value="All (<%= users.length %>)">
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4">
            <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12 adm-dashboard">
                <input class="hidden" name="type" value="clients">
                <input type="Button" class="btnclikable submit-button custom-input bg-red half-button margin-top-5 font-size-12"
                       value="Clients (<%= clients %>)">
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4">
            <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12 adm-dashboard">
                <input class="hidden" name="type" value="barbers">
                <input type="Button" class="btnclikable submit-button custom-input bg-red half-button margin-top-5 font-size-12"
                       value="Barbers (<%= barbers %>)">
            </form>
        </div>
    </div>
    <% for(i = 0;i < users.length;i++){ %>
        <div class="row">
            <div class="margin-top-5 margin-7">
                <div class="col-lg-3 col-md-3 col-ms-3 col-xs-3 padding-0" >
                    <% if(users[i].fbid != '' && users[i].fbid != null){ %>
                    <img class="img-responsive" src="//graph.facebook.com/<%= users[i].fbid %>/picture?type=large"
                         alt="profile_pic"/>
                    <% }else{ %>
                    <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                         src="<%= users[i].profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + users[i].profile_pic : '/images/profile-img2.png' %>"
                         alt="profile_pic"/>
                    <% } %>
                    <p class="align-center margin-top-5 adm-input-padding">(<%= users[i].username %>)</p>
                    <p class="align-center margin-top-5 margin-top-0 adm-input-padding"><%= users[i].first %></p>
                    <p class="align-center margin-top-5 margin-top-0 adm-input-padding"><%= users[i].last %></p>
                </div>
                <div class="col-lg-7 col-md-7 col-ms-7 col-xs-7 padding-0" >
                    <div class="adm-user-info-padding">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                                <p class="align-center margin-top-5 adm-input-padding"><b>Member since</b></p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                                <p class="align-center margin-top-5 adm-input-padding"><b>D.O.B.</b></p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                                <p class="align-center margin-top-5 adm-input-padding"><b>Type</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                                <p class="align-center margin-top-5 adm-input-padding"><%= moment.tz(users[i].created, 'America/New_York').format("ll")%></p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                                <p class="align-center margin-top-5 adm-input-padding"><%= moment.utc(users[i].birthday).format("ll") %></p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                                <p class="align-center margin-top-5 adm-input-padding"><%= (users[i].type == 1 )?'barber':'client' %></p>
                            </div>
                        </div>
                    </div>
                    <form id="<%= users[i]._id %>" enctype="multipart/form-data" >
                        <input class="hidden" disabled name="id" value="<%= users[i]._id%>" >
                        <input type="text" name="address" class="custom-input adm-input-padding" disabled  placeholder="Address" value="<%= users[i].address.details %>" alt="<%= users[i].address.details %>"required>
                        <input type="email" name="email" class="custom-input adm-input-padding" disabled placeholder="Email" value="<%= users[i].email %>" alt="<%= users[i].email %>" required>
                        <input type="text" name="phone" class="custom-input adm-input-padding" disabled placeholder="Mobile" pattern="[\(]\d{3}[\)]\s\d{3}[\-]\d{4}" value="<%= users[i].phone %>"  alt="<%= users[i].phone %>" required/>
                    </form>
                </div>
                <div class="col-lg-2 col-md-2 col-ms-2 col-xs-2 padding-0" >
                    <input type="button" class="action btnclikable submit-button custom-input bg-red half-button margin-top-70 margin-left-4 font-size-12"
                           form="<%= users[i]._id %>" value="Edit" alt="<%= i %>">
                </div>
            </div>
        </div>
    <hr>
    <% } %>
</div>
<script>
    $(document).ready(function () {
        <!--var users = "<%- JSON.stringify(users)%>"-->
        $('form').removeAttr("novalidate")
        $(".goback-icon-2").remove();
        $("[name='phone']").inputmask("(999) 999-9999");
        $(".action").on("click", function(){
            if($(this).val() == "Save"){
                var valid = $('#'+$(this).attr('form')).valid();
                if(valid){
                    var form = $('#'+$(this).attr('form'))
                    var formData = new FormData();
                    formData.append('id', form.children('input[name="id"]').val());
                    formData.append('address', form.children('input[name="address"]').val());
                    formData.append('email', form.children('input[name="email"]').val());
                    formData.append('phone', form.children('input[name="phone"]').val());
                    $.ajax('/admin/edit', {
                        method: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function () {
                            $('form[enctype="multipart/form-data"]').children().attr("disabled", true);
                            $('input[value="Save"]').val('Edit');
                            $("#popup_message").html("User info successfully updated");
                            $("#popup_wrapper,#okay-btn-wrapper").show();
                        },
                        error: function (err) {
                            $("#popup_message").html(err.responseText);
                            $("#popup_wrapper,#okay-btn-wrapper").show();
                        }
                    });
                }
            } else {
                if($('form[enctype="multipart/form-data"]').children('input:not(:disabled)').length){
                    oldIndex = $('input[value="Save"]').attr('alt')
                    oldElement = $('#'+$('input[value="Save"]').attr('form'))
                    oldElement.children('input[name="address"]').val(oldElement.children('input[name="address"]').attr('alt'))
                    oldElement.children('input[name="email"]').val(oldElement.children('input[name="email"]').attr('alt'))
                    oldElement.children('input[name="phone"]').val(oldElement.children('input[name="phone"]').attr('alt'))
                    oldElement.valid();
                    $('form[enctype="multipart/form-data"]').children().attr("disabled", true);
                    $('input[value="Save"]').val('Edit')
                    $('#'+$(this).attr('form')).children().removeAttr("disabled");
                    $(this).val('Save');
                }else{
                    $('form[enctype="multipart/form-data"]').children().attr("disabled", true);
                    $('input[value="Save"]').val('Edit')
                    $('#'+$(this).attr('form')).children().removeAttr("disabled");
                    $(this).val('Save');
                }
            }
        })
    })
</script>
<% include ../../partials/footer %>