<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Filnu Admin</title>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/bower/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/bower/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="/css/dist_css/sb-admin-2.css" rel="stylesheet">
    <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/js/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
    <script src="/bower/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/bower/jquery-toast-plugin/jquery.toast.js"></script>
  <script src="/bower/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/js/dist_js/sb-admin-2.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/media-q.css" type="text/css" />
    <link rel="stylesheet" href="/bower/jquery-toast-plugin/jquery.toast.css" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/bower/moment/moment.js"></script>
    <script type="text/javascript" src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle admin-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Filnu Admin v2.0</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li><a href="/admin/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/admin" id="all"><i class="fa fa-users fa-fw"></i> Users (<%= users %>)</a>
                    </li>
                    <li>
                        <a href="/admin/clients" id="clients"><i class="fa fa-users fa-fw"></i> Clients (<%= clients %>)</a>
                    </li>
                    <li>
                        <a href="/admin/barbers" id="barbers"><i class="fa fa-users fa-fw"></i> Barbers (<%= barbers %>)</a>
                    </li>
                    <li>
                        <a href="/admin/appointments" id="appointments"><i class="fa fa-dashboard fa-fw"></i> Appointments </a>
                    </li>
                    <li>
                        <a href="/admin/campaigns" id="campaigns"><i class="fa fa-dashboard fa-fw"></i> Campaigns </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row margin-top-1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= (active == "all")?active.toUpperCase()+" USERS":active.toUpperCase() %>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Username</th>
                                    <th>First</th>
                                    <th>Last</th>
                                    <th>Since</th>
                                    <th>D.O.B</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(i = 0;i < usr.length;i++){ %>
                                    <tr class="odd gradeX" id="<%= usr[i]._id %>">
                                        <td>
                                            <% if(usr[i].fbid != '' && usr[i].fbid != null){ %>
                                            <img class="img-responsive" src="//graph.facebook.com/<%= usr[i].fbid %>/picture?type=large"
                                                 alt="profile_pic"/>
                                            <% }else{ %>
                                            <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 img-circle"
                                                 src="<%= usr[i].profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + usr[i].profile_pic : '/images/profile-img2.png' %>"
                                                 alt="profile_pic"/>
                                            <% } %>
                                        </td>
                                        <td><%= usr[i].username %></td>
                                        <td><%= usr[i].first %></td>
                                        <td><%= usr[i].last %></td>
                                        <td><%= moment.tz(usr[i].created, 'America/New_York').format("ll") %></td>
                                        <td><%= moment.utc(usr[i].birthday).format("ll") %></td>
                                        <td><%= (usr[i].type == 1 )?'barber':'client' %></td>
                                        <td><%= usr[i].address.details %></td>
                                        <td><%= usr[i].email %></td>
                                        <td><%= usr[i].phone %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-form" title="Create new user">
        <div class="row">
            <div class="user_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="" class="" alt="profile_pic">
                <p class="align-center margin-top-5 adm-input-padding username"></p>
                <p class="align-center margin-top-5 margin-top-0 adm-input-padding first "></p>
                <p class="align-center margin-top-5 margin-top-0 adm-input-padding last"></p>
            </div>
            <div class="user_info col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="adm-user-info-padding">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                            <p class="align-center margin-top-5 adm-input-padding"><b>Member since</b></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                            <p class="align-center margin-top-5 adm-input-padding"><b>D.O.B.</b></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                            <p class="align-center margin-top-5 adm-input-padding"><b>Type</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                            <p class="align-center margin-top-5 adm-input-padding since"></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                            <p class="align-center margin-top-5 adm-input-padding dob"></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >
                            <p class="align-center margin-top-5 adm-input-padding type"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <fieldset>
                <input class="hidden" disabled name="id" id="id" >
                <input type="text" name="address" id="address" class="custom-input adm-input-padding"  placeholder="Address" required>
                <input type="email" name="email" id="email"  class="custom-input adm-input-padding" placeholder="Email"  required>
                <input type="text" name="phone" id="phone" class="custom-input adm-input-padding" placeholder="Mobile" pattern="[\(]\d{3}[\)]\s\d{3}[\-]\d{4}" required/>
            </fieldset>
        </form>
    </div>
</div>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>
<script>
    $(document).ready(function() {
        $("input[name='phone']").inputmask("(999) 999-9999");
        $('#dataTables-example').DataTable({
            responsive: true
        });
        $("#side-menu a").removeClass('active')
        $("#"+"<%= active %>").addClass('active')
        var dialog, form,
            emailRegex = /^(|(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6})$/i,
            id = $( "#id"),
            phone = $( "#phone" ),
            email = $( "#email" ),
            address = $( "#address" ),
            allFields = $( [] ).add( address ).add( email ).add( phone ),
            tips = $( ".validateTips" );
        function updateTips( t ) {
            tips.text( t ).addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }
        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }
        function checkRegexp( o, regexp, n ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
            } else {
                return true;
            }
        }

        function updateUser() {
            console.log('CHECK')
            var valid = true;
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkLength( address, "address", 3, 200 );
            valid = valid && checkLength( email, "email", 6, 80 );
            valid = valid && checkLength( phone, "phone", 5, 16 );
            valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
            valid = valid && checkRegexp( phone, /^\(\d{3}\)\ \d{3}\-\d{4}$/, "Invalid phone number" );
            if(valid){
                var formData = new FormData();
                formData.append('id', id.val());
                formData.append('address', address.val());
                formData.append('email', email.val());
                formData.append('phone', phone.val());
                $.ajax('/admin/edit', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $.toast({
                            heading: 'Success',
                            text: "User info successfully updated",
                            icon: 'success',
                            showHideTransition: 'fade',
                            allowToastClose: true,
                            hideAfter: 3000,
                            stack:false,
                            position: 'mid-center',
                            textAlign: 'left'
                        })
                        $('#'+id.val()+' td:nth-child(8)').html(address.val())
                        $('#'+id.val()+' td:nth-child(9)').html(email.val())
                        $('#'+id.val()+' td:nth-child(10)').html(phone.val())
                        dialog.dialog( "close" );
                        return;
                    },
                    error: function (err) {
                        console.log("ERROR");
                        err.responseText
                        $.toast({
                            heading: 'Error',
                            text:err.responseText,
                            icon: 'error',
                            showHideTransition: 'fade',
                            allowToastClose: true,
                            hideAfter: 3000,
                            stack:false,
                            position: 'mid-center',
                            textAlign: 'left'
                        })
                    }
                });
            }else{
                return valid;
            };
        }
        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            minHeight:400,
            minWidth: 300,
            width: 500,
            maxWidth: 600,
            modal: true,
            buttons: {
                "Update user": updateUser,
                Cancel: function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
            }
        });
        form = dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            updateUser();
        });
        $( "tbody tr" ).button().on( "click", function() {
            $('.user_pic img').removeClass();
            $('.user_pic img').addClass($($($(this).children()[0]).children()[0]).attr('class'))
            $('.user_pic img').attr('src', $($($(this).children()[0]).children()[0]).attr('src'))
            $('.user_pic p.username').text($($(this).children()[1]).context.textContent)
            $('.user_pic p.first').text($($(this).children()[2]).context.textContent)
            $('.user_pic p.last').text($($(this).children()[3]).context.textContent)
            $('.user_info p.since').text($($(this).children()[4]).context.textContent)
            $('.user_info p.dob').text($($(this).children()[5]).context.textContent)
            $('.user_info p.type').text($($(this).children()[6]).context.textContent)
            $('input[name="id"]').val($(this).attr("id"));
            $('input[name="address"]').val($($(this).children()[7]).context.textContent);
            $('input[name="email"]').val($($(this).children()[8]).context.textContent);
            $('input[name="phone"]').val($($(this).children()[9]).context.textContent);
            dialog.dialog( "open" );
        });
    });
</script>


</body>

</html>
