<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Filnu Admin</title>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/bower/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/bower/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="/css/dist_css/sb-admin-2.css" rel="stylesheet">
    <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/js/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
    <script src="/bower/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/bower/jquery-toast-plugin/jquery.toast.js"></script>
    <script src="/js/dist_js/sb-admin-2.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/media-q.css" type="text/css" />
    <link rel="stylesheet" href="/bower/jquery-toast-plugin/jquery.toast.css" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/bower/moment/moment.js"></script>
    <script type="text/javascript" src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle admin-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Filnu Admin v2.0</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li><a href="/admin/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/admin" id="all"><i class="fa fa-users fa-fw"></i> Users (<%= users %>)</a>
                    </li>
                    <li>
                        <a href="/admin/clients" id="clients"><i class="fa fa-users fa-fw"></i> Clients (<%= clients %>)</a>
                    </li>
                    <li>
                        <a href="/admin/barbers" id="barbers"><i class="fa fa-users fa-fw"></i> Barbers (<%= barbers %>)</a>
                    </li>
                    <li>
                        <a href="/admin/appointments" id="appointments"><i class="fa fa-dashboard fa-fw"></i> Appointments </a>
                    </li>
                    <li>
                      <a href="/admin/campaigns" id="campaigns"><i class="fa fa-dashboard fa-fw"></i> Campaigns </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row margin-top-1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       SETTINGS
                    </div><input hidden id="id" name="id" value="<%= user._id %>">
                    <div class="panel-body">
                        <form role="form" id="username_form" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <fieldset>

                                <input class="custom-input adm-input-padding" id="username" name="username"
                                       type="text" placeholder="Disabled input" value="<%= user.username %>" disabled>

                                <input type="button" id="change_username" value="Change"
                                       class="btn btn-default" >
                            </fieldset>
                        </form>
                        <form role="form" id="password_form" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <fieldset>
                                <input class="custom-input adm-input-padding" id="old_password" name="old_password"
                                       type="password" placeholder="Old password" value="******" disabled
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters">

                                <input class="hidden custom-input adm-input-padding" id="new_password" name="new_password"
                                       type="password" placeholder="New password" disabled
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters">

                                <input class="hidden custom-input adm-input-padding" id="confirm_password" name="confirm_password"
                                       type="password" placeholder="Confirm new password" disabled
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                                        >

                                <input type="button" id="change_password" value="Change"
                                       class="btn btn-default">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="dialog-form" title="Create new user">-->
        <!--<div class="row">-->
            <!--<div class="user_pic col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                <!--<img src="" class="" alt="profile_pic">-->
                <!--<p class="align-center margin-top-5 adm-input-padding username"></p>-->
                <!--<p class="align-center margin-top-5 margin-top-0 adm-input-padding first "></p>-->
                <!--<p class="align-center margin-top-5 margin-top-0 adm-input-padding last"></p>-->
            <!--</div>-->
            <!--<div class="user_info col-lg-8 col-md-8 col-sm-8 col-xs-8">-->
                <!--<div class="adm-user-info-padding">-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >-->
                            <!--<p class="align-center margin-top-5 adm-input-padding"><b>Member since</b></p>-->
                        <!--</div>-->
                        <!--<div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >-->
                            <!--<p class="align-center margin-top-5 adm-input-padding"><b>D.O.B.</b></p>-->
                        <!--</div>-->
                        <!--<div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >-->
                            <!--<p class="align-center margin-top-5 adm-input-padding"><b>Type</b></p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >-->
                            <!--<p class="align-center margin-top-5 adm-input-padding since"></p>-->
                        <!--</div>-->
                        <!--<div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >-->
                            <!--<p class="align-center margin-top-5 adm-input-padding dob"></p>-->
                        <!--</div>-->
                        <!--<div class="col-lg-4 col-md-4 col-ms-4 col-xs-4 padding-0" >-->
                            <!--<p class="align-center margin-top-5 adm-input-padding type"></p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<form>-->
            <!--<fieldset>-->
                <!--<input class="hidden" disabled name="id" id="id" >-->
                <!--<input type="text" name="address" id="address" class="custom-input adm-input-padding"  placeholder="Address" required>-->
                <!--<input type="email" name="email" id="email"  class="custom-input adm-input-padding" placeholder="Email"  required>-->
                <!--<input type="text" name="phone" id="phone" class="custom-input adm-input-padding" placeholder="Mobile" pattern="[\(]\d{3}[\)]\s\d{3}[\-]\d{4}" required/>-->
            <!--</fieldset>-->
        <!--</form>-->
    <!--</div>-->
</div>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>
<script>
    $(document).ready(function() {
        var id = $( "#id"),
            old_password = $( "#old_password" ),
            new_password = $( "#new_password" ),
            confirm_password = $( "#confirm_password"),
            username = $( "#username" ),
            allFields = $( [] ).add( old_password ).add( new_password ).add( confirm_password )

        $('#dataTables-example').DataTable({
            responsive: true
        });
        $("#side-menu a").removeClass('active')
        $('#change_username').on('click', function(){
            if($(this).val()=='Change'){
                $('#username').attr("disabled", false)
                $(this).val('Save');
            }else{
                checkUsername();
            }
        })
        $('#change_password').on('click', function(){
            if($(this).val()=='Change'){
                $('#old_password').val('')
                $('#old_password, #new_password, #confirm_password').attr("disabled", false)
                $('#old_password, #new_password, #confirm_password').removeClass("hidden")
                $('#change_password').val('Save')
            }else{
                checkPassword();
            }
        })
        function checkPassword(){
            var valid = true;
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp( old_password, /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/, "" );
            valid = valid && checkRegexp( new_password, /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/, "" );
            valid = valid && checkRegexp( confirm_password, /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/, "" );
            valid = valid && matchPasswords()
            if(valid){
                var formData = new FormData();
                formData.append('id', id.val());
                formData.append('old', old_password.val());
                formData.append('new', new_password.val());
                formData.append('confirm', confirm_password.val());
                $.ajax('/admin/changePassword', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $.toast({
                            heading: 'Success',
                            text: "Password updated successfully",
                            icon: 'success',
                            showHideTransition: 'fade',
                            allowToastClose: true,
                            hideAfter: 3000,
                            stack:false,
                            position: 'mid-center',
                            textAlign: 'left'
                        })
                        $('#change_password').val('Change')
                        old_password.attr('disabled', true);
                        new_password.addClass('hidden')
                        confirm_password.addClass('hidden')
                        return;
                    },
                    error: function (err) {
                        console.log("ERROR");
                        err.responseText
                        $.toast({
                            heading: 'Error',
                            text:err.responseText,
                            icon: 'error',
                            showHideTransition: 'fade',
                            allowToastClose: true,
                            hideAfter: 3000,
                            stack:false,
                            position: 'mid-center',
                            textAlign: 'left'
                        })
                    }
                });

            }else{
                $.toast({
                    heading: 'Error',
                    text:"Password must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters. New password and Confirm password should match",
                    icon: 'error',
                    showHideTransition: 'fade',
                    allowToastClose: true,
                    hideAfter: 3000,
                    stack:false,
                    position: 'mid-center',
                    textAlign: 'left'
                })
            }
        }
        function matchPasswords(){
           if(new_password.val() === confirm_password.val()){
               return true;
           } else {
               new_password.addClass( "input-error" )
               confirm_password.addClass( "input-error" )
           }
        }
        function checkUsername(){
            var valid = true;
            allFields.removeClass( "ui-state-error" );
            valid = valid && checkRegexp( username, /.{8,}/, "" );
            if(valid){
                var formData = new FormData();
                formData.append('id', id.val());
                formData.append('username', username.val());
                $.ajax('/admin/changeUsername', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $.toast({
                            heading: 'Success',
                            text: "Username updated successfully",
                            icon: 'success',
                            showHideTransition: 'fade',
                            allowToastClose: true,
                            hideAfter: 3000,
                            stack:false,
                            position: 'mid-center',
                            textAlign: 'left'
                        })
                        $('#change_username').val('Change')
                        username.attr('disabled', true);
                        return;
                    },
                    error: function (err) {
                        console.log("ERROR");
                        err.responseText
                        $.toast({
                            heading: 'Error',
                            text:err.responseText,
                            icon: 'error',
                            showHideTransition: 'fade',
                            allowToastClose: true,
                            hideAfter: 3000,
                            stack:false,
                            position: 'mid-center',
                            textAlign: 'left'
                        })
                    }
                });
            }else{
                $.toast({
                    heading: 'Error',
                    text: "Username must contain 8 characters",
                    icon: 'error',
                    showHideTransition: 'fade',
                    allowToastClose: true,
                    hideAfter: 3000,
                    stack:false,
                    position: 'mid-center',
                    textAlign: 'left'
                })
            }
        }
        function checkRegexp( o, regexp, n ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "input-error" );
                return false;
            } else {
                o.removeClass( "input-error" );
                return true;
            }
        }
    });
</script>


</body>

</html>
