body {
  width: 100%;
  height: 100%;
  display: block;
}
.signup-main-div{
  padding: 0px 37px;
}
.signup-main {
  background: #cb4426 !important;
  margin-top: 30%;
  width: 100%;
  padding: 11px 0px;
  border-radius: 30px !important;
  border: 1px solid #e5e5e5;
  color: rgb(255, 255, 255);
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.signup-main:hover {
  background: #b63d22 !important;
}
.white-color {
  color: #ffffff !important;
}
.bg-gray {
  background: #f5f5f5;
}
.margin-padding-0 {
  margin: 0;
  padding: 0;
}
.margin-auto {
  margin: 0 auto;
  margin-left: auto !important;
  margin-right: auto !important;
}
.font-size-20 {
  font-size: 22px !important;
}
.font-size-18 {
  font-size: 18px;
}
/*video {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: url('images/filnu-bg.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
          transition: 1s opacity;
}*/
.video-placeholder {
  width: 800px;
  max-width: 100%;
}
.intro-vid {
  width: 100%;
  max-width: 100%;
  height: 600px;
  max-height: 510px;
  min-height: 100px;
  border: none;
}
.grandma {
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
}
.red-strip {
  padding: 25px 0px 26px 0px;
}
br {
  padding: 0;
  margin: 0;
}
.header {
  height: 686px;
}
.navbar-default {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  border-bottom: none;
  border-radius: 0px;
  border: none;
}
.lp-logo {
  margin-left: 2.5%;
  width: 100px;
}
.sign-in-up.nav.navbar-nav > li > a {
  padding: 25px 18px;
  color: #C33F1A;
  outline: none;
  text-shadow: none;
}
.h1 {
  font-size: 2em;
  letter-spacing: 3px;
}
.h1-margin-top {
  margin-top: 32%;
}
.margin-top-5 {
  margin-top: 5%;
}
.margin-top-1 {
  margin-top: 1%;
}
.margin-top-3 {
  margin-top: 3%;
}
.margin-top-10 {
  margin-top: 10%;
}
.margin-bottom-5 {
  margin-bottom: 5%;
}
.margin-bottom-10 {
  margin-bottom: 10%;
}
footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  /*box-shadow: -1px -1px 14px -5px rgba(0, 0, 0, 0.3);*/
}

footer h6 , footer ul {
  margin: 0 25px;
  color: #fff;
  font-size: 13px;
}

footer h6 {
  padding: 21px 10px 21px 10px;
}

footer ul li {
  padding: 17px 10px 0px 10px;

}


footer ul li > a {
  color: #fff;
  text-decoration: none;
}

footer ul li > a:hover {
  color: #cb4426;
  text-decoration: none;
}
.like-icon {
  max-width: 66px;
}
.width-100 {
  width: 100%;
}
.red-color {
  color: #cb4426;
}
.red-color:hover {
  color: #b63d22;
}
.red-color:focus {
  color: #b63d22;
}
.full-width {
  width: 100% !important;
}
.bg-red {
  background: #cb4426 !important;
}
.bg-red:hover {
  background: #b63d22 !important;
}
hr {
  border-top: solid 1px #555;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .navbar-toggle .icon-bar {
  background: #423D37;
}
.cbp-spmenu {
  background: #525252;
  position: fixed;
}
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}
.cbp-spmenu a:hover {
  background: #fff;
  color: #cb4426;
  font-weight: bold;
}
.cbp-spmenu a:active {
  background: #fff;
  font-weight: bold;
  color: #cb4426;
}
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.cbp-spmenu-vertical a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  text-align: left;
}
.cbp-spmenu-left {
  left: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.video-container {
  max-width: 100%;
  max-height: 100%;
}


@media screen and (min-width: 2400px) {
/*  video {
    top: 150px;
  }*/
  .header {
    height: 820px;
  }
}
@media screen and (max-width: 2400px) {
/*  video {
    top: 150px;
  }*/
  .header {
    height: 820px;
  }
}
@media screen and (max-width: 2300px) {
/*  video {
    top: 200px;
  }*/
  .header {
    height: 830px;
  }
}
@media screen and (max-width: 2100px) {
/*  video {
    top: 250px;
  }*/
  .header {
    height: 830px;
  }
}
@media screen and (max-width: 1950px) {
/*  video {
    top: 250px;
  }*/
  .header {
    height: 795px;
  }
}
@media screen and (max-width: 1900px) {
  .header {
    height: 745px;
  }
}
@media screen and (max-width: 1850px) {
  .header {
    height: 745px;
  }
}
@media screen and (max-width: 1800px) {
/*  video {
    top: 200px;
  }*/
  .header {
    height: 700px;
  }
}
@media screen and (max-width: 1750px) {
  .header {
    height: 680px;
  }
}
@media screen and (max-width: 1700px) {
  .header {
    height: 650px;
  }
}
@media screen and (max-width: 1650px) {
/*  video {
    top: 200px;
  }*/
  .header {
    height: 650px;
  }
}
@media screen and (max-width: 1550px) {
/*  video {
    top: 250px;
  }*/
  .header {
    height: 660px;
  }
}
@media screen and (max-width: 1500px) {
  .header {
    height: 650px;
  }
}
@media screen and (max-width: 1440px) {
  .header {
    height: 640px;
  }
}
@media screen and (max-width: 1366px) {
/*  video {
    top: 200px;
  }*/
  .header {
    height: 580px;
  }
}
@media screen and (max-width: 1340px) {
  .header {
    height: 560px;
  }
}
@media screen and (max-width: 1280px) {
/*  video {
    top: 225px;
  }*/
}
@media screen and (max-width: 1200px) {
/*  video {
    top: 200px;
  }*/
  .header {
    height: 525px;
  }
}
@media screen and (max-width: 1199px) {
  .signup-main-div {
    padding: 0px 22px;
  }
}
@media screen and (max-width: 1150px) {
  .header {
    height: 510px;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    height: 500px;
  }
}
@media screen and (max-width: 1066px) {
  .header {
    height: 485px;
  }
}
@media screen and (max-width: 1024px) {
  .signup-main-div {
    padding: 1px 21px;
  }

  .dashboard-img-circle{
    margin-top: -100px;
  }
  .header {
    height: 470px;
  }
}
@media screen and (max-width: 991px) {
  .signup-main-div {
    padding: 0px 32px;
  }
}
@media screen and (max-width: 960px) {
/*  video {
    top: 150px;
  }*/

  .header {
    height: 410px;
  }
  h2 {
    font-size: 22px;
  }
  .like-icon {
    max-width: 48px;
  }
}
@media screen and (max-width: 925px) {
  .header {
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    height: 380px;
  }
}
@media screen and (max-width: 850px) {
  .header {
    height: 360px;
  }
  .dashboard-img-circle{
    margin-top: 0px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-default {
    margin-bottom: 47%;
  }
  .intro-vid {
    height: 450px;
  }
  .img-adjust {
    width: 38%;
  }
}

@media screen and (max-width: 767px) {
  .signup-main-div {
    padding: 0px 97px;
  }

  footer ul.pull-right {
    float: none !important;
    text-align: center;
  }
   footer h6.pull-left {
    float: none !important;
    text-align: center;
  }


  footer h6 {
    padding: 0;
    padding-bottom: 10px;
  }

  footer ul {
      padding: 0px  0px 0px 0px;
  }

  footer ul li {
    padding: 10px 10px 3px 10px;
    margin:0;
  }
}
  @media screen and (max-width: 740px) {
    .signup-main-div {
      padding: 0px 91px;
    }
  }
@media screen and (max-width: 710px) {
  .signup-main-div {
    padding: 0px 82px;
  }

  .header {
    height: 320px;
  }
}
@media screen and (max-width: 640px) {
  .signup-main-div {
    padding: 0px 65px;
  }

/*  video {
    top: 150px;
  }*/
  .header {
    height: 310px;
  }
  .padding-top-bottom-20 {
    padding: 20px 0;
  }
  .h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .intro-vid {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .signup-main-div {
    padding: 0px 55px;
  }


  .header {
    height: 300px;
  }
}
@media screen and (max-width: 568px) {
  .signup-main-div {
    padding: 0px 47px;
  }

  .header {
    height: 300px;
  }
  .intro-vid {
    height: 350px;
  }
  .img-adjust {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .signup-main-div {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 528px) {
  .signup-main-div {
    padding: 0px 38px;
  }

  .header {
    height: 285px;
  }
  .intro-vid {
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .signup-main-div {
    padding: 0px 31px;
  }
}
@media screen and (max-width: 480px) {
/*  video {
    top: 120px;
  }*/
  .signup-main-div {
    padding: 0px 25px;
  }
  .header {
    height: 250px;
  }
  .margin-bottom-10 {
    margin-bottom: 15%;
  }
}
@media screen and (max-width: 461px) {
  .signup-main-div {
    padding: 0px 20px;
  }
  .header {
    height: 240px;
  }
}
@media screen and (max-width: 440px) {
  .signup-main-div {
    padding: 0px 14px;
  }
}
@media screen and (max-width: 430px) {
  .signup-main-div {
    padding: 0px 48px;
  }
}
@media screen and (max-width: 426px) {
/*  video {
    top: 110px;
  }*/
  .signup-main-div {
    padding: 0px 45px;
  }
  .header {
    height: 220px;
  }
}
@media screen and (max-width: 400px) {
/*  video {
    top: 163px;
  }*/
  .signup-main-div {
    padding: 0px 39px;
  }
  .header {
    height: 265px;
  }
  .navbar-default {
    background: #fff;
    height: 45px;
  }
  .lp-logo {
    width: 80px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background: #525252;
  }
  .intro-vid {
    height: 250px;
  }
  h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 384px) {
  .signup-main-div {
    padding: 0px 34px;
  }
  .header {
    height: 260px;
  }
}
@media screen and (max-width: 380px) {
/*  video {
    top: 160px;
  }*/
  .img-adjust {
    width: 60%;
  }
}
@media screen and (max-width: 375px) {
/*  video {
    top: 150px;
  }*/
  .header {
    height: 250px;
  }
}
@media screen and (max-width: 360px) {
/*  video {
    top: 150px;
  }*/
  .signup-main-div {
    padding: 0px 30px;
  }
  .header {
    height: 245px;
  }
  .intro-vid {
    height: 230px;
  }
}
@media screen and (max-width: 340px) {
/*  video {
    top: 140px;
  }*/
  .signup-main-div {
    padding: 0px 25px;
  }
  .header {
    height: 230px;
  }
  .img-adjust {
    width: 75%;
  }
}
@media screen and (max-width: 320px) {
/*  video {
    top: 140px;
  }*/
  .signup-main-div {
    padding: 0px 20px;
  }
  .header {
    height: 225px;
  }
}
@media screen and (max-width: 300px) {
/*  video {
    top: 130px;
  }*/
  .signup-main-div {
    padding: 0px 15px;
  }
  .header {
    height: 210px;
  }
  .intro-vid {
    height: 200px;
  }
}
@media screen and (max-width: 285px) {
  .header {
    height: 200px;
  }
  .h1,
  h2 {
    font-size: 18px;
  }
}
@media screen and (max-width:990px){
  .mbYTP_wrapper{
    display:none;
  }
}
h1.white-color{
  color:#fff !important;
}
