
Dear Admin,

<p>We have a new <%= data.type==1?'barber':'customer' %> on our portal details are given below:</p>

Username: <%= data.username %><br/>
Name: <%= data.first+" "+data.last %><br/>
Phone: <%= data.phone %><br/>
Email: <%= data.email %><br/>
Birthday: <%= data.birthday %><br/>
Address: <%= data.address.details %><br/>


<br/>
<address>
    Team FILNU LLC.
</address>