<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
Dear Admin,

<p>Below is the weekly report of payments.</p>
<% if(data.length>0){ %>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Total Transactions</th>
            <th>Total Payment</th>
        </tr>
    </thead>
    <tbody>
        <% for(doc in data){ %>
            <tr>
                <td><%= data[doc].user.username %></td>
                <td><%= data[doc].user.email %></td>
                <td><%= data[doc].count %></td>
                <td><%= currency %><%= data[doc].total %></td>
            </tr>
        <% } %>
    </tbody>
</table>
<% } %>
<br/>
<br/>
<address>
    Team FILNU LLC.
</address>
