Dear Admin,


<p>An appointment has been <%= action %> by <%= client_cancel?customer.username:barber.username %>. Details are give below</p>

<h3>Barber details:</h3>
Barber Name: <%= barber.first %> <%= barber.last %><br/>
Phone: <a href="tel:<%= barber.phone %>"><%= barber.phone %></a><br/>
Email <a href="mailto:<%= barber.email %>"><%= barber.email %></a><br/>
Address: <%= barber.address.details %>
<br/><br/>


<h3>Customer details:</h3>
Customer Name: <% if(typeof client_name !== 'undefined') { %> <%= client_name %><% } else { %>  <%= customer.first %> <%= customer.last %><% } %><br/>
Phone: <a href="tel:<%= customer.phone %>"><%= customer.phone %></a><br/>
Email <a href="mailto:<%= customer.email %>"><%= customer.email %></a><br/>

<% if(typeof campaign !== 'undefined') { %>
  <h3>Appointment details</h3>
  <p><%= campaign.description %></p>
<% } else { %>
  <% if(typeof price !== 'undefined') { %>
    <h3>Appointment details</h3>
    Price : $<%= price %> <br/>
    Service fee : $2 <br/>
    <hr/>
    Total : $<%= price +2 %> <br/>
  <% } else { %>
    <%= customer.first %> <%= customer.last %>
  <% } %>
<% } %>

<br/><br/>
<address>
    Team FILNU LLC.
</address>
