
Dear Admin,

<p>User deactivate his account:</p>

Username: <%= data.username %><br/>
Name: <%= data.first+" "+data.last %><br/>
Phone: <%= data.phone %><br/>
Email: <%= data.email %><br/>
Birthday: <%= data.birthday %><br/>
Address: <%= data.address.details %><br/>


<br/>
<address>
    Team FILNU LLC.
</address>