Dear <%= user.username %>,
<p>Your <%= time %> appointment for <%= date %> was cancelled because it went unfulfilled. </p>
<p>You can go to filnu.com and schedule a new appointment. Sorry for the inconvenience.</p>
<br/><br/>
<address>
  Team FILNU LLC.
</address>
