Dear <%= appointment.barber_id.first %> <%= appointment.barber_id.last %>,
<p>We are sorry to inform you that <% if(appointment.manually !== true ){ %><%= appointment.user_id.username %> has <% }else{ %> You have <%}%> cancelled the appointment for <%=  date %>.</p>
</br>
</br>
<address>
    Team FILNU LLC.
</address>