Dear <%= appointment.user_id.first %> <%= appointment.user_id.last %>,

<p>Your appointment with <b><%= appointment.barber_id.username %></b> on <b><%= date %></b> for <b><%= appointment.service %></b>, has been canceled.</p>
<p>Please click on <a href='<%= siteurl+"barber/search/" %>' title="Click to book new appointment"><%= siteurl+"/barber/search/"%></a> to book new appointment</p>
<br/><br/>
<address>
    Team FILNU LLC.
</address>