Dear <%= user.first %> <%= user.last %>,

<p>You have received a new appointment for <%= service %> on <%= date %>, customer details are given below.</p>

Customer Name: <% if(typeof client_name !== 'undefined') { %> <%= client_name %> <% } else { %><%= data.first %> <%= data.last %><% } %><br/>
Phone: <a href="tel:<%= data.phone %>"><%= data.phone %></a><br/>
Email <a href="mailto:<%= data.email %>"><%= data.email %></a><br/>
<br/><br/>
<address>
    Team FILNU LLC.
</address>