Dear <%= data.username %>,

<p>You have been requested to reset password. <br/>Please click on <a href='<%= siteurl %>users/change-password/?user=<%= data._id %>'><%= siteurl %>users/change-password/?user=<%= data._id %></a></p>

<address>
    Team FILNU LLC.
</address>