Dear <%= customer.first %> <%= customer.last %>,
<% if(manually == true ){ %>
<p>You have complete an appointment for <%= client_name %> for <%= service %> on <%= app_date %> at <%= date %>.</p>
<% } else { %>
<p>An appointment for <%= service %> on <%= app_date %> has been completed by <%= data.username %> at <%= date %>.</p>
<p>You can give review for this appointment and book new one.</p>
<% } %>
<br/><br/>
<address>
    Team FILNU LLC.
</address>