Dear <%= user.first %> <%= user.last %>,

<p>You have received a new appointment, details are given below.</p>

Barber Name: <%= data.first %> <%= data.last %><br/>
Phone: <a href="tel:<%= data.phone %>"><%= data.phone %></a><br/>
Email: <a href="mailto:<%= data.email %>"><%= data.email %></a><br/>
Confirmation Code : <%= code %><br/>
Address: <%= data.address.details %>
<br/><br/>
<address>
    Team FILNU LLC.
</address>