Dear <%= data.username %>,

<p>
    Welcome to Filnu, we are excited to have you in the family! You have registered as a <%= data.type==0?'customer':'barber' %> successfully.

</p>

<p>Please click on the link below to verify your email address.</p>

<p><a href='<%= siteurl %>users/verify?user=<%= data._id %>&code=<%= vcode %>'>Verify Me</a></p>

<p>Your account details are given below:</p>

Username: <%= data.username %><br/>
Password: <%= pwd %><br/>
<br/><br/>
<address>
    Team FILNU LLC.
</address>