Dear <%= data.username %>,

<p>Your profile has been updated successfully.</p>

<p>Note: if you didn't made this request kindly reset your password right now.</p>
<address>
    Team FILNU LLC.
</address>