Dear <%= data.username %>,

<p>this mail is to verify you email address. <br/>Please click on <a href='<%= siteurl %>users/verify?user=<%= data._id %>'><%= siteurl %>users/verify/?user=<%= data._id %></a></p>    

<address>
    Team FILNU LLC.
</address>