Dear Admin,

<p>We have received a new request for barbers in <b><%= zip %></b>.</p>

<b>Customer details:</b><br/>
Customer Name: <%= user.first %> <%= user.last %> (<%= user.username %>)<br/>
Phone: <a href="tel:<%= user.phone %>"><%= user.phone %></a><br/>
Email <a href="mailto:<%= user.email %>"><%= user.email %></a><br/><br/>

<address>
    Team FILNU LLC.
</address>