Dear <%= data.username %>,

<p>You have been subscribed to our <%= data.type==0?'customer':'barber' %> plan successfully, now you have full access to our platform.</p>

<address>
    Team FILNU LLC.
</address>