Dear <%= data.username %>,

<p>you have updated your primary email address, Please verify your email address by clicking on link below. <br/><a href='http://localhost:3000/users/confirmupdate?user=<%= data._id %>'>Confirm this change</a></p>

<address>
    Team FILNU LLC.
</address>