<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<!-- calendar -->
<% icon="cut-icon.png"; if (appointment.service == "shave"){ %>
<% icon = "shave-brush.png" %>
<% }  if (appointment.service == "line-up") { %>
<% icon = "raz-icon.png" %>
<% } %>
<div class="white-bg margin-top-20">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 padding-0">

                <% if(appointment.manually !== true){%>
                    <img src="<%= appointment.user_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + appointment.user_id.profile_pic:"/images/profile-img2.png" %>" alt="Profile Image"
                         class="img-responsive img-width-75 margin-auto profile-pic img-circle">

                    <p class="align-center margin-top-5"><%= appointment.user_id.username %></p>
                <% } else { %>
                    <img class="img-responsive img-width-75 margin-auto profile-pic img-circle"
                         src="/images/icons/user-placeholder.png"
                         alt="profile_pic"/>
                    <p class="align-center margin-top-5"><%= appointment.client_name %></p>
                <% }%>

            </div>
            <div class="col-xs-4 padding-0">
                <img src="images/icons/<%= icon %>" alt="<%= appointment.service %>" title="<%= appointment.service %>"
                     class="img-responsive img-width-75 margin-auto">

                <p class="align-center margin-top-5"><%= appointment.service %></p>
            </div>

            <div class="col-xs-4 padding-0">
                <img src="images/icons/calendar.png" alt="Calendar" title="Date"
                     class="img-responsive img-width-75 margin-auto">

                <p class="align-center margin-top-5">
                    <%= appointment.date.getDate() < 10 ? "0" + appointment.date.getDate() : appointment.date.getDate() %>/<%= (appointment.date.getMonth()+1) < 10 ? "0" + (appointment.date.getMonth()+1) : (appointment.date.getMonth()+1)%>/<%= appointment.date.getFullYear()+" "%>
                    <%= appointment.date.getHours() < 10 ? "0" + appointment.date.getHours() : appointment.date.getHours() %>:
                    <%= appointment.date.getMinutes() < 10 ? "0" + appointment.date.getMinutes() : appointment.date.getMinutes() %></p>
            </div>
        </div>
    </div>
</div>
<form action="/appointments/complete" method="post">
    <div class="container">


        <div class="center margin-top-10">
            <div class="row">
                <div class="col-xs-12">
                    <input type="hidden" name="id" value="<%= appointment._id %>"/>
                    <% if(appointment.manually !== true) { %>
                        <input type="text" title="Appointment code is required field" name="code" placeholder="Enter Code" class="custom-input enter-code"
                               required>

                        <span class="error hidden-xs hidden-md hidden-sm hidden-lg">Incorrect Code</span><br>
                    <% } else { %>
                    <input type="text" title="Appointment code is required field" name="code" value="<%= appointment.code %>" placeholder="Enter Code" class="custom-input enter-code hidden"
                           required>
                    <% } %>
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="col-xs-12">
                    <input type="submit" value="Complete this appointment" class="submit-button margin-bottom-5 custom-input bg-red submit-btn-sub">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="images/or-img.png" alt="OR" class="img-responsive  margin-bottom-10 margin-top-10">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="button" onclick="window.location.href='/appointments/cancel/<%= appointment._id %>'" value="Cancel this appointment" class="submit-button margin-bottom-5 custom-input bg-red submit-btn-sub">
                </div>
            </div>

        </div>
    </div>


</form>
<% include ../../partials/footer %>