<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<!-- calendar -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="align-center font-size-16 txt-bold margin-top-15 margin-bottom-10 line-height">Are you sure you want to cancel this appointment?</h2>
        </div>
    </div>
    <form action="/appointments/cancle" method="post">
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="Yeah, cancel this appointment" id="btnConfirm" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="Button" onclick="window.location.href='/appointments'" value="Nah, keep it" id="btnCancle" class="submit-button margin-bottom-5 custom-input custom-submit-button light-gray-bg">
            <input type="hidden" name="id" value="<%= _id %>" value="appt_id"/>
        </div>
    </div>
    </form>
</div>
<% include ../../partials/footer %>