<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<script src="/bower/moment/moment.js"></script>
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<div class="width-100">

    <div class="white-bg" id="white-container">
        <section class="container">
            <div class="row center5">
                <div class="margin-auto">
                    <!-- get week date -->
                    <% var now = new Date(Number(time)+14400000); var curWeekDay = now.getDay(); %>
                    <% for(i = curWeekDay;i >= 0;i--){ %>
                    <% var dt = new Date(); dt.setDate(now.getDate() - i); day = weekdays[dt.getDay()]; %>
                    <div class="col-xs-13 <%= i == curWeekDay ? 'col-xs-offse' : '' %>">
                        <h3 class="align-center h3-gray-title txt-regular font-size-14"><%= day.substr(0, 1); %></h3>

                        <h3 class="align-center <%= now.getDate() == dt.getDate() ? 'select-time-active' : '' %> h3-gray-title txt-regular font-size-14"><%= dt.getDate() %></h3>
                    </div>
                    <% } %>
                    <% for(i = curWeekDay, j = 1;i < 6;i++){ %>
                    <% var dt = new Date(); dt.setDate(now.getDate() + j); day = weekdays[dt.getDay()]; j++; %>
                    <div class="col-xs-13 <%= i == curWeekDay ? 'col-xs-offse' : '' %>">
                        <h3 class="align-center h3-gray-title txt-regular font-size-14"><%= day.substr(0, 1); %></h3>

                        <h3 class="align-center <%= now.getDate() == dt.getDate() ? 'select-time-active' : '' %> h3-gray-title txt-regular font-size-14"><%= dt.getDate() %></h3>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="align-center margin-top-1 h3-gray-title font-size-14"><%= weekdays[now.getDay()] + " " + yearmonths[now.getMonth()] + " " + (now.getDate()) + ", " + (now.getFullYear()) %></h3>
                </div>
            </div>
        </section>
    </div>

    <section class="container" id="sel-time-container">
        <!--<% if (typeof message != 'undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error == 'true' ? 'danger' : 'success' %>"><%= message %></div>-->
        <!--<% } %>-->

        <% if (typeof appointments == "undefined") {
            appointments = []
        } %>
        <% if(appointments.length == 0){ %>
        <% for(i = 9;i < 22;i += 2){
            var t = i >= 12 ? "PM" : "AM"; t12 = i >= 12 ? i - 12 : i;
        %>
        <div class="row">
            <div class="col-xs-3 padding-7">
                <a data-time="<%= t12 %>:00 <%= t %>" href="javascript:void(0)"><h3
                            class="align-center h3-gray-title font-size-12 txt-bold available-time-slot bg-red"><%= t12 %>:00 <%= t %></h3></a>

                <p class="align-center font-size-10 txt-bold">Book Now</p>
            </div>
            <div class="col-xs-3 padding-7">
                <a data-time="<%= t12 %>:30 <%= t %>" href="javascript:void(0)"><h3
                            class="align-center h3-gray-title font-size-12 txt-bold available-time-slot bg-red"><%= t12 %>:30 <%= t %></h3></a>

                <p class="align-center font-size-10 txt-bold">Book Now</p>
            </div>
            <div class="col-xs-3 padding-7">
                <a data-time="<%= t12 + 1 %>:00 <%= (t12 != '11') ? t : 'PM'%>" href="javascript:void(0)"><h3
                            class="align-center h3-gray-title font-size-12 txt-bold available-time-slot bg-red">
                        <%= t12 + 1 %>:00 <%= (t12 != '11') ? t : 'PM'%></h3></a>

                <p class="align-center font-size-10 txt-bold">Book Now</p>
            </div>
            <div class="col-xs-3 padding-7">
                <a data-time="<%= t12 + 1 %>:30 <%= (t12 != '11') ? t : 'PM'%>" href="javascript:void(0)"><h3
                            class="align-center h3-gray-title font-size-12 txt-bold available-time-slot bg-red"><%= t12 + 1 %>:30 <%= (t12 != '11') ? t : 'PM'%></h3></a>

                <p class="align-center font-size-10 txt-bold">Book Now</p>
            </div>
        </div>
        <% } %>
        <% } %>

    </section>

    <section class="container" id="sel-service-container" style="display: none;">
        <form>
            <div class="row">
                <div class="col-xs-4 padding-7">
                    <div class="margin-top-90 margin-auto select-service-box solid-white-hover">

                        <!-- <input type="checkbox" name="checkboxG13" id="checkboxG13" class="css-checkbox" checked="checked"/>
                        <label for="checkboxG13" class="css-label radGroup1"></label> -->

                        <input required type="radio" value="cut" name="service"
                               id="radio11" class="css-checkbox">
                        <label for="radio11" class="css-label radGroup1 radGroup2 align-center margin-bottom-5"></label><br>

                        <img src="images/icons/cut-icon-2x.png"
                             class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-15"
                             alt="Cut">

                        <h3 class="dark-bg-title txt-uppercase font-size-16 align-center h3-media-top light-gray-color">
                            Cut</h3>

                    </div>
                </div>
                <div class="col-xs-4 padding-7">
                    <div class="margin-top-90 margin-auto select-service-box  solid-white-hover">

                        <!-- <input type="checkbox" name="checkboxG11" id="checkboxG11" class="css-checkbox" checked="checked"/>
                        <label for="checkboxG11" class="css-label radGroup1"></label> -->

                        <input required type="radio" value="line-up"
                               name="service" id="radio12" class="css-checkbox">
                        <label for="radio12" class="css-label radGroup1 radGroup2 align-center margin-bottom-5"></label><br>

                        <img src="images/icons/raz-icon-2x.png"
                             class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-15"
                             alt="Line up">

                        <h3 class="dark-bg-title txt-uppercase font-size-16 align-center h3-media-top light-gray-color">
                            Line-up</h3>

                    </div>
                </div>
                <div class="col-xs-4 padding-7">
                    <div class="margin-top-90 margin-auto select-service-box  solid-white-hover">

                        <!-- <input type="checkbox" name="checkboxG12" id="checkboxG12" class="css-checkbox" checked="checked"/>
                        <label for="checkboxG12" class="css-label radGroup1"></label> -->

                        <input required type="radio" value="shave"
                               name="service" id="radio13" class="css-checkbox">
                        <label for="radio13" class="css-label radGroup1 radGroup2 align-center margin-bottom-5"></label><br>

                        <img src="images/icons/shave-brush-2x.png"
                             class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-15"
                             alt="Shave">

                        <h3 class="dark-bg-title txt-uppercase font-size-16 align-center h3-media-top light-gray-color">
                            Shave</h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p id="service_error" class=" align-center remaining-message hidden">You must select service</p>
                    <input type="button" value="Book now" id="submit"
                           class="submit-button margin-bottom-5 margin-top-10 custom-input bg-red custom-submit-button">
                </div>
            </div>
            <input type="hidden" id="date" name="datetime"/>
            <input type="hidden" id="user" name="barber" value="<%= barber %>"/>
        </form>
    </section>

</div>
<script type="text/javascript">
    $(function () {
        $('.fa-chevron-left').parent().attr('href', '/select-date/'+ "<%= barber%>")
//        moment.tz.add([
//            'America/Los_Angeles|PST PDT|80 70|0101|1Lzm0 1zb0 Op0',
//            'America/New_York|EST EDT|50 40|0101|1Lz50 1zb0 Op0'
//
//        ])
//        moment.tz.link([
//            'America/Los_Angeles|US/Pacific',
//            'America/New_York|US/Pacific'
//        ]);
        selday = moment(<%= time %>);
        day = selday.format('dddd').toLowerCase().substr(0, 3);
        $.ajax("/book/getAvailability/<%= barber %>/<%= time %>", {
            type: 'POST',
            success: function (response) {
//                console.log('========>>>>>> ', response);
                if (typeof response.availability.availability != 'undefined') {
                    var availability = response.availability.availability[0][day];

                    for (i = 0, j = 9; i < 14; j++, i++) {
                        if (availability[i] == 'true') {
                            k = j + ":00 AM";
                            d = j + ":30 AM";
                            t = j;
//                            console.log('111 ========>>>>>> ', k, d);
                            if (t > 12) {
                                k = (t - 12) + (":00 PM");
                                d = (t - 12) + (":30 PM");
                            } else if (t == 12) {
                                k = t + (":00 PM");
                                d = t + (":30 PM");
                            }
//                            console.log('222 ========>>>>>> ', k, d);





                            var now = new Date(Number('<%= time %>'));
                            var now_time = moment();
                            var sel_time_k = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + k;
                            var sel_time_d = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + d;
//                            console.log('11 >', sel_time_d,sel_time_k)
                            selTime_k = moment.tz(sel_time_k,"YYYY-MM-DD hh:mm A", "America/New_York")
                            selTime_d = moment.tz(sel_time_d,"YYYY-MM-DD hh:mm A", "America/New_York")
//                    console.log('!!!!01', moment(selTime).tz("America/New_York"));
                            selT_k = new Date(selTime_k);
                            selT_d = new Date(selTime_d);
                            nowT = new Date(now_time);
                            selTime_k = Math.floor(selT_k.getTime() / 1000).toFixed(0);
                            selTime_d = Math.floor(selT_d.getTime() / 1000).toFixed(0);
                            nowTime = Math.floor(nowT.getTime() / 1000).toFixed(0);
                            t_d = (selTime_d >= nowTime)?'red-colored':'light-gray-color';
                            t_k = (selTime_k >= nowTime)?'red-colored':'light-gray-color';
//                            console.log(selTime_k >= nowTime,k,selTime_k, nowTime)
//                            console.log(selTime_d >= nowTime,d,selTime_d, nowTime)
                            if(selTime_k < nowTime) {
//                                console.log(selTime_k >= nowTime,k,selTime_k, nowTime)
                                var $el_k = $('a[data-time="'+k+'"]');
                                $el_k.attr('href', 'javascript:void(0)');
                                $el_k.next('p').html('Not Available');
                                $el_k.find('h3').toggleClass('available-time-slot bg-red not-available-time-slot');
                            }
                            if(selTime_d < nowTime) {
//                                console.log(selTime_d >= nowTime, d, selTime_d,nowTime)
                                var $el_d = $('a[data-time="'+d+'"]');
                                $el_d.attr('href', 'javascript:void(0)');
                                $el_d.next('p').html('Not Available');
                                $el_d.find('h3').toggleClass('available-time-slot bg-red not-available-time-slot');
                            }
                            continue;
                        }

                        if (availability[i] == "false") {
                            k = j + ":00 AM";
                            d = j + ":30 AM";
                            t = j;
//                            console.log('111 ========>>>>>> ', k, d);
                            if (t > 12) {
                                k = (t - 12) + (":00 PM");
                                d = (t - 12) + (":30 PM");
                            } else if (t == 12) {
                                k = t + (":00 PM");
                                d = t + (":30 PM");
                            }
//                            console.log('222 ========>>>>>> ', k, d);
                            var $el = $('a[data-time="'+k+'"],a[data-time="'+d+'"]');
//                            console.log('-->>>> ', $el);
                            $el.attr('href', 'javascript:void(0)');
                            $el.next('p').html('Not Available');
                            $el.find('h3').toggleClass('available-time-slot bg-red not-available-time-slot');
                        }
                    }
                }
                if (typeof response.appointments != 'undefined') {

                    for (i = 0; i < response.appointments.length; i++) {
                        var appointment = response.appointments[i];
                        h = moment(appointment.date).tz('America/New_York').format("h:mm A")
                        $('.available-time-slot:contains("' + h + '")').parent().attr('href', 'javascript:void(0)');
                        $('.available-time-slot:contains("' + h + '")').parent().next('p').html('Not Available');
                        $('.available-time-slot:contains("' + h + '")').toggleClass('available-time-slot bg-red not-available-time-slot');

                    }
                }
            }
        })
        $('#sel-time-container a').on('click', function (e) {
            $('.fa-chevron-left').parent().attr('href', window.location.href)
            e.preventDefault();
            if ($(this).children('h3').hasClass('not-available-time-slot') == true)
                return;
            var time = $.trim($($(this).children()[0]).text());
            console.log(time)
            var now = new Date(Number('<%= time %>'));
            console.log('!!!!',now);
            var selTime = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + time;

//            console.log('====>>>>> ', selTime);
//            return console.log('selTime ===>>>> ', selTime, new Date(selTime).getTime(), new Date(selTime));
            $("#date").val(selTime);
            $("#sel-time-container,#white-container").hide();
            $(".header-elements h1").html("Select Service");
            $("#sel-service-container").show(1000);

        })
        $(".select-service-box").click(function (e) {
            $("#service_error").addClass('hidden');
            $('label').removeClass('chk')
            $(".select-service-box").removeClass('active');
            $(".select-service-box").children("input:radio").prop('checked', false);
            $(this).addClass('active');
            $(this).children("input:radio").prop('checked', true);
        })

        $(".select-service-box input:radio").click(function (e) {
            $("#service_error").addClass('hidden');
            $('label').removeClass('chk')
            $(".select-service-box").removeClass('active');
            $(".select-service-box").children("input:radio").prop('checked', false);
            $(this).parent(".select-service-box").addClass('active');
        })


        $("#client_name").on( "keyup", function(){
//            console.log('!!!',regExp.test($("#client_name").val()))
            checkClientName()

        })
        $('form').on('submit', function(){
            console.log('submit')
            submitForm()
        })
        $("#submit").on("click", function(){
            submitForm()
//            console.log('!!!',regExp.test($("#client_name").val()))
        })
        function submitForm(){
            console.log('>>',checkService(),'<<')
            if(checkService()){
                var formData = new FormData();
                formData.append('barber', $('input[name="barber"]').val());
                formData.append('datetime', $('input[name="datetime"]').val());
                formData.append('service', $('input:checked').val());
                $.ajax('/book', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log("success",data);
                        window.location.href=data;

                    },
                    error: function (err) {
                        console.log("ERROR",err.responseText);


                    }
                });
            }
        }
        function checkService(){
//            console.log($('input').is(':checked'));
            if($('input').is(':checked')){
                $("#service_error").addClass('hidden');
                return true;
            }else{
                $("#service_error").removeClass('hidden');
                return false;
            }
        }
    });
</script>
<% include ../../partials/footer %>
