<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<!-- calendar -->
<div class="container margin-top-15">
    <!-- Responsive calendar - START -->
    <div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev">
                <div class="btn btn-primary"><i class="fa fa-chevron-left"></i></div>
            </a>
            <h4 class="txt-bold color-red"><span data-head-year></span>&nbsp; <span data-head-month></span></h4>
            <a class="pull-right" data-go="next">
                <div class="btn btn-primary"><i class="fa fa-chevron-right"></i></div>
            </a>
        </div>
        <hr/>
        <div class="day-headers">
            <div class="day header">Mon</div>
            <div class="day header">Tue</div>
            <div class="day header">Wed</div>
            <div class="day header">Thu</div>
            <div class="day header">Fri</div>
            <div class="day header">Sat</div>
            <div class="day header">Sun</div>
        </div>
        <div class="days" data-group="days">

        </div>
    </div>
    <!-- Responsive calendar - END -->
</div>
<script src="/bower/moment/moment.js"></script>
<!--<script src="/bower/moment-timezone/moment-timezone.js"></script>-->
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<script>
    $(document).ready(function () {
        $.ajax("/appointments/bydate", {
            type: 'POST',
            dataType: 'JSON',
            success: function (res) {
                moment.tz.add([
                    'America/Los_Angeles|PST PDT|80 70|0101|1Lzm0 1zb0 Op0',
                    'America/New_York|EST EDT|50 40|0101|1Lz50 1zb0 Op0'
                ])
                events = {};
                if (res != '') {

                    for (i in res) {
                        res[i]._id = moment.tz(res[i]._id, 'America/New_York').format();
//                        events[res[i]._id.split("T")[0]] = {number: res[i].total,url:"/appointments/bydate/"+res[i]._id.split("T")[0]};
                        events[res[i]._id.split("T")[0]] = {number: res[i].total};
                    }
                }
                now = new Date();
                currentTime = (now.getFullYear()) + "-" + (now.getMonth() + 1);
                $(".responsive-calendar").responsiveCalendar({
                    time: currentTime,
                    events: events,
                    onDayClick:function(){
                        var day = $(this)[0].attributes[0].value;
                        var month = $(this)[0].attributes[1].value;
                        var year = $(this)[0].attributes[2].value;
                        window.location.href = "/appointments/bydate/"+month+"-"+day+"-"+year
                    }
                });
            }
        })


    });
</script>
<% include ../../partials/footer %>