<script>
//    $(document).ready(function(){
//        setTimeout(function(){
//            $('input[value="Create appointment"]').on('click', function () {
//                console.log('===========================', $(this).parent())
//            })
//        },5000);
//    })
</script><% include ../../partials/header %>
<% include ../../partials/innerheader %>
<script src="/js/core.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="/bower/moment/moment.js"></script>
<!--<script src="/bower/moment-timezone/moment-timezone.js"></script>-->
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<section id="sel-time-container">
    <div class="container margin-auto" id="sel-time-container" >
        <% for(i = 9;i<22;i+=2) {
            var t = i >= 12 ? "PM" : "AM"; t12 = i >= 12 ? i - 12 : i;
        %>
        <div class="row  ">
            <div class="margin-top-5 margin-7">
                <div class="col-xs-3 padding-0">
                    <p  class="pull-left margin-top-20 font-size-14 red" data-time="<%= t12 %>:00 <%= t %>"><%= t12 %>-<%= t12%>:30 <%= t %></p>
                </div>

            </div>
        </div>
        <hr class="margin-bottom-5 margin-top-5">
        <div class="row  ">
            <div class="margin-top-5 margin-7">
                <div class="col-xs-3 padding-0">
                    <p  class="pull-left margin-top-20 font-size-14 red"  data-time="<%= t12 %>:30 <%= t %>"><%= t12 %>:30-<%= t12+1 %> <%= t %></p>
                </div>

            </div>
        </div>
        <hr class="margin-bottom-5 margin-top-5">
        <div class="row  ">
            <div class="margin-top-5 margin-7">
                <div class="col-xs-3 padding-0">
                    <p  class="pull-left margin-top-20 font-size-14 red"  data-time="<%= t12+1 %>:00 <%= (t12 != '11') ? t : 'PM'%>"><%= t12+1 %>-<%= t12+1%>:30 <%= (t12 != '11') ? t : 'PM'%></p>
                </div>

            </div>
        </div>
        <hr class="margin-bottom-5 margin-top-5">
        <div class="row  ">
            <div class="margin-top-5 margin-7">
                <div class="col-xs-3 padding-0">
                    <p class="pull-left margin-top-20 font-size-14 red"  data-time="<%= t12+1 %>:30 <%= (t12 != '11') ? t : 'PM'%>"><%= t12+1 %>:30-<%= (t12+2>12)?t12-12+2:t12+2 %> <%= (t12 != '11') ? t : 'PM'%></p>
                </div>

            </div>
        </div>
        <hr class="margin-bottom-5 margin-top-5">
        <% } %>
    </div>
</section>
<section class="container" id="sel-service-container" style="display: none;">
    <form>
        <div class="row">
            <div class="col-xs-4 padding-7">
                <div class="margin-top-90 margin-auto select-service-box solid-white-hover">

                    <!-- <input type="checkbox" name="checkboxG13" id="checkboxG13" class="css-checkbox" checked="checked"/>
                    <label for="checkboxG13" class="css-label radGroup1"></label> -->

                    <input required type="radio" value="cut" name="service"
                           id="radio11" class="css-checkbox">
                    <label for="radio11" class="css-label radGroup1 radGroup2 align-center margin-bottom-5"></label><br>

                    <img src="images/icons/cut-icon-2x.png"
                         class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-15"
                         alt="Cut">

                    <h3 class="dark-bg-title txt-uppercase font-size-16 align-center h3-media-top light-gray-color">
                        Cut</h3>

                </div>
            </div>
            <div class="col-xs-4 padding-7">
                <div class="margin-top-90 margin-auto select-service-box  solid-white-hover">

                    <!-- <input type="checkbox" name="checkboxG11" id="checkboxG11" class="css-checkbox" checked="checked"/>
                    <label for="checkboxG11" class="css-label radGroup1"></label> -->

                    <input required type="radio" value="line-up"
                           name="service" id="radio12" class="css-checkbox">
                    <label for="radio12" class="css-label radGroup1 radGroup2 align-center margin-bottom-5"></label><br>

                    <img src="images/icons/raz-icon-2x.png"
                         class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-15"
                         alt="Line up">

                    <h3 class="dark-bg-title txt-uppercase font-size-16 align-center h3-media-top light-gray-color">
                        Line-up</h3>

                </div>
            </div>
            <div class="col-xs-4 padding-7">
                <div class="margin-top-90 margin-auto select-service-box  solid-white-hover">

                    <!-- <input type="checkbox" name="checkboxG12" id="checkboxG12" class="css-checkbox" checked="checked"/>
                    <label for="checkboxG12" class="css-label radGroup1"></label> -->

                    <input required type="radio" value="shave"
                           name="service" id="radio13" class="css-checkbox">
                    <label for="radio13" class="css-label radGroup1 radGroup2 align-center margin-bottom-5"></label><br>

                    <img src="images/icons/shave-brush-2x.png"
                         class="margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-15"
                         alt="Shave">

                    <h3 class="dark-bg-title txt-uppercase font-size-16 align-center h3-media-top light-gray-color">
                        Shave</h3>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p id="service_error" class=" align-center remaining-message hidden">You must select service</p>
                <input type="text" id="client_name" name="client_name" placeholder="Client name" pattern="^[a-zA-Z\s]{1,11}" required
                       class=" margin-bottom-5 margin-top-10 custom-input">
                <p for="client_name" class=" align-center remaining-message hidden">Client name should contain 1-10 character</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="button" value="Book now" id="submit"
                       class="submit-button custom-input bg-red custom-submit-button">
            </div>
        </div>
        <input type="hidden" id="date" name="datetime"/>
        <input type="hidden" id="user" name="barber" value="<%= barber %>"/>
    </form>
</section>
<script type="text/javascript">
    $(function () {
        $('.fa-chevron-left').parent().attr('href', '/barber/calendar')
//        moment.tz.add([
//            'America/Los_Angeles|PST PDT|80 70|0101|1Lzm0 1zb0 Op0',
//            'America/New_York|EST EDT|50 40|0101|1Lz50 1zb0 Op0'
//        ])
        selday = moment(<%= time %>);
        day = selday.format('dddd').toLowerCase().substr(0, 3);
        console.log('selday >>>', selday)
        $.ajax("/book/getAvailability/<%= barber %>/<%= time %>", {
            type: 'POST',
            success: function (response) {

//                console.log('========>>>>>> ', response);
                if (typeof response.availability.availability != 'undefined') {
                    var availability = response.availability.availability[0][day];

                    for (i = 0, j = 9; i < 14; j++, i++) {
                        if (availability[i] == 'true') {





                            k = j + ":00 AM";
                            d = j + ":30 AM";
                            t = j;
//                            console.log('111 ========>>>>>> ', k, d);
                            if (t > 12) {
                                k = (t - 12) + (":00 PM");
                                d = (t - 12) + (":30 PM");
                            } else if (t == 12) {
                                k = t + (":00 PM");
                                d = t + (":30 PM");
                            }
//                            console.log('222 ========>>>>>> ', k, d);





                            var now = new Date(Number('<%= time %>'));
                            var now_time = moment();
                            var sel_time_k = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + k;
                            var sel_time_d = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + d;
                            console.log('11 >', sel_time_d,sel_time_k)
                            selTime_k = moment.tz(sel_time_k,"YYYY-MM-DD hh:mm A", "America/New_York")
                            selTime_d = moment.tz(sel_time_d,"YYYY-MM-DD hh:mm A", "America/New_York")
//                    console.log('!!!!01', moment(selTime).tz("America/New_York"));
                            selT_k = new Date(selTime_k);
                            selT_d = new Date(selTime_d);
                            nowT = new Date(now_time);
                            selTime_k = Math.floor(selT_k.getTime() / 1000).toFixed(0);
                            selTime_d = Math.floor(selT_d.getTime() / 1000).toFixed(0);
                            nowTime = Math.floor(nowT.getTime() / 1000).toFixed(0);
                            t_d = (selTime_d >= nowTime)?'red-colored':'light-gray-color';
                            t_k = (selTime_k >= nowTime)?'red-colored':'light-gray-color';
                            console.log(selTime_k >= nowTime,k,selTime_k, nowTime)
                            console.log(selTime_d >= nowTime,d,selTime_d, nowTime)
                            var $el_k = $('p[data-time="'+k+'"]');
//                            console.log('-->>>> ', $el);
                            $el_k.addClass(t_k)
                            $el_k.removeClass('red')
                            var $el_d = $('p[data-time="'+d+'"]');
//                            console.log('-->>>> ', $el);
                            $el_d.addClass(t_d)
                            $el_d.removeClass('red')
                        }

                        if (availability[i] == "false") {
                            k = j + ":00 AM";
                            d = j + ":30 AM";
                            t = j;
//                            console.log('111 ========>>>>>> ', k, d);
                            if (t > 12) {
                                k = (t - 12) + (":00 PM");
                                d = (t - 12) + (":30 PM");
                            } else if (t == 12) {
                                k = t + (":00 PM");
                                d = t + (":30 PM");
                            }
//                            console.log('222 ========>>>>>> ', k, d);
                            var $el = $('p[data-time="'+k+'"],p[data-time="'+d+'"]');
//                            console.log('-->>>> ', $el);
                            $el.addClass('light-gray-color')
                            $el.removeClass('red')
                        }
                    }
                }
                if (typeof response.appointments != 'undefined') {

                    for (i = 0; i < response.appointments.length; i++) {
                        var appointment = response.appointments[i];
                        h = moment(appointment.date).tz('America/New_York').format("h:mm A")



                        var now = new Date(Number('<%= time %>'));

                        var now_time = moment();
                        var sel_time = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + h;
                        selTime = moment.tz(sel_time,"YYYY-MM-DD hh:mm A", "America/New_York")
//                    console.log('!!!!01', moment(selTime).tz("America/New_York"));
                        selT = new Date(selTime);
                        nowT = new Date(now_time);
                        selTime = Math.floor(selT.getTime() / 1000).toFixed(0);
                        nowTime = Math.floor(nowT.getTime() / 1000).toFixed(0);
                        t = (selTime >= nowTime);
                        console.log('selTime',nowT,nowTime,selT,selTime,t);
                        if(t){
                            var color = 'red'
                        }else{
                            var color = 'light-gray'
                        }
                        console.log('app',h)
                        var icon =  "cut-icon.png";
                        if (response.appointments[i].service == "shave"){
                            icon = "shave-brush.png"
                            }
                        if (response.appointments[i].service == "line-up") {
                             icon = "raz-icon.png"
                        }
                        var content = "<div class=\"col-xs-3 padding-0\">"

                        if(response.appointments[i].manually == true){

                            var src =  '/images/icons/user-placeholder.png';
                            var username = response.appointments[i].client_name
                            console.log('!!!!!!!!11',src, username, response.appointments[i])
                        }else{
                            var username = response.appointments[i].user_id.username
                            if(response.appointments[i].user_id.fbid != '' && response.appointments[i].user_id.fbid != null){
                                var src = "//graph.facebook.com/"+response.appointments[i].user_id.fbid +"/picture?type=large"
                            }else {
                                var src = (response.appointments[i].user_id.profile_pic) ? 'https://digicut-public.s3.amazonaws.com/' + response.appointments[i].user_id.profile_pic : '/images/icons/user-placeholder.png'
                            }
                        }

                         if(response.appointments[i].confirmation_status == true){
                             var button_class = (response.appointments[i].status == true) ? 'light-gray-bg' : 'bg-red';
                            if(response.appointments[i].manually == true ){
                                var text = (response.appointments[i].status == true) ? 'Completed':'Complete';
                            }else{
                                var text = (response.appointments[i].status == true) ? 'Completed' : 'Enter Code';
                            }
                             var action=''
                             if((text=='Enter Code')||(text=='Complete')) action = "onclick=\"window.location.href='/appointments/complete/"+response.appointments[i]._id+"'\""
                            var button= "<input for='"+ response.appointments[i]._id +"' type='Button' value='"+text+"' "+action+"class='btnclikable submit-button custom-input "+ button_class +" half-button margin-top-5 font-size-12'>"
                         } else{
                             var button= "<input for=\""+response.appointments[i]._id+"\" type=\"Button\" value='Canceled' class=\"btnclikable submit-button custom-input light-gray-bg half-button margin-top-5 font-size-12\">"
                        }

                        content += "<img class=\"img-responsive img-width-75 margin-auto\"" +
                        "src=\""+src+"\"alt=\"profile_pic\"/>"
                        content += "<p class=\"margin-top-20 font-size-14 "+color+"-color align-center\">"+username+"</p>"+
                            "</div><div class=\"col-xs-3 padding-0\">"+
                            "<img src=\"images/icons/"+icon+"\" alt=\"Shave\" title=\"Shave\"class=\"img-responsive img-width-75 margin-auto\">"+
                            "<p class=\"margin-top-20 font-size-14 "+color+"-color align-center\">"+response.appointments[i].service.toLowerCase()+"</p></div>"+
                            "<div class=\"col-xs-3 padding-0\">"+button+"</div>"

                        $('p[data-time="'+h+'"]').removeClass('red');
                        $('p[data-time="'+h+'"]').parent().parent().append(content);
                        $('p[data-time="'+h+'"]').addClass('filled '+color+"-color");




                    }
                }
                var manually = '<div class="col-xs-3 padding-0"></div><div class="col-xs-3 padding-0"></div><div class="col-xs-3 padding-0">'+
                    '<input type="Button" value="Create" class="submit-button custom-input bg-red half-button margin-top-5  font-size-12" href="javascript:void(0)" for="sel-service-container"></div>'
                //'onclick="checkDate()"
                //window.location.href=\'/appointments/create\'

                $('.red-colored:not(.filled)').parent().parent().append(manually);
                $('input[value="Create"]').on('click', function () {
                    var chosen_time = $(this).parent().parent()[0].firstElementChild.firstElementChild.attributes[1].value
                    var now = new Date(Number('<%= time %>'));

                    var now_time = moment();
                    var sel_time = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + chosen_time;
                    selTime = moment.tz(sel_time,"YYYY-MM-DD hh:mm A", "America/New_York")
//                    console.log('!!!!01', moment(selTime).tz("America/New_York"));
                    selT = new Date(selTime);
                    nowT = new Date(now_time);
                    selTime = Math.floor(selT.getTime() / 1000).toFixed(0);
                    nowTime = Math.floor(nowT.getTime() / 1000).toFixed(0);
                    t = (selTime >= nowTime);
                    console.log('selTime',nowT,nowTime,selT,selTime,t);
                    if(t){

                        $('.fa-chevron-left').parent().attr('href', window.location.href)
                        console.log('===========================', chosen_time, window.location.href,selday)
                        $("#date").val(sel_time);
                        $("#sel-time-container,#white-container").hide();
                        $(".header-elements h1").html("Select Service");
                        $("#sel-service-container").show(1000);
                    }else{
                        $("#popup_message").html("Choose future time");
                        $("#popup_wrapper,#okay-btn-wrapper").show();
                    }

                })
            }
        })
        $('#sel-time-container a').on('click', function (e) {
            $('.fa-chevron-left').parent().attr('href', window.location.href)
            e.preventDefault();
            if ($(this).children('h3').hasClass('not-available-time-slot') == true)
                return;
            var time = $.trim($($(this).children()[0]).text());
            var now = new Date(Number('<%= time %>'));
//            console.log(time);
            var selTime = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + " " + time;

//            console.log('====>>>>> ', selTime);
//            return console.log('selTime ===>>>> ', selTime, new Date(selTime).getTime(), new Date(selTime));
            $("#date").val(selTime);
            $("#sel-time-container,#white-container").hide();
            $(".header-elements h1").html("Select Service");
            $("#sel-service-container").show(1000);

        })
        $(".select-service-box").click(function (e) {
            $("#service_error").addClass('hidden');
            $('label').removeClass('chk')
            $(".select-service-box").removeClass('active');
            $(".select-service-box").children("input:radio").prop('checked', false);
            $(this).addClass('active');
            $(this).children("input:radio").prop('checked', true);
        })

        $(".select-service-box input:radio").click(function (e) {
            $("#service_error").addClass('hidden');
            $('label').removeClass('chk')
            $(".select-service-box").removeClass('active');
            $(".select-service-box").children("input:radio").prop('checked', false);
            $(this).parent(".select-service-box").addClass('active');
        })
        var regExp = /^[a-zA-Z]{1,10}$/;
        $("#client_name").on( "keyup", function(){
//            console.log('!!!',regExp.test($("#client_name").val()))
            checkClientName()

        })
        $('form').on('submit', function(){
            console.log('submit')
            submitForm()
        })
        $("#submit").on("click", function(){
            submitForm()
//            console.log('!!!',regExp.test($("#client_name").val()))
        })
        function submitForm(){
            console.log('>>',checkService(), checkClientName(),'<<')
            if(checkService() && checkClientName()){
                var formData = new FormData();
                formData.append('barber', $('input[name="barber"]').val());
                formData.append('datetime', $('input[name="datetime"]').val());
                formData.append('client_name', $('input[name="client_name"]').val());
                formData.append('service', $('input:checked').val());
                $.ajax('/book', {
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log("success",data);
                        window.location.href=data;

                    },
                    error: function (err) {
                        console.log("ERROR",err.responseText);


                    }
                });
            }
        }
        function checkService(){
//            console.log($('input').is(':checked'));
            if($('input').is(':checked')){
                $("#service_error").addClass('hidden');
                return true;
            }else{
                $("#service_error").removeClass('hidden');
                return false;
            }
        }
        function checkClientName(){
            if(!regExp.test($("#client_name").val())){
                $("p[for='client_name']").removeClass('hidden');
                return false;
            }else{
                $("p[for='client_name']").addClass('hidden');
                return true;
            }
        }
    });
</script>

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
<% include ../../partials/footer %>
