<% include ../../partials/header %>
<div class="container">
    <div id="avail-cal">
        <!--<% if (typeof message!='undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error=='true'?'danger':'success' %>"><%= message %></div>-->
        <!--<% } %>-->
        <script src="/js/dropzone.js"></script>
        <form method="post" action="/barber/gallery" enctype="multipart/form-data"  class="dropzone" id="my-awesome-dropzone">
            <div class="form-group" id="drop_zone">
                <label class="control-label col-sm-3">Files</label>
                <div class='col-sm-9'>
                    <input type="file" name="file" />

                </div>
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>


            <button class="btn btn-default" type="submit">Upload</button>
        </form>
    </div>
</div>
<script>
$(document).ready(function(){
    $("#drop_zone").dropzone({ url: "/file/post" });
})
</script>
<% include ../../partials/footer %>
