

<% include ../../partials/header %>



<div class="container">
    <script src="/js/signup.js"></script>
    <div class="col-sm-12">
        <h1><span class="fa fa-sign-in"></span>Barbers</h1>
        <% if(maps!==null && maps.length>0) { %>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-FxYoVTVq6Is6lD98&sensor=false"></script>
            <% locations = [];for(var i =0; i < maps.length;i++ ) {%>
               <%= maps[i].barber.username  %>
            <% } %>
        <% } %>
       
    </div>
</div>

<% include ../../partials/footer %>
