<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<script src="/bower/moment/moment.js"></script>
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<script src="/bower/underscore/underscore.js"></script>
<div class="width-100">

<h3 class="text-center">
  <input class="hidden" id="date" value="<%= date %>">
  <section class="container" id="card-info-container">
    <div class="col-xs-offset-3 margin-bottom-10 payment">
      <div class="row">
        <div class="col-xs-6">
          <a class="pull-left   light-gray-color text"><%= service.service.toUpperCase() %></a>

        </div>
        <div class="col-xs-2">
          <a class="pull-left   light-gray-color text">$<%= service.price %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <a class="pull-left   light-gray-color text">SERVICE FEE </a>
        </div>
        <div class="col-xs-2">
          <a class="pull-left  light-gray-color text">$2</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <a class="pull-left   light-gray-color text">TOTAL</a>
        </div>
        <div class="col-xs-2">
          <a class="pull-left   light-gray-color text">$<%= parseInt(service.price)+2 %></a>
        </div>
      </div>
    </div>

    <% if( (typeof actions) && (service.service.toUpperCase() =='CUT'||service.service.toUpperCase()=='LINE-UP'||service.service.toUpperCase()=='SHAVE')) { %>
      <% for(var i = 0; i< actions.length; i++) { %>
    <div for="<%= actions[i]._id %>" class="col-xs-offset-3 margin-bottom-10 hidden">
      <div class="row">
        <div class="col-xs-6">
          <a class="pull-left   light-gray-color text"><%= service.service.toUpperCase() %></a>

        </div>
        <div class="col-xs-2">
          <a class="pull-left   light-gray-color text">$<%= actions[i].client_price %></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <a class="pull-left   light-gray-color text">TOTAL</a>
        </div>
        <div class="col-xs-2">
          <a class="pull-left   light-gray-color text">$<%= parseInt(actions[i].client_price ) %></a>
        </div>
      </div>
    </div>
        <div class="row">
          <div  class="col-xs-12">
            <input type="button" value="<%= actions[i].button %>" id="<%= actions[i]._id %>"
            class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button action" >
            <input type="text" value="<%= actions[i].client_price %>"
            class="hidden" >
          </div>
        </div>
      <% } %>
    <% } %>

    <a class="monthly-plan align-center margin-top-5 remaining-message" id="monthly-plan" style="cursor: pointer"
      onclick="window.location.href='/account/subscription_option/?barber='+'<%= barber %>'+'&date='+'<%= date %>'+'&selectedTime='+'<%= selectedTime %>'+'&service='+'<%= service.service %>'">You can save money by subscribing to our monthly plan</a>

    <form class="center" name="payment-form">
      <div class="row margin-bottom-5">
        <h3 class="align-center margin-top-5 margin-bottom-5 h3-gray-title font-size-14">Credit card
          information</h3>

        <div class="col-xs-12">


          <input type="text" title="Please select credit card holder firstname" name="credit_card[first_name]"
                 id="first_name" placeholder="First Name"
                 class="user-icon margin-bottom-5" pattern="^[a-zA-Z]+$" required><br>

          <input type="text" name="credit_card[last_name]" id="last_name" placeholder="Last Name"
                 class="user-icon margin-bottom-5" pattern="^[a-zA-Z0-9]+$"
                 title="Please select credit card holders lastname" required><br>
          <label for="credit-card-type" class="custom-select">
            <select title="Please select credit card type" name="credit_card[type]" id="type" required
                    class="custom-input margin-bottom-5 card-icon select-card-type">
              <option value="none">Select card type</option>
              <option value="visa">Visa Card</option>
              <option value="mastercard">Master card</option>
              <option value="discover">Discover</option>
              <option value="maestro">Maestro</option>
            </select>

          </label>


          <input type="tel" name="credit_card[number]" id="number" title="Please select credit card number"
                 required="" placeholder="Card number"
                 class="card-icon custom-input margin-bottom-5" pattern="^[0-9]+$"><br>
          <input type="tel" name="credit_card[cvv2]" required="" id="cvv2" title="Please enter security code"
                 placeholder="Enter card security code"
                 class="card-cvv-icon custom-input" pattern="^[0-9]+$"><br>

        </div>

      </div>
      <div class="row">
        <div class="center">
          <div class="col-xs-6">
            <label for="credit-card-type" class="custom-select">
              <select name="credit_card[expire_month]" id="month"
                      class="custom-input margin-bottom-5 calendar-icon select-card-type"
                      title="Please select credit card expiry month" required>
                <option value="none">Select Month</option>
                <% for(j = 1;j <= 12;j++){ %>
                <option value="<%= j %>"><%= j %></option>
                <% } %>
              </select>

            </label>
            <label id="month-error" class="error hidden" for="month" style="display: block;">Please specify credit card expiry month</label>
          </div>
          <div class="col-xs-6">
            <label for="credit-card-type" class="custom-select" title="Please select credit card expiry year">
              <select name="credit_card[expire_year]" id="year"
                      class="custom-input margin-bottom-5 calendar-icon select-card-type" required>
                <option value="none">Select Year</option>
                <% date = new Date();j = 0; for(j = 0;j <= 15;j++){ %>
                <option value="<%= date.getFullYear() + j %>"><%= date.getFullYear() + j %></option>
                <% } %>
              </select>

            </label>
            <label id="year-error" class="error hidden" for="year" style="display: block;">Please specify credit card expiry year</label>
          </div>
        </div>
      </div>
      <p id="select-error" class="error hidden" for="type" style="display: block;">Please specify card type, credit card expiry month and credit card expiry year</p>
      <div class="row">
        <div class="col-xs-12">
          <input type="button" value="CONFIRM" id="book"
                 class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 text-center">
          <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
             onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
              src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_secured_by_pp_2line.png" border="0"
              class="img-responsive" alt="Secured by PayPal"></a>
        </div>
      </div>
    </form>
  </section>

  <section class="container" id="confirm-container" style="display: none;">
    <p class="summ">$<%= parseInt(service.price) + 2 %> will be charged to your card ending in XX.</p>
    <div class="row">
      <div class="col-xs-6">
        <input type="button" value="Cancel"
               class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button"
               onclick="window.location.href='/dashboard'">
      </div>
      <div class="col-xs-6">
        <input type="button" value="Confirm" id="confirm"
               class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  $(function () {


    var action = '';
    $("#book").on('click', function(e){
//popup savev money or confirm
//      if($('form').valid() && ($('#type').val()!=='none') && ($('#month').val()!=='none') && ($('#year').val()!=='none')){
      if($('form').valid() && checkSelect()){
        $("#card-info-container,#white-container").hide();
        $(".header-elements h1").html("Confirm Your order");
        document.title = "Confirm Your Order";
        $("#save_money").attr('onclick', "window.location.href='/account/subscription_option/?barber=<%= barber %>&date="+$('#date').val()+"&selectedTime=<%= selectedTime %>&service=<%= service.service %>'")
        $("#confirm-container").show(1000);
        $.scrollTo(0,0);
        var $viewport = $('head').children('meta[name="viewport"]');
        $viewport.attr('content', 'height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0');
      }
//      else{
//        checkSelect();
//      }
    })
    $("#confirm").click(function () {
      $("#popup_message").html("Remember that you can save a lot of money <br> by signing up to a monthly plan");
      $('#okay-btn-wrapper').addClass('hidden');
      $('#confirmbox').removeClass('hidden');

      $("#popup_wrapper,#confirmbox").show();
      $('#complete, #save_money').attr("disabled", false);
    });
    $("#complete").click(function () {
      $('#confirm').attr("disabled", true);
      console.log('COMPLETE !!!');
      complete();
//      $("#popup_wrapper,#okay-btn-wrapper").hide();
    })
    $("#save_money").click(function () {
      console.log('SAVE MONEY ');
      $("#popup_wrapper,#okay-btn-wrapper").hide();
      $('#complete, #save_money').attr("disabled", false);
    })
    $('.action').click(function(){
      $('.payment').addClass('hidden');
      $(this).addClass('hidden');
      action = $(this).attr('id');
      $('[for="'+action+'"]').removeClass('hidden');
      $('.summ').text('$'+$(this).parent().children('input[type="text"]').val()+' will be charged to your card ending in XX.')
    })
//    $('#type, #month, #year').on('change', checkSelect());
    function checkSelect(){
      var result = [];
      if($('#type').val()==='none'){
        result.push(false);
      }else{
        result.push(true);
      }
      if($('#month').val()==='none'){
        result.push(false);
      }else{
        result.push(true);
      }
      if($('#year').val()==='none'){
        result.push(false);
      }else{
        result.push(true);
      }
      if(_.without(result, true).length !== 0){
        $('#select-error').removeClass('hidden')
      }else{
        $('#select-error').addClass('hidden')
      }
      return (_.without(result, true).length==0)?true:false;
    }
    function complete(){
      var formData = new FormData();
      formData.append('barber', '<%= barber %>');
      formData.append('datetime', '<%= selectedTime %>');
      formData.append('service', '<%= service.service %>');
      formData.append('first_name', $('#first_name').val());
      formData.append('last_name', $('#last_name').val());
      formData.append('type', $('#type').val());
      formData.append('number', $('#number').val());
      formData.append('cvv2', $('#cvv2').val());
      formData.append('expire_month', $('#month').val());
      formData.append('expire_year', $('#year').val());
      if(action!==''){
        formData.append('action', action);
      }
//set disable class to buttons until success or error
      $('#complete, #save_money').attr("disabled", true);
      $("#popup_message").html("Your request is processing");
      $('#confirmbox').addClass('hidden')
      $('#okay-btn-wrapper').removeClass('hidden')
      $("#popup_wrapper,#okay-btn-wrapper").show();
      $.ajax('/book', {
        method: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          console.log("success",data);
          $("#popup_wrapper,#okay-btn-wrapper").hide();
          $('#complete, #save_money').attr("disabled", false);
          window.location.href=data;

        },
        error: function (err) {
          $("#popup_wrapper,#okay-btn-wrapper").hide();
          console.log("ERROR",err.responseText);
          $("#popup_message").html(err.responseText);
          $('#okay-btn-wrapper').removeClass('hidden')
          $('#confirmbox').addClass('hidden')
//          $('#confirm').attr("disabled", false);
          $('#complete, #save_money, #confirm').attr("disabled", false);
          $("#popup_wrapper,#okay-btn-wrapper").show();
        }
      });
    }
  });


  $(document).ready(function () {
    console.log('>>>', '<%= time %>')
    $('.fa-chevron-left').parent().attr('href', "/order/"+moment(new Date(<%= time %>)).format('YYYY-MM-DD').toString()+"/"+'<%= barber %>'+"/?service="+'<%= service.service %>')
//        $(".fa-chevron-left").parent().removeAttr("href")
//        $('.fa-chevron-left').on('click',(function(){
//          if($('#confirm-container').css('display')=='none'){
//            $('#confirm-container').css('display', 'none');
//            $('#card-info-container').css('display', 'block');
//          }
//
//        })
  })

</script>
<% include ../../partials/footer %>
