<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<div id="fb-root"></div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1012877105439913',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);
      js.id=id;
      js.src=p+'://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }}(document, 'script', 'twitter-wjs');
</script>

<!--<script>-->
<!--(function(d,t){-->
<!--var g=d.createElement(t),s=d.getElementsByTagName(t)[0];-->
<!--g.src="//x.instagramfollowbutton.com/follow.js";-->
<!--s.parentNode.insertBefore(g,s);-->
<!--}(document,"script"));-->
<!--</script>-->

<a href='http://www.facebook.com/sharer.php?u=<%= link %>' target='_blank' class='facebook-hidden'></a>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<div class="container margin-7 margin-auto">
  <div class="row ">

    <div class="col-xs-3 col-lg-4 col-md-4 col-sm-4 padding-7">
      <% if(barber.fbid != '' && barber.fbid != null){ %>
      <img class="img-responsive img-width-100 margin-auto margin-top-20 margin-auto"
           src="//graph.facebook.com/<%= barber.fbid %>/picture?type=large" alt="profile_pic"/>
      <% }else{ %>
      <img class="img-width-100 img-responsive img-width-100 margin-auto margin-top-20 img-circle barber-profile-pic"
           src="<%= barber.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + barber.profile_pic : '/images/icons/user-placeholder.png' %>"
           alt="profile_pic"/>
      <% } %>
      <h3 class="align-center margin-top-10 margin-bottom-5 h3-gray-title font-size-14 uppercase"><%= barber.username %></h3>


    </div>

    <div class="col-xs-9 col-lg-8 col-md-8 col-sm-8 padding-7">
      <div class="row">
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 padding-7 profile-padding">
          <div class="float-right">
            <h3 class="align-center margin-bottom-0 clicable" onclick="window.location.href='/appointments/barber/<%= barber._id %>'" ><%= appointments %></h3>
            <p class="align-center margin-top-5">Cuts</p>
          </div>
        </div>
        <% if(typeof countReviews=="undefined") countReviews=0; %>
        <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2 padding-7 profile-padding">
          <div class="float-right">
            <h3 onclick="window.location.href='/reviews/<%= barber._id %>'" class="align-center margin-bottom-0 clicable"><%= countReviews %></h3>
            <p class="align-center margin-top-5">Reviews</p>
          </div>
        </div>
        <% sum=0; for(i in reviews){ sum+=reviews[i].rating; %>

        <%} %>
        <% rating = Math.round(sum/countReviews); %>


        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 padding-7 profile-padding">

          <!-- <h3 class="align-center margin-bottom-0">3 <i class="fa fa-star"></i></h3>
          <p class="align-center">Rating</p> -->
          <div class="img-responsive padding-7 margin-auto margin-top-30 float-right">
            <% for(i=0;i<rating;i++){%>
            <span class="clipper"></span>
            <% } %>
            <% for(i=rating;i<5;i++){%>
            <span class="clipper-gray"></span>
            <% } %>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-xs-7 col-md-7 float-right">
          <% if(typeof isBarber == 'undefined'){%>
          <input onclick="window.location.href='/select-date/<%= barber.username %>'" type="Button" value="Book now"
                 class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button book-now-button profileBtn-padding">
          <% }else{ %>
          <input onclick="window.location.href='/profile/edit'" type="Button" value="Update"
                 class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button book-now-button profileBtn-padding">
          <% } %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 padding-7">
      <div id="toggleViews" class="btn-group full-width" role="group" aria-label="...">
        <button type="button" class="btn btn-default width-33 bg-white-opac active">
          <i class="fa fa-th"></i>
        </button>
        <button type="button" class="btn btn-default width-33 bg-white-opac ">
          <i class="fa fa-bars"></i>
        </button>
        <button type="button" class="btn btn-default width-33 bg-white-opac">
          <i class="fa fa-map-marker"></i>&nbsp;&nbsp; Map &nbsp;&nbsp;<i
            class="fa fa-angle-right red-color"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="defaultview" class="views"  >
    <% if(typeof isBarber!='undefined'){ %>
    <% include ../../partials/barbercutpics_editable %>
    <%}else{ %>
    <% include ../../partials/barbercutpics_static %>
    <% } %>
  </div>
  <div id="listview" class="views" style="display: none">
    <% if(typeof isBarber!='undefined'){ %>
    <% include ../../partials/barbercutpics_editable_list %>
    <%}else{ %>
    <% include ../../partials/barbercutpics_static_list %>
    <% } %>
  </div>
  <div id="mapview" class="views" style="display: none">
    <div id='map' class="full-width" style="height: 550px;border:0"></div>
  </div>
  <div id='footer-share-buttons' class='hidden share-buttons'><a class="twitter" href='https://twitter.com/share?text=Book your haircut on Filnu now%0A&url=' target='_blank'>
      <img src='https://simplesharebuttons.com/images/somacro/twitter.png'  alt='Twitter' class='img-circle'/>
    </a><a href='http://www.facebook.com/sharer.php?u=<%= link %>' target='_blank'><img src='https://simplesharebuttons.com/images/somacro/facebook.png'
                                                                                                     alt='Facebook' class='img-circle'/></a></div>
  <script>

var facebook = false;
    function initMap() {
      var myLatlng = {lat: -25.363, lng: 131.044};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatlng
      });

      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Click to zoom'
      });

      map.addListener('center_changed', function() {
        // 3 seconds after the center of the map has changed, pan back to the
        // marker.
        window.setTimeout(function() {
          map.panTo(marker.getPosition());
        }, 3000);
      });

      marker.addListener('click', function() {
        map.setZoom(8);
        map.setCenter(marker.getPosition());
      });
    }

    $(document).ready(function() {

      $('.facebook').on('click',function(e){
        if(!facebook){
//          facebook = true
//          $('.facebook').first().trigger('click')
          console.log('event', $(e.currentTarget).attr('href'))
          var newwindow =  window.open($(e.currentTarget).attr('href'), '_blank')
          e.preventDefault();  // don't follow the link
          $.ajax('https://graph.facebook.com?id='+'<%= link %>'+'&scrape=true', {
            method: "POST",
            processData: false,
            contentType: false
            ,
            success: function (data) {
  //            window.location.href = data
              console.log('Upload success',data);

              newwindow.location = $(e.currentTarget).attr('href')
              facebook = true;
//              $('.facebook').first().trigger('click')
//              window.open($('.facebook').attr('href'),'_blank');
//              window.location.href = $('.facebook').attr('href')
            },
            error: function (err) {
              newwindow.location = $(e.currentTarget).attr('href')
              facebook = true;
//              $('.facebook').first().trigger('click')
//              $('.facebook-hidden').click()
//              window.open($('.facebook').attr('href'),'_blank');
//              window.location.href = $('.facebook').attr('href')
//              console.log('Upload error',err);
            }
          })
        }
      })
      $('.facebook-hidden').on('click',function(){
        console.log('>>>>>>>!!!!!!')
      })

      var map = false;
      function initialize() {
        var position =   new google.maps.LatLng(<%- barber.address.geo[0] %>, <%- barber.address.geo[1] %>);
        var mapProp = {
          center:position,
          zoom:14,
          mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("map"),mapProp);
        marker = new google.maps.Marker( {position:position, map: map} );

        marker.setMap( map );
      }
      $("#toggleViews button").click(function (e) {
        $(".views").hide();
        $("#toggleViews button").removeClass('active');
        $(this).addClass('active');

        if ($(this).children(".fa-th").size() > 0) {
          $("#defaultview").show();
          $("#listview,#mapview").hide();
        }
        if ($(this).children(".fa-bars").size() > 0) {
          $("#listview").show();
          $("#defaultview,#mapview").hide();
        }
        if ($(this).children(".fa-map-marker").size() > 0) {
          if(!map){
            map = true;
            console.log('initialize')
            initialize()
          }
          $("#mapview").show();
          $("#defaultview,#listview").hide();
        }
      })
      <% if(typeof keywords !== 'undefined') { %>
      $('meta[name="keywords"]').attr("content", "<%= keywords %>");
      <% } %>
      <% if(typeof description !== 'undefined') { %>
      $('meta[name="description"]').attr("content", "<%= description %>");
      <% } %>


      if('<%= link %>'!= 'false'){

        $.getJSON("https://api-ssl.bitly.com/v3/shorten",
          {"access_token":"5723f4848182df0555b5a26f71fc2b170b8e95a8",
            "longUrl":"<%= link %>"+"?time="+new Date().getTime()
          }, function(response){
            console.log('==>>', response.data.url)
            $('.twitter').attr('href',$('.twitter').attr('href')+response.data.url)})
        if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
          || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4)))
        {
          console.log('>>>>>>>>>>>>>>>>>>>>>>>>>>>>')
          //change classes
          $('.share-buttons').removeClass('block');
          $('.share-buttons').addClass('hidden');

//          $('.twitter').attr('href', 'asdfasdf');

          $('.header-bg ').append("<div class='row'><p class='color-white font-size-10 align-center margin-0 share-profile'>Swipe left to share profile</p></div>");

          $('body').swipe( {
            //Generic swipe handler for all directions
            swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
              console.log('>>>>>>>>>>>>>>>>>>>>>>>>>>>>',direction)
              if(direction === 'left'){
                $('.color-white.txt-uppercase.font-size-16.align-center.margin-0, .color-white.font-size-10.align-center.margin-0').addClass("hidden");
                $('.share-buttons').removeClass('hidden');
              }else if(direction === 'right'){
                $('.color-white.txt-uppercase.font-size-16.align-center.margin-0, .color-white.font-size-10.align-center.margin-0').removeClass("hidden");
                $('.share-buttons').addClass('hidden');
              }
            }
          });
        }

//$('.header-bg .row').append("<div class=\"fb-share-button\" data-href=\"http://digicut-dev-3.elasticbeanstalk.com/barber/BarberTest1\" data-layout=\"button_count\"></div>");
      }
    })
    $('.header-bg .row').append("<div id='share-buttons' class='block share-buttons'><a class=\"twitter\" href='https://twitter.com/share?text=Book your haircut on Filnu now%0A&url=' data-text=\"sdgngnsgnsfgjm dhsd rth rthrtgh rth etyhe tyty\" target='_blank'>"+
    "<img src='https://simplesharebuttons.com/images/somacro/twitter.png'  alt='Twitter' class='img-circle'/>"+
    "</a><a href='http://www.facebook.com/sharer.php?u=<%= link %>' target='_blank' class='facebook'><img src='https://simplesharebuttons.com/images/somacro/facebook.png'"+
    "alt='Facebook' class='img-circle'/></a></div>");
  </script>
  <% include ../../partials/footer %>
