<% include ../../partials/header %>
<% include ../../partials/innerheader %>

<div class="container">
    <form  class="col-lg-12 col-md-12 col-ms-12 col-xs-12" action="<%= backUrl %>">
        <input type="submit" value=" Back to profile"
               class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
    </form>
    <% if(reviews.length>0){%>
        <% for(i in reviews){ %>
    <div class="row">
        <div class="margin-top-5">
            <div class="col-xs-4 padding-0">
                <img class="img-responsive img-width-100 margin-auto margin-top-20 profile-pic img-circle"
                     src="<%= reviews[i].user_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + reviews[i].user_id.profile_pic : '/images/icons/user-placeholder.png' %>"
                     alt="profile_pic"/>


                <h3 class="align-center margin-top-15 margin-bottom-10 h3-gray-title font-size-14 uppercase"><%= reviews[i].user_id.username %></h3>
            </div>
            <div class="col-xs-4 padding-0">
                <img src="images/icons/rating-2x.png" alt="5 Clippers" title="5 Clippers"
                     class="img-responsive img-width-100 margin-auto">
            </div>
            <div class="col-xs-4 padding-0">
                <p>"<%= reviews[i].comment %>"</p>
            </div>
        </div>
    </div>

    <hr class="margin-bottom-5">
        <%}%>
    <%}%>
</div>
<% include ../../partials/footer %>
