<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<div class="container margin-auto">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-auto">
        <% if(user.fbid != '' && user.fbid != null){ %>
        <img class="img-responsive" src="//graph.facebook.com/<%= user.fbid %>/picture?type=large"
             alt="profile_pic"/>

        <% }else{ %>
        <img class="img-width-100 margin-auto img-responsive profile-pic dashboard-img-circle margin-top-3"
             src="<%= user.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + user.profile_pic : '/images/icons/user-placeholder.png' %>"
             alt="profile_pic"/>
        <% } %>
      </div>
    </div>
  </div>
  <div class="margin-top-30">
    <hr/>
    <% for(i in user.services){ %>
    <div class=" margin-2 row">
      <div class="col-xs-4 service-padding-0">
        <a class="pull-left  font-size-14 light-gray-color text service_name"><%= user.services[i].service %></a>
        <input value="<%= user.services[i].service %>" class="custom-input half-button hidden form font-size-12 service">
      </div>
      <div class="col-xs-4 service-padding-0">
        <a class="pull-left  font-size-14 light-gray-color text service_price">$<%= user.services[i].price %></a>
        <div class="input-group form hidden service_price">
          <span class="input-group-addon font-size-12">$</span>
          <input type="number" value="<%= user.services[i].price %>" min="1"  class="custom-input half-button currency font-size-12 price" />
        </div>
      </div>
      <div class="col-xs-4 service-padding-0">
        <input type="Button" value='<%= (user.services[i].service=='CUT'||user.services[i].service=='LINE-UP'||user.services[i].service=='SHAVE')?'Edit Price':'Edit'%>'
               class="btnclikable submit-button custom-input bg-red half-button
               <%= (user.services[i].service=='CUT'||user.services[i].service=='LINE-UP'||user.services[i].service=='SHAVE')?'edit_price':'edit_service'
               %> font-size-12">
        <input type="Button" value='Save'
               class="btnclikable submit-button custom-input bg-red half-button hidden
               <%= (user.services[i].service=='CUT'||user.services[i].service=='LINE-UP'||user.services[i].service=='SHAVE')?'save_price':'save_service'
               %> font-size-12">
        <% if(!(user.services[i].service =='CUT'||user.services[i].service=='LINE-UP'||user.services[i].service=='SHAVE')){ %>
        <!--<div class="col-xs-4 service-padding-0">-->
        <input type="Button" value='Delete'
               class="btnclikable submit-button custom-input light-gray-bg half-button font-size-12 delete_service" value="Delete">

        <!--</div>-->
        <% } %>
      </div>

    </div>
    <hr/>
    <% } %>
    <div class="margin-10 row">
      <div class="col-xs-4 service-padding-0">
        <a class="pull-left font-size-14 light-gray-color text add-service"> + ADD SERVICE</a>
        <input value="" class="custom-input half-button hidden form font-size-12 service">
      </div>
      <div class="col-xs-4 service-padding-0">
        <div class="input-group form hidden">
          <span class="input-group-addon font-size-12">$</span>
          <input type="number" value="" min="1"  class="custom-input half-button currency font-size-12 price" />
        </div>
      </div>
      <div class="col-xs-4 service-padding-0">
        <input type="Button" value='Save'
               class="btnclikable submit-button custom-input bg-red add_new hidden half-button font-size-12">
      </div>
    </div>
    <hr/>
  </div>

</div>
<script>
  var error = false,
      success = false,
      service = '',
      service_regExp =  /^[a-zA-Z\+\s_-]{3,11}$/;
$(".edit_price").click(function(){
  $('.form, .add_new, .save_price, .save_service').addClass('hidden');
  $('.text, .edit_price, .edit_service, .delete_service').removeClass('hidden');
  $(this).parents('.row').children().children('.service_price, .edit_price').addClass('hidden');
  $(this).parents('.row').children().children('.form.service_price, .save_price').removeClass('hidden')
})
$(".edit_service").click(function(){
  console.log('edit service')
  $('.form, .add_new, .save_price, .save_service').addClass('hidden');
  $('.text, .edit_price, .edit_service, .delete_service').removeClass('hidden');
  $(this).parents('.row').children().children('.text, .edit_service, .delete_service').addClass('hidden');
  $(this).parents('.row').children().children('.form, .save_service').removeClass('hidden')
})
$(".add-service").click(function(){
  console.log('add service')
  $('.form, .save_price, .save_service').addClass('hidden');
  $('.text, .edit_price, .edit_service, .delete_service').removeClass('hidden');
  $(this).parents('.row').children().children('.text').addClass('hidden');
  $(this).parents('.row').children().children('.form, .add_new').removeClass('hidden')
})
$('.save_price, .save_service').click(function(){
  var standard = ($(this).parents('.row').children().children('.save_price').val())?true:false,
    new_price = $(this).parents('.row').children().children().children('.price').val(),
    old_price = $(this).parents('.row').children().children('.service_price').val(),
    new_service = $(this).parents('.row').children().children('.service').val(),
    old_service =  $(this).parents('.row').children().children('.service_name').html();

  if(standard){
    error = checkPrice(new_price)
  }else{
    error = checkService(new_price, new_service)
  }
if(!error){
  var formData = new FormData();
  formData.append('old_service', old_service);
  formData.append('old_price', old_price);
  formData.append('new_service',  new_service);
  formData.append('new_price', new_price);
  formData.append('standard', standard);
  console.log('>>>>',!(new_price<1))
  $.ajax('/services/', {
    method: "PUT",
    data: formData,
    processData: false,
    contentType: false,
    success: function (data) {
      console.log("success",data);
      $("#popup_message").html(data);
      success = true;
      $('#okay-btn-wrapper').removeClass('hidden')
      $("#popup_wrapper,#okay-btn-wrapper").show();
    },
    error: function (err) {
      console.log("ERROR",err.responseText);
      $("#popup_message").html(err.responseText);
      $('#okay-btn-wrapper').removeClass('hidden');
      $("#popup_wrapper,#okay-btn-wrapper").show();
    }
  });
}

})
$('.add_new').click(function(){
  var formData = new FormData();
  formData.append('service',  $(this).parents('.row').children().children('.service').val());
  formData.append('price', $(this).parents('.row').children().children().children('.price').val());
  $.ajax('/services/', {
    method: "POST",
    data: formData,
    processData: false,
    contentType: false,
    success: function (data) {
      console.log("success",data);
      $("#popup_message").html(data);
      success = true;
      $("#popup_wrapper,#okay-btn-wrapper").show();
    },
    error: function (err) {
      console.log("ERROR",err.responseText);
      $("#popup_message").html(err.responseText);
      $("#popup_wrapper,#okay-btn-wrapper").show();
    }
  });
});
$('.delete_service').click(function(){
  service =  $(this).parents('.row').children().children('.service').val();
  $("#okay-btn-wrapper").addClass('hidden');
  $("#truefalsebox").removeClass('hidden');
  $("#popup_message").html("Are you sure you want to delete this service?");
  $("#popup_wrapper,#truefalsebox").show();
})
$("#nah-btn").click(function () {
  $("#popup_wrapper,#truefalsebox").hide();
})
$("#yeah-btn").click(function (e) {
  var formData = new FormData();
  formData.append('service', service);
//  formData.append('price', $(this).parents('.row').children().children().children('.price').val());
  $.ajax('/services/', {
    method: "DELETE",
    data: formData,
    processData: false,
    contentType: false,
    success: function (data) {
      console.log("success",data);
      $("#popup_message").html(data);
      success = true;
      $("#okay-btn-wrapper").removeClass('hidden');
      $("#truefalsebox").addClass('hidden');
      $("#popup_wrapper,#okay-btn-wrapper").show();
    },
    error: function (err) {
      console.log("ERROR",err.responseText);
      $("#popup_message").html(err.responseText);
      $("#okay-btn-wrapper").removeClass('hidden');
      $("#truefalsebox").addClass('hidden');
      $("#popup_wrapper,#okay-btn-wrapper").show();
    }
  });
})
function checkPrice(price){
  if(price<1){
    $("#popup_message").html("Input correct service price");
    $('#okay-btn-wrapper').removeClass('hidden')
    $("#popup_wrapper,#okay-btn-wrapper").show();
    return true;
  }else{
    return false;
  }
}

function checkService(price, service){
  if(price<1){
    $("#popup_message").html("Input correct service price");
    $('#okay-btn-wrapper').removeClass('hidden')
    $("#popup_wrapper,#okay-btn-wrapper").show();
    return true;
  }else if(!service_regExp.test(service)){
    $("#popup_message").html("Service name should be 3-10 characters and it can't contain digits");
    $('#okay-btn-wrapper').removeClass('hidden')
    $("#popup_wrapper,#okay-btn-wrapper").show();
    return true;
  }else{
    return false;
  }
}

  $("#okay-btn").click(function () {
    $("#popup_wrapper,#okay-btn-wrapper").hide();
    if(success){
      window.location.href="/services";
    }
  })

</script>
<% include ../../partials/footer %>
