<% include ../../partials/header %>
<% include ../../partials/innerheader %>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="div-no-1">
                <i class="working-hour-key available-sign pull-left"></i>

                <h3 class="h3-gray-title font-size-14 h3-available">Available</h3>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="div-no-1">
                <i class="working-hour-key unavailable-sign pull-left"></i>

                <h3 class="h3-gray-title font-size-14 h3-available">Not Available</h3>
            </div>
        </div>
    </div>
    <hr class="hr-1">
</div>
<!-- Available time -->
<div class="container">
    <div id="avail-cal" class="row">
        <!--<% if (typeof message != 'undefined' && message.length > 0) { %>-->
        <!--<div class="alert alert-<%= error == 'true' ? 'danger' : 'success' %>"><%= message %></div>-->
        <!--<% } %>-->
        <form method="post" action="/barber/working-hours">
            <% days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; %>
            <!-- check if availability is null then run empty calendar -->
            <% if(availability == null) { %>
                <% for(day in days){ %>
                <div class="row">
                    <div class="col-xs-1 ">
                        <span class="line-height-76"><%= days[day] %></span>
                    </div>

                    <div class="col-xs-10 padding-0 ">
                        <div class="row margin-0 margin-top-5">
                        <% for(i = 9;i <=15;i++) { %>
                            <div class="col-xs-1 margin-left-15px padding-0">
                                <span class='time-unavailable' id='<%= days[day].toLowerCase() %>-<%= i %>'><%= i > 9  ? i : "0"+i %></span>
                                <input name="<%= days[day].toLowerCase() %>[<%= i %>]" type="hidden" value="false"
                                       id="<%= days[day].toLowerCase() %>-<%= i %>-inp"/>
                            </div>

                        <% } %>
                        </div>

                    <!-- 16-22 -->

                        <div class="row margin-0 margin-top-5">
                            <% for(i = 16;i <=22;i++) { %>
                            <div class="col-xs-1 margin-left-15px padding-0">
                                <span class='time-unavailable' id='<%= days[day].toLowerCase() %>-<%= i %>'><%= i > 9  ? i : "0"+i %></span>
                                <input name="<%= days[day].toLowerCase() %>[<%= i %>]" type="hidden" value="false"
                                       id="<%= days[day].toLowerCase() %>-<%= i %>-inp"/>
                            </div>

                            <% } %>
                        </div>
                    </div>
                </div>
                <hr class="hr-1">
                <% } %>

            <% }else{ %>
                <% for(day in days){ %>

            <div class="row">
                <div class="col-xs-1 ">
                    <span class="line-height-76"><%= days[day] %></span>
                </div>
                <% idxday = days[day].toLowerCase(); %>
                <div class="col-xs-10 padding-0">
                    <div class="row margin-0 margin-top-5">
                    <% for(i = 0,j=9;i <=7,j<=15;i++) { %>
                        <div class="col-xs-1 margin-left-15px padding-0">
                    <span class='<%= availability.availability[0][idxday][i] == "true" ? "time-available" : "time-unavailable" %>'
                          id='<%= days[day].toLowerCase() %>-<%= j %>'>
                            <%= j > 9 ? j : "0"+j %>

                    </span>
                    <input name="<%= days[day].toLowerCase() %>[<%= i %>]" type="hidden"
                           value="<%= availability.availability[0][idxday][i] %>"
                           id="<%= days[day].toLowerCase() %>-<%= i %>-inp"/>
                            </div>
                    <% j++;} %>
                    </div>

                    <div class="row margin-0 margin-top-5">
                        <% for(i = 7,j=16;i <23,j<23;i++) { %>
                        <div class="col-xs-1 margin-left-15px padding-0">
                    <span class='<%= availability.availability[0][idxday][i] == "true" ? "time-available" : "time-unavailable" %>'
                          id='<%= days[day].toLowerCase() %>-<%= j %>'>
                            <%= j > 9 ? j : "0"+j %>

                    </span>
                            <input name="<%= days[day].toLowerCase() %>[<%= i %>]" type="hidden"
                                   value="<%= availability.availability[0][idxday][i] %>"
                                   id="<%= days[day].toLowerCase() %>-<%= i %>-inp"/>
                        </div>
                        <% j++;} %>
                    </div>

                </div>
            </div>
            <hr class="hr-1">
                <% } %>
            <% } %>
            <div class="col-xs-12">
                <input type="submit" value="Save" class="submit-button margin-bottom-5 margin-top-5 custom-input bg-red custom-submit-button">
            </div>
        </form>
    </div>

</div>
<% include ../../partials/footer %>
