@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1280px) {

}


@media screen and (max-width: 1024px) {
  .set-ab-pos-1 .logo-2x {
	margin-top: 0%;
  }
  .img-circle{
	height: 70px !important;
	width: 70px !important;
	margin-top: 5px;
  }
  .dashboard-img-circle{
	 margin-top: -100px;
   }
}

@media screen and (max-width: 960px) {
  .set-ab-pos-1 .logo-2x {
	margin-top: 8%;
  }

}

@media screen and (max-width: 825px) {
  .dashboard-img-circle{
	margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .margin-top-30{
	margin-top: 25px;
  }
 
  .clipper{
	width: 15px !important;
  }
  .clipper-gray{
	width: 15px !important;
  }

}

@media screen and (max-width: 640px) {
	.center {
		width: 100%;
	}
}

@media screen and (max-width: 580px) {
	.center {
		width: 90%;
	}
	.icon-media-top {
		top: 33%;
		
	}
	.h3-media-top {
		margin-top: 7%;
	}
	// .margin-top-15 {
	// 	margin-top: 10%;	
	// }
	// .margin-bottom-10 {
	// 	margin-bottom: 5%;	
	// }
	// .box {
	// 	margin-top: 7.5%;
	// }
	// .margin-top-20 {
	// 	margin-top: 10%;	
	// }

	// .margin-bottom-15 {
	// 	margin-bottom: 7.5%;
	// }
}

@media screen and (max-width: 569px) {
	.center {
		width: 100%;
	}
	// .set-ab-pos-1 {
	// 	top: 30%;

	// 	.profile-pic {
	// 	max-width: 125px;
	// 	width: 35%;
	// 	}
	// }
}

@media screen and (max-width: 480px) {
  .dashboard-img-circle{
	height: 70px !important;
	width: 70px !important;
  }
	.center {
		width: 100%;
	}

}

@media screen and (max-width: 400px) {
	.center {
		width: 100%;
	}

}

@media screen and (max-width: 320px) {
	.center {
		width: 100%;
	}
	.fa {
		font-size: 14px !important;
	}
	.font-size-16 {
		font-size: 14px !important;
	}

}