body {	
	width: 100%;
	height: 100%;
	background: url("../images/bg.png");
	display: block;
	margin-bottom: 30px;
}

a:hover, a:focus, a:active {
	text-decoration:none !important;
	color: #fff;
}
.container {
	max-width: 640px !important;
}


.align-center {
	text-align: center;
}
.margin-auto {
	margin: 0 auto;
	margin-right: auto !important;
	margin-left: auto !important;
}
.margin-0 {
	margin:0;
}
.margin-7 {
	margin: 0px 7.5px;
}

.padding-0 {
	padding: 0 !important;
}

.padding-7 {
	padding: 0px 7.5px;
}

.padding-6 {
	padding: 0px 6px;
}

.padding-bottom-3 {
	padding-bottom:3px;
}
.logo {
	max-width: 170px;
	width: 50%;
	
	margin-top: 10%;
	margin-bottom: 10%;
	
}

.txt-bold {
	font-weight: bold;
}

.margin-top-4 {
	margin-top: 4.6%;	
	margin-left: -6%;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-bottom-5 {
	margin-bottom: 5%;	
}

.margin-bottom-10 {
	margin-bottom: 10%;	
}


.margin-bottom-15 {
	margin-bottom: 15%;	
}

.book-now-button {
	  padding: 9px 40px 9px 40px !important;
}


.margin-top-5 {
	margin-top: 5%;	
}

.margin-top-10 {
	margin-top: 10%;	
}

.margin-top-15 {
	margin-top: 15%;	
}

.margin-top-20 {
	margin-top: 20%;	
}

.margin-bottom-20 {
	margin-bottom: 20%;	
}

.margin-top-30 {
	margin-top: 8%;
}

.margin-top-90 {
	margin-top: 90%;	
}

.custom-input {
	width: 100%;
	padding: 11px 40px 11px 52px;
	border-radius: 30px;	
	border: 1px solid #e5e5e5;
	background-color: #fff;
	
}

.custom-submit-button {
	  padding: 14px 40px 16px 40px;
}

.light-gray-color {
	color: #747272;

	&:hover {
		color: darken(#747272, 10%);
	}
}

.light-gray-color-2x {
	color: lighten(#747272, 10%);

	&:hover {
		color: lighten(#747272, 90%);
	}
}

.light-gray-bg {
	background-color: #747272;
	&:hover {
		background: darken(#747272, 7%);
	}
}

.bg-red {
	background: #cb4426 !important;

	&:hover {
		background: darken(#cb4426, 5%) !important;
	}
}

.bg-red-hover:hover {
		background: darken(#cb4426, 5%) !important;
		color: #fff !important;

		h3 {
			color: #fff !important;
		}
	}

.solid-white-hover:hover, .solid-white-hover.active {
	background: #fff !important;
}

.shadow-hover:hover {
	 -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;

      opacity: 0.6;
}

.opacity-hover:hover {
	opacity: 0.7;
}

.background-hover:hover {
	background: rgba(255, 255, 255, 0.3)
}
.red-color {
	color: #cb4426;

	&:hover {
		color: darken(#cb4426, 5%);
	}
	&:focus {
		color: darken(#cb4426, 5%);
	}
}

.calendar-icon {
	// .margin-bottom-30;
	.custom-input;
    background: url(../images/icons/calendar-icon.png) no-repeat 23px 12px;
    background-size: 16px;
    background-color: #fff;	
}

.mobile-icon {
	// .margin-bottom-30;
	.custom-input;
    background: url(../images/icons/mobile-icon.png) no-repeat 23px 12px;
    background-size: 10px;
    background-color: #fff;	
}

.user-icon {
	// .margin-bottom-30;
	.custom-input;
    background: url(../images/icons/user-icon.png) no-repeat 23px 12px;
    background-size: 14px;
    background-color: #fff;	
}

.email-icon {
	// .margin-bottom-30;
	.custom-input;
    background: url(../images/icons/email-icon.png) no-repeat 20px 17px;
    background-size: 18px;
    background-color: #fff;	
}

.enter-code {
	  padding: 13px 0px;
	  text-align: center;
}

.submit-btn-sub {
	text-align: center;
  	padding: 13px 0px 13px 0px
}

.password-icon {
	// .margin-bottom-30;
	.custom-input;
    background: url(../images/icons/password-icon.png) no-repeat 22px 13px;
    background-size: 16px;
    background-color: #fff;
}

.zipcode-icon {
	// .margin-bottom-30;
	.custom-input;
    background: url(../images/icons/zipcode-icon.png) no-repeat 16px 12px;
    background-size: 16px;
    background-color: #fff;
}


.font-size-12 {
	font-size: 12px;
}
.font-size-13 {
	font-size: 13px;
}

.font-size-20 {
	font-size: 20px !important;
}

// .edit-icon {
//     background: url(../images/icons/edit-icon.png) no-repeat 95% 13px;
// 	background-size: 16px;
// 	top: 0;
// 	right: 10%;
// 	width: 16px;
// 	height: 32px;
// }

.white-color {
	color: #fff !important;
}

.submit-button {
	.white-color;
}

.center {
	width: 35%;
	width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}

.width-100 {
	width: 100%;
	position: relative;
}

.pos-ab {
	position: absolute;
}

.font-size-10 {
	font-size: 10px !important;
}

.set-ab-pos-1 {
	top: 15%;
	bottom: 0;
	left: 0;
	right: 0;

	.logo-2x {
		max-width: 100px;
		width: 30%;
		margin-bottom: 10%;
	}

	.profile-pic {
		max-width: 100px;
		width: 25%;
	}
}


.h3-gray-title {
font-weight: bold;
  font-size: 18px;
  color: #525252;
}

.paragraph {
	width: 85% !important;
	font-weight: 400;

}

.pos-rel {
	position: relative;
}

.set-ab-pos-2 {
	width: 100%;
	height: 100%;
	top: 0;	bottom: 0;	left: 0; right: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	
	.box {
		max-width: 500px;
		width: 90%;
		padding: 5%;
		margin-top: 50%;
		background-color: #d6d6d6;
		color: #555555;
	}

	a {
		color: #fff;
		font-size: 12px;
		padding: 1px 7px; 
		margin: -10px -10px 0 0;
		border-radius: 50%;
		line-height: 18px;
	}

	p{
		padding: 5% 2%;
		margin-top: 10px;
	}
}

.fa {	
	font-family: FontAwesome !important;
}

.display-inline {
	margin-bottom: 0;
	width: 100% !important;
	margin-right: auto !important;
	margin-left: auto !important;
	li{
		display: inline-block;
	}
}




.set-ab-pos-3 {
	width: 100%;
	top: 0;	bottom: 0;	left: 0; right: 0;
	z-index: 10;

	a {
		font-size: 24px;
		color: #fff;
		margin-left: -150px;

		i {
			font-size: 22px;
		}
	}

	h3 {
		color: #fff;
		font-size: 22px;
		line-height: 0;
	}
}

.profile-pic-history {
	//max-width: 150px;
	//width: 50%;
	height:100px;
	max-height:135px;
}

.edit-profile-pic {	
	width: 95%;
}

.signup-progress-steps {
	width: 112px;

	li {
		display: inline-block;

		p {
			background-color: #fff;
			padding: 6px 12px;
			color: #525252;
			border-radius: 50%;
			border: 1px #e5e5e5 solid;
		}
		
		img {
			width: 30px;
			height: 2px;
		}

		

	}
}

.signup-step-active {
	color: #fff !important;
}

.back-button {
	color: #fff;
	padding: 6px 20px 6px 20px;
	border-radius: 30px;	
	border: 1px solid #e5e5e5;
	.light-gray-bg;
}

.set-ab-pos-4 {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	
	a {
		font-size: 24px;
		color: #fff;
		margin-left: -275px;

		i {
			margin-top: 15px;
			font-size: 22px;
		}
	}
}

 .set-ab-pos-9 {
 	color: #fff;
 	top: 3%;
 	right: 3%;
 	
 	button {
 		background-color: rgba(255, 255, 255, 0.4);

 		span {
 			background-color: #fff;
 		}
 	}
 }

.set-ab-pos-1-v1 {
	top: 35%;

	.logo-2x {
		max-width: 100px;
		width: 30%;
		margin-bottom: 2%;
	}

	.profile-pic {
		max-width: 100px;
		width: 25%;
	}
}

.img-width-60 {
	max-width: 75px;
	width: 100%;
	margin-left: 18% !important;
}

.img-width-75 {
	max-width: 75px;
	width: 60%;
}

.img-width-100 {
	max-width: 100px;
	width: 90%;
}

.width-auto {
	width: auto !important;
	// margin: 0 20px;
}

.select-time-active {
  color: #cb4426;
}

.txt-regular {
	font-weight: normal;
}

.line-height-20 {
	line-height: 20px !important;
}

.line-height-38 {
	line-height: 38px !important;
}

.line-height-76 {
	line-height: 70px !important;
}


.hr-1 {
	margin: 10px 0;
}

.txt-uppercase {
	text-transform: uppercase;
}

.font-size-16 {
	font-size: 16px !important;
}

.goback-icon {
	.pos-ab;
	top: 25%;
	left: 5%;
}

.gonext-icon {
	.pos-ab;
	top: 25%;
	right: 5%;
}


.check-icon {
	.pos-ab;
	top: 25%;
	right: 5%;
}

.margin-top-1 {
	margin-top:1.8% !important;
}

.line-height {
	line-height: 28px;
}

.white-bg {
	width: 100% !important;
	// height: 110px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5% 0;
}

.bg-white {
	background-color: #fff !important;
}

.bg-white-opac {
	background: rgba(255,255,255,0.75);
}

.confirmed-img {
	width: 25%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.placeholder-center {
	::-webkit-input-placeholder {
	   text-align: center !important;
	}

	:-moz-placeholder { /* Firefox 18- */
	   text-align: center !important;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   text-align: center !important;  
	}

	:-ms-input-placeholder {  
	   text-align: center !important; 
	}
	 padding: 10px 40px 12px 40px !important;
}

 .font-size-14 {
 	font-size: 14px;
 }

 .half-button {
 	padding: 10px 0px;
 }

 .input-padding-right-0 {
 	padding: 11px 11px 11px 42px;
 }

.hr {
	margin: 10px 0;
}

.alert-icon {
	width: 30px;
	padding: 0 10px 0 0;
}

.nav-justified > li {
	  display: table-cell;
  		width: 1%;
}

.nav-justified > li > .map-button {
	border-radius: 0px;
	margin-bottom: 0px;
}

.map-button {
	padding: 14px 50% 14px 50%;
}

.map-button.bg-white-opac:hover , .map-button.bg-white-opac:focus{
	background: #fff;
	color: #cb4426;

}

.map-button.bg-red:hover {
	color:#fff;
}

.color-white {
	color: #fff;
}

.card-icon {
	background: url(../images/icons/credit-card-icon.png) no-repeat 22px 16px;
    background-size: 16px;
    background-color: #fff;
}

.card-cvv-icon {
	background: url(../images/icons/credit-card-cvv-icon.png) no-repeat 22px 13px;
    background-size: 16px;
    background-color: #fff;
}

.location-icon {
	background: url(../images/icons/location-icon.png) no-repeat 22px 13px;
    background-size: 10px;
    background-color: #fff;
}

.datepicker table tr td span.active {
	.bg-red
}

.datepicker table tr td span {
	color: #525252;
}



// side menu


.cbp-spmenu {
background: #525252;
position: fixed;
}
.cbp-spmenu h3 {
color: #afdefa;
fontt-size: 1.9em;
padding: 20px;

margin: 0;

font-weight: 300;

background: #0d77b6;

}

.cbp-spmenu a {

display: block;

color: #fff;

font-size: 1.1em;

font-weight: 300;

}

.cbp-spmenu a:hover {

background: #fff;
color: #cb4426;
font-weight: bold;

}

.cbp-spmenu a:active {

background: #fff;
font-weight: bold;

color: #cb4426;

}

.cbp-spmenu-vertical {

width: 240px;

height: 100%;

top: 0;

z-index: 1000;

}

.cbp-spmenu-vertical a {

border-bottom: 1px solid rgba(0, 0, 0, 0.1);

padding: 1em;

}


.cbp-spmenu-left {

left: -240px;

}

.cbp-spmenu-left.cbp-spmenu-open {

left: 0px;

}

	.cbp-spmenu, .cbp-spmenu-push {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.full-width {
	width: 100% !important;
}

.width-33 {
	width: 33.33%;
	height: 40px;
	.light-gray-color;
}

.select-service-box {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 8%;

}

.font-size-12 {
	font-size: 12px !important;
}

.not-available-time-slot {
	background-color: #e5e5e5;
	border-radius: 30px;
	padding: 10px;
	cursor: not-allowed;
}

.available-time-slot {
	background-color: #cb4426;
	color: #fff;
	border-radius: 30px;
	padding: 10px;
}

.time-confirm-button {
	width: 45%;
	padding: 10px 15px !important;
}

.working-hour-key {
	width: 32px;
	height: 32px;
	display: block;
	border-radius: 50%;
	margin-right: 10px;
}

.available-sign {
	background-color: #cb4426;	
}

.unavailable-sign {
	background-color: #3e3e3e;
}

.h3-available {
	line-height: 30px;
}

.working-hours {
	color: #fff;
	padding: 4px 6px;
	border-radius: 50%;
	cursor:pointer;
}

.time-available {
	.working-hours;
	.bg-red;
}

.time-unavailable {
	.working-hours;
	background-color: #3e3e3e;

	&:hover {
		background-color: lighten(#3e3e3e, 8%);		
	}
}

.on-hover-black:hover {
		background-color: darken(#3e3e3e, 15%);		
	}

.margin-left-10px {
	margin-left: 10px;
}

.padding-left-0 {
	padding-left: 0 !important;
}

.padding-right-0 {
	padding-right: 0 !important;
}

.col-xs-13 {
	width: 4%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}

.center5 {
	.center;
	width: 100% !important;
}

.btn-default.active , .btn-default.bg-white-opac:hover , .btn-default.bg-white-opac:focus{
	.red-color;
	.bg-white;
	text-shadow:none;
	box-shadow:none;
	outline: 0px;
}

.review-txt-area {
	width: 95%;
	padding: 5px 10px;
	border-radius: 5px;
}





// Rating

#hide {
    display:none;
}
 
.rating input {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width: 35px;
  	height: 79px
}
 
.rating span {
    //width:35px;
    //height:79px;
    line-height: 104px;
  	padding: 39.5px 35px 24px 0 !important; 
    background:url(../images/icons/result.png) no-repeat 0px -89px;
}
 
/* Change span immediately following the checked radio */
 
.rating input:checked + span {
    background-position:0px -89px;
}
 
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
 
.rating input:checked + span ~ span {
    background-position:0 0;
}
  




// input[type=checkbox].css-checkbox {
// 	position:absolute; z-index:-1000; left:-1000px; overflow: hidden;
// 	clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
// }

// input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
// 	padding-left:37px;
// 	height:32px; 
// 	display:inline-block;
// 	line-height:32px;
// 	background-repeat:no-repeat;
// 	background-position: 0 0;
// 	font-size:32px;
// 	vertical-align:middle;
// 	cursor:pointer;

// }

// input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
// 	background-position: 0 -32px;
// }
// label.css-label {
// background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_18a1c2f8a060784b565b2dde748b8051.png);
// -webkit-touch-callout: none;
// -webkit-user-select: none;
// -khtml-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// user-select: none;
// }




// .top {
// 	top: 22% !important;
// }









// .font-size-16 {
// 	font-size: 16px;
// 	color: #070201;
// }



// .facebook-icon {
// 	.custom-input;
// 	padding: 12px 68px 12px 68px;
// 	margin-left: 8px;
// 	background-color: #4574de;
// 	border: none;
// 	color: #fff;
// }





// .submit-button-fixed {	
// 	.custom-input;
// 	.bg-red;
// 	color: #fff;
// 	font-weight: 600;
// 	width: 35%;
// 	display: block;
// }



// .font-s-18 {
// 	font-size: 18px;
// }



// .pos-ab-center {
// 	margin-left: auto;
// 	margin-right: auto;
// 	left: 0;
// 	right: 0;
// 	top : 0%;
// }








// .icon-abs {
// 	.pos-ab;
// 	top: 17px;
// 	left: 78px;
// 	color: #fff;
// }



// /******************************************************************************

// == Sign up page

// ******************************************************************************/



// .profile-img-div {
// 	.pos-ab;
// 	margin-left: auto;
// 	margin-right: auto;
// 	left: 0;
// 	right: 0;
// 	top : 28%;

// 	.profile-pic {
// 		width: 225px;
// 		margin-top: 30px;
// 	}
// }

// .col-xs-12.city-bg {
// 	padding-right: 0px;
// 	padding-left: 0px;
// }

// .signup-progress-steps {
// 	width: 121px;
// 	margin-bottom: 30px;

// 	li {
// 		display: inline-block;

// 		p {
// 			background-color: #fff;
// 			padding: 6px 14px;
// 			color: #525252;
// 			border-radius: 50%;
// 			border: 1px #e5e5e5 solid;
// 		}
		
// 		img {
// 			width: 30px;
// 		}

		

// 	}
// }

// 

// .goback-icon {
// 	margin-left: -22em;
// 	border-right: none;
// }

// .h3-top-title {
// 	margin-top: 7px;
// }

// .black-bg-ab {
// 	color: #fff;
// 	margin: auto;
// 	background-color: rgba(0, 0, 0, 0.8);
// 	top: 0;	left: 0;	bottom: 0;	right: 0;
// 	z-index: 15;
// 	padding: 25% 0 75% 0;
// 	position: fixed;
	
// 	.box {		
// 		background-color: #fff;

// 	    a {
// 	    	padding: 0px 10px 5px 10px;
// 	    	background-color: red;
// 	    	color: #fff;
	    	
// 	    	border-radius: 50%;
// 	    	margin: -20px -15px 0 0;
// 	    }
// 	    p {
// 	    	color: #000;
// 	    	padding: 10%;
// 	    }
//     }

// }

// .back-button {
// 	color: #fff;
// 	padding: 6px 20px 6px 20px;
// 	border-radius: 30px;	
// 	border: 1px solid #e5e5e5;
// 	background-color: #525252;

// 	.fa {
// 		border-right: none;
// 	}
// }
.img-circle{
  width: 70px !important;
  height: 70px !important;
}
.dashboard-img-circle{
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
}
.profileBtn-padding{
  padding: 9px !important;
}
.float-right{
  float: right;
}