<div class="width-100">
  <div class="col-xs-2" style="position: absolute;top:30px;z-index: 33333">
    <a href="/dashboard"><i class="fa fa-chevron-left color-white pull-left"></i></a>
  </div>
  <img src="/images/city-bg.png" class="margin-auto img-responsive" alt="City Background">
  <div class="pos-ab set-ab-pos-1">
    <img src="/images/logo-1x.png" class="margin-auto img-responsive logo-2x" alt="Filnu">

  </div>
</div>
