<div class="width-100">
    <div class="col-xs-2" style="position: absolute;top:30px;z-index: 33333">
        <a href="/dashboard"><i class="fa fa-chevron-left color-white pull-left"></i></a>
    </div>
    <img src="/images/city-bg.png" class="margin-auto img-responsive" alt="City Background">
    <div class="pos-ab set-ab-pos-1">
      <a href="javascript:void(0)">
        <img src="/images/logo-1x.png" class="margin-auto img-responsive logo-2x" alt="Filnu">
        <% if(typeof user!=='undefined') { if(user.fbid!='' && user.fbid!=null){ %>
        <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-top-10 margin-bottom-5 dashboard-img-circle" src="//graph.facebook.com/<%= user.fbid %>/picture?type=large" alt="profile_pic"/>

        <% }else{ %>
        <img class="margin-auto img-responsive profile-pic img-width-100 dashboard-img-circle" src="<%= user.profile_pic?'https://digicut-public.s3.amazonaws.com/'+user.profile_pic:'/images/icons/user-placeholder.png' %>" alt="profile_pic"/>
        <% } } else { %>
        <img src="images/profile-img.png"  class="img-width-100 margin-auto img-responsive profile-pic" alt="Profile Image">
        <% } %>
      </a>
    </div>

</div>
