<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Filnu Admin</title>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/bower/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/bower/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="/css/dist_css/sb-admin-2.css" rel="stylesheet">
    <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/js/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
    <script src="/bower/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/bower/jquery-toast-plugin/jquery.toast.js"></script>
    <script src="/js/dist_js/sb-admin-2.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/media-q.css" type="text/css" />
    <link rel="stylesheet" href="/bower/jquery-toast-plugin/jquery.toast.css" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="/bower/moment/moment.js"></script>
    <script type="text/javascript" src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
    <![endif]-->
</head>