<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">Filnu Admin v2.0</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/admin" id="all"><i class="fa fa-users fa-fw"></i> Users (<%= users %>)</a>
                </li>
                <li>
                    <a href="/admin/clients" id="clients"><i class="fa fa-users fa-fw"></i> Clients (<%= clients %>)</a>
                </li>
                <li>
                    <a href="/admin/barbers" id="barbers"><i class="fa fa-users fa-fw"></i> Barbers (<%= barbers %>)</a>
                </li>
                <li>
                    <a href="/admin/appointments" id="appointments"><i class="fa fa-dashboard fa-fw"></i> Appointments </a>
                </li>
            </ul>
        </div>
    </div>
</nav>