<script src="/bower/moment/moment.js"></script>
<script src="/bower/moment-timezone/builds/moment-timezone-with-data.js"></script>
<!--<script src="/bower/moment-timezone/moment-timezone.js"></script>-->
<% if(appointments.length == 0) { %>
<div class="row">
    <div class="col-xs-12">
        <h4 class="align-center margin-bottom-10 txt-bold">No appointments yet!</h4>
    </div>
</div>

<% } else { for(i in appointments){%>
<% icon="cut-icon.png"; if (appointments[i].service.toLowerCase() == "shave"){ %>
<% icon = "shave-brush.png" %>
<% }  if (appointments[i].service.toLowerCase() == "line-up") { %>
<% icon = "raz-icon.png" %>
<% } %>
<div class="row clickable-appointment" for="<%= appointments[i]._id %>">
    <hr>
    <div class="col-xs-3 padding-0 datetime" style="padding: 5px !important;">
<%= moment(appointments[i].date).format("h:mm A") %>
    </div>
    <div class="col-xs-3 padding-0">
        <!--<%= appointments[i].manually %>-->
        <% if(appointments[i].manually !== true){%>
        <img class="img-responsive img-width-75 margin-auto custom-padding"
             src="<%= appointments[i].user_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + appointments[i].user_id.profile_pic : '/images/icons/user-placeholder.png' %>"
             alt="profile_pic"/>
        <p class="align-center margin-top-5"><%= appointments[i].user_id.username %></p>
        <% } else { %>
        <img class="img-width-100 margin-auto img-responsive profile-pic-history margin-bottom-5 img-circle"
             src="/images/icons/user-placeholder.png"
             alt="profile_pic"/>
        <p class="align-center margin-top-5"><%= appointments[i].client_name %></p>
        <% }%>
    </div>
    <div class="col-xs-3 padding-0">
        <img src="images/icons/<%= icon %>" alt="Shave" title="Shave"
             class="img-responsive img-width-75 margin-auto">

        <p class="align-center margin-top-5"><%= appointments[i].service.toLowerCase() %><%= appointments[i].ico %></p>
    </div>

    <div class="col-xs-3 padding-0">
        <img src="images/icons/calendar.png" alt="Date" title="Date"
             class="img-responsive img-width-75 margin-auto">

        <p class="align-center margin-top-5">
            <% var dt = new Date(appointments[i].date); %>
            <%= (dt.getMonth()+1) < 10 ? "0" + (dt.getMonth()+1) : (dt.getMonth()+1) %>
            /<%= dt.getDate() < 9 ? "0" + dt.getDate() : dt.getDate() %>/<%= dt.getFullYear().toString().substr(2,2) %></p>
    </div>
</div>
<% } %>
<% } %>

<script>
    $(document).ready(function(){
        $(".btnclikable.bg-red").click(function () {
            window.location.href = "/appointments/complete/" + $(this).attr('for');
        })
    })
</script>
