<% for(var i = 0;i < cutpics.length; i+=3){ %>
<div class="row margin-top-5">
    <div class="col-xs-4 padding-7">
        <a href="/upload/barber-cut-pic/<%= typeof cutpics[i]!='undefined'?cutpics[i].pic+"/"+cutpics[i].id:'' %>" title="Click to upload image"><img src="<%= typeof cutpics[i]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i].pic:'/img/no_image.png' %>" alt="Hair Style"
                                                                                                                                    class="img-responsive shadow-hover"></a>
    </div>

    <div class="col-xs-4 padding-7">
        <a href="/upload/barber-cut-pic/<%= typeof cutpics[i+1]!='undefined'?cutpics[i+1].pic+"/"+cutpics[i+1].id:'' %>" title="Click to upload image"><img src="<%= typeof cutpics[i+1]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i+1].pic:'/img/no_image.png' %>" alt="Hair Style"
                                                                                                                                        class="img-responsive shadow-hover"></a>
    </div>
    <div class="col-xs-4 padding-7">
        <a href="/upload/barber-cut-pic/<%= typeof cutpics[i+2]!='undefined'?cutpics[i+2].pic+"/"+cutpics[i+2].id:'' %>" title="Click to upload image"><img src="<%= typeof cutpics[i+2]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i+2].pic:'/img/no_image.png' %>" alt="Hair Style"
                                                                                                                                        class="img-responsive shadow-hover"></a>
    </div>
</div>
<%}%>

<% for(var i = Math.ceil(cutpics.length/3);i < 3; i++){ %>
<div class="row margin-top-5">
    <div class="col-xs-4 padding-7">
        <a href="/upload/barber-cut-pic/" title="Click to upload image"><img src="/img/no_image.png" alt="No Image"
                                                                             class="img-responsive shadow-hover"></a>
    </div>
    <div class="col-xs-4 padding-7">
        <a href="/upload/barber-cut-pic" title="Click to upload image"><img src="/img/no_image.png" alt="No Image"
                                                                            class="img-responsive shadow-hover"></a>
    </div>
    <div class="col-xs-4 padding-7">
        <a href="/upload/barber-cut-pic" title="Click to upload image"><img src="/img/no_image.png" alt="No Image"
                                                                            class="img-responsive shadow-hover"></a>
    </div>
</div>
<%}%>