<% for(var i = 0;i < cutpics.length; i+=3){ %>
<div class="row margin-top-5">
    <div class="col-xs-4 padding-7">
        <% if (typeof cutpics[i]!='undefined'){ %>
        <a href="/view/<%= barber.username %>/<%= cutpics[i].pic %>"
           title="Click to view image full screen">
            <img src="<%= typeof cutpics[i]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i].pic:'/img/no_image.png' %>"
                 alt="Hair Style" class="img-responsive shadow-hover">
        </a>
        <% } else { %>
        <img src="<%= typeof cutpics[i]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i].pic:'/img/no_image.png' %>"
             alt="Hair Style" class="img-responsive shadow-hover">
        <% } %>
    </div>

    <div class="col-xs-4 padding-7">
        <% if (typeof cutpics[i+1]!='undefined'){ %>
        <a href="/view/<%= barber.username %>/<%= cutpics[i+1].pic %>"
           title="Click to view image full screen">
            <img src="<%= typeof cutpics[i+1]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i+1].pic:'/img/no_image.png' %>"
                 alt="Hair Style" class="img-responsive shadow-hover">
        </a>
        <% } else { %>
        <img src="<%= typeof cutpics[i+1]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i+1].pic:'/img/no_image.png' %>"
             alt="Hair Style" class="img-responsive shadow-hover">
        <% } %>
    </div>
    <div class="col-xs-4 padding-7">
        <% if (typeof cutpics[i+2]!='undefined'){ %>
            <a href="/view/<%= barber.username %>/<%= cutpics[i+2].pic %>"
               title="Click to view image full screen">
               <img src="<%= typeof cutpics[i+2]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i+2].pic:'/img/no_image.png' %>"
                    alt="Hair Style" class="img-responsive shadow-hover">
            </a>
        <% } else { %>
            <img src="<%= typeof cutpics[i+2]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i+2].pic:'/img/no_image.png' %>"
                 alt="Hair Style" class="img-responsive shadow-hover">
        <% } %>
    </div>
</div>
<%}%>

<% for(var i = Math.ceil(cutpics.length/3);i < 3; i++){ %>
<div class="row margin-top-5">
    <div class="col-xs-4 padding-7">

            <img src="/img/no_image.png" alt="No Image" class="img-responsive shadow-hover">

    </div>
    <div class="col-xs-4 padding-7">
        <img src="/img/no_image.png" alt="No Image"
                                                                            class="img-responsive shadow-hover">
    </div>
    <div class="col-xs-4 padding-7">
        <img src="/img/no_image.png" alt="No Image"
                                                                            class="img-responsive shadow-hover">
    </div>
</div>
<%}%>
