<% for(var i = 0;i < cutpics.length; i++){ %>

<div class="row margin-top-5">
    <div class="col-xs-12 padding-7">
        <a href="/view/<%= barber.username %>/<%= typeof cutpics[i]!='undefined'?cutpics[i].pic:'' %>"
           title="Click to view image full screen">
            <img src="<%= typeof cutpics[i]!='undefined'?"https://digicut-public.s3.amazonaws.com/"+cutpics[i].pic:'/img/no_image.png' %>" alt="Hair Style" class="img-responsive shadow-hover full-width margin-auto">
        </a>
    </div>
</div>
<%}%>

<% for(var i = cutpics.length;i < 9 ;  i++){ %>
<div class="row margin-top-5">
    <div class="col-xs-12 padding-7">
        <img src="/img/no_image.png" alt="Hair Style" class="img-responsive shadow-hover full-width margin-auto">
    </div>
</div>
<%}%>