
<% if(appointments.length == 0) { %>
<div class="row">
    <div class="col-xs-12">
        <h4 class="align-center margin-bottom-10 txt-bold">Looks like you haven’t gotten<br>any cuts yet</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 align-center">
        <a href="/barber/search" class="submit-button margin-bottom-5 custom-input bg-red custom-submit-button">Find
            a barber now</a>
    </div>
</div>
<% } else { %>
<p class="align-center margin-top-5 remaining-message"><%= remainingMessage %></p>
<% for(i in appointments){%>
<% icon="cut-icon.png"; if (appointments[i].service.toLowerCase() == "shave"){ %>
<% icon = "shave-brush.png" %>
<% }  if (appointments[i].service.toLowerCase() == "line-up") { %>
<% icon = "raz-icon.png" %>
<% } %>



<div class="row clickable-appointment" for="<%= appointments[i]._id %>">
    <hr>

    <div class="col-xs-3 padding-0">
        <a href="/barber/<%= appointments[i].barber_id.username %>"><img class="img-responsive img-width-75 margin-auto custom-padding"
             src="<%= appointments[i].barber_id.profile_pic ? 'https://digicut-public.s3.amazonaws.com/' + appointments[i].barber_id.profile_pic : '/images/icons/user-placeholder.png' %>"
             alt="profile_pic"/></a>
        <p class="align-center margin-top-5"><%= appointments[i].barber_id.username %></p>
    </div>
    <div class="col-xs-3 padding-0">
        <img src="images/icons/<%= icon %>" alt="Shave" title="Shave"
             class="img-responsive img-width-75 margin-auto">

        <p class="align-center margin-top-5"><%= appointments[i].service.toLowerCase() %></p>
    </div>
    <div class="col-xs-3 padding-0">
        <img src="images/icons/location.png" alt="Location" title="Location"
             class="img-responsive img-width-75 margin-auto">

        <p class="align-center margin-top-5"><%= appointments[i].barber_id.address.city; %></p>
    </div>
    <div class="col-xs-3 padding-0">
        <img src="images/icons/calendar.png" alt="Date" title="Date"
             class="img-responsive img-width-75 margin-auto">

        <p class="align-center margin-top-5">
            <% var dt = new Date(appointments[i].date); %>
            <%= (dt.getMonth()+1) < 10 ? "0" + (dt.getMonth()+1) : (dt.getMonth()+1) %>
            /<%= dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate() %>/<%= dt.getFullYear().toString().substr(2,2) %></p>
    </div>
</div>
<% } %>
<% } %>
