<script>
    $("form").validate();
</script>
</div>
<script src="/js/bootstrap.js"></script>
<script src="/js/jspatch.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/responsive-calendar.min.js"></script>
<script src="/js/device.min.js"></script>
<script src="/js/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
<script src="/js/jquery.inputmask/dist/jquery.inputmask.bundle.js"></script>
</body>
</html>