<!doctype html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="EXPIRES"
              CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
      <% if (typeof description === 'undefined') { %>
        <meta name="keywords" content="barber, barbers, barbershop, barbershops, haircut, black barber, black barbers, black barbershop, need a barber, barber app">
        <meta name="description" content="Find a barber near you.">
      <% } else { %>
        <meta name="keywords" content="barber, barbers, barbershop, barbershops, haircut, black barber, black barbers, black barbershop, need a barber, barber app">
        <meta name="description" content="Book your next haircut on filnu.com">
        <meta property="og:url" content="<%= link %>" />
        <meta property="og:title" content="Book your haircut on Filnu now" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:image" content="<%= barberCutPic %>" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="<%= link %>">
        <meta name="twitter:title" content="Book your haircut on Filnu now">
        <meta name="twitter:description" content="<%= description %>">
        <meta name="twitter:image" content="<%= barberCutPic %>">
      <% } %>


      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
      <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap-theme.css" type="text/css" />
      <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css" type="text/css" />
      <link rel="stylesheet" href="/css/style.css" type="text/css" />
      <link rel="stylesheet" href="/css/media-q.css" type="text/css" />
      <link rel="stylesheet" href="/css/bootstrap-datepicker.css" type="text/css" />
      <link rel="stylesheet" href="/css/datepicker.css" type="text/css" />
      <link rel="stylesheet" href="/css/check-box-style.css" type="text/css" />
      <link rel="stylesheet" href="/css/radio-style.css" type="text/css" />
      <link rel="stylesheet" href="/css/responsive-calendar.css" type="text/css" />
      <!--<link rel="canonical"-->
            <!--href="https://dev.twitter.com/web/tweet-button">-->
      <!-- HTML5 shim for IE backwards compatibility -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/core.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.js"></script>
        <script src="/bower/jquery-placeholder/jquery.placeholder.min.js"></script>
        <script src="/bower/jquery.scrollTo/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="/bower/jquery-touchswipe/jquery.touchSwipe.js"></script>

      <!--[if  IE 9]>
      <script>
        // To test the @id toggling on password inputs in browsers that don’t support changing an input’s @type dynamically (e.g. Firefox 3.6 or IE), uncomment this:
        // $.fn.hide = function() { return this; }
        // Then uncomment the last rule in the <style> element (in the <head>).
        $(function() {
          // Invoke the plugin
          $('input, textarea').placeholder({customClass:'my-placeholder'});
          // That’s it, really.

          var html;

          if ($.fn.placeholder.input && $.fn.placeholder.textarea) {
            html = '<strong>Your current browser natively supports <code>placeholder</code> for <code>input</code> and <code>textarea</code> elements.</strong> The plugin won’t run in this case, since it’s not needed. If you want to test the plugin, use an older browser.';
          } else if ($.fn.placeholder.input) {
            html = '<strong>Your current browser natively supports <code>placeholder</code> for <code>input</code> elements, but not for <code>textarea</code> elements.</strong> The plugin will only do its thang on the <code>textarea</code>s.';
          }

          if (html) {
            $('<p class="note">' + html + '</p>').insertBefore('form');
          }
        });
      </script>
      <![endif]-->
        <style>

            label.error{
                /* position: relaive
                top:-10px; */
                display:block;
                color: red;
                margin: -10px 0 0 10px;
                padding:0
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
              color:    #999;
            }
            .my-placeholder { color: #aaa; }
        </style>
    </head>
    <body>
    <% include popup %>
        <div class="wrap">

