<div class="header-bg">
    <!-- <img src="images/dark-city-bg.png" class="margin-auto img-responsive city-bg" alt="City Background"> -->
    <div class="header-elements">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2">
                    <a href="javascript:void(0)" class="goback-icon-2"><i class="fa fa-chevron-left color-white pull-left"></i></a>
                </div>
                <div class="col-xs-8 padding-7">
                    <h1 class="color-white txt-uppercase font-size-16 align-center margin-0"><%= title %></h1>
                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </div>
    </div>
</div>
