<div class="black set-ab-pos-2" id='popup_wrapper' style='display:<%= typeof popupmessage!='undefined' && popupmessage.length>0 ?'block':'none' %>'>
    <div class="box center">
        <a href="javascript:void(0)" onclick="$('#popup_wrapper').hide()" class="align-center pull-right bg-red">x</a>
        <p class="align-center txt-bold" id='popup_message'><%= typeof popupmessage!='undefined'?popupmessage:'' %>
        <% if(typeof show_verfication!='undefined' && show_verfication!=''){ %>
            <a href="/users/resend_verification">Click here to resend verification mail.</a>
            <%}%>
        </p>
        <% if (popupmessage!='Your account deactivated, please activate it.') { %>
        <div class="container" id="truefalsebox" style="display: none">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  padding-7 margin-left-3">
                    <input type="Button" id="nah-btn" value="Nah, Keep it!" class="submit-button margin-bottom-5 custom-input  light-gray-bg padding-left-0 padding-right-0 font-size-13">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 padding-7">
                    <input type="Button" id="yeah-btn" value="Yeah, Delete it!" class="submit-button margin-bottom-5 custom-input bg-red  padding-left-0 padding-right-0 font-size-13">
                </div>
            </div>

        </div>
      <div class="container" id="confirmbox" style="display: none">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  padding-7 margin-left-3">
            <input type="Button" id="complete" value="Complete this transaction" class="remaining-message align-center margin-top-5 submit-button margin-bottom-5 custom-input  bg-red  padding-left-0 padding-right-0 font-size-13">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 padding-7">
            <input type="Button" id="save_money" value="Save money now" class="remaining-message align-center margin-top-5 submit-button margin-bottom-5 custom-input bg-red  padding-left-0 padding-right-0 font-size-13">
          </div>
        </div>

      </div>
        <div class="container " id="okay-btn-wrapper">
            <div class="row">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-xs-offset-3 col-lg-offset-1">
                    <input type="Button" id="okay-btn" onclick="$('#popup_wrapper').hide()" value="Okay" class="submit-button margin-bottom-5 custom-input bg-red  padding-left-0 padding-right-0 font-size-13">
                </div>
            </div>

        </div>

        <% } else { %>
            <form action="/account/subscribe">
                <div class="container subscribe-form">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-xs-offset-3 col-lg-offset-1">
                            <input type="submit" id="okay-btn"  value="Activate account" class="submit-button margin-bottom-5 custom-input bg-red  padding-left-0 padding-right-0 font-size-13">
                        </div>
                    </div>
                </div>
            </form>
        <% } %>
    </div>
</div>
