<a href='/profile/edit' class="btn btn-block btn-danger">Edit Profile</a>
<a href='/account/subscription' class="btn btn-block btn-danger">Subscription Details</a>
<a href='/profile/appointments' class="btn btn-block btn-danger">My Appointments</a>
<% if (user.type==0){%>
<a href='/barber/search' class="btn btn-block btn-danger">Search</a>
<%}%>
<% if (user.barber.active==1){%>
    <a href='/barber/availability/setup' class="btn btn-block btn-danger">Availability</a>
    <a href='/barber/gallery' class="btn btn-block btn-danger">Gallery</a>
<%}%>
<% if (user.barber.active==0 && user.customer.active==0){%>
    <a href='/account/subscribe' class="btn btn-block btn-danger">Subscribe</a>
<%}%>
<a href='/logout' class="btn btn-block btn-danger">Logout</a>